<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">

<body layout:fragment="content">
<header th:replace="fragments :: admin-site-header"></header>

<div class="modal fade" id="couponPolicyAdd" th:with="merchantId=${#request.getParameter('merchantId')}, merchantParam=${merchantId != null ? '?merchantId=' + merchantId : ''}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">신규 쿠폰 정책 등록</h4>
                        </div>
                    </div>
                </div>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card border-bottom-0">
                        <ul class="nav nav-tabs col-12">
                            <li class="nav-item flex-grow-1" style="text-align: center">
                                <a class="nav-link active" href="#coupon1" data-toggle="tab">금액 쿠폰</a>
                            </li>
                            <li class="nav-item flex-grow-1" style="text-align: center">
                                <a class="nav-link" href="#coupon2" data-toggle="tab">퍼센트 쿠폰</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card border-top-0">
                    <div class="tab-content p-0 m-0">
                        <div class="tab-pane fade show active col-12 stretch-card" id="coupon1">
                            <form class="col-12 p-0" th:action="@{'/admin/management/coupons/cash' + ${merchantParam}}" method="post">
                                <div class="card border-top-0">
                                    <div class="card-body">

                                        <h4 class="card-title">쿠폰 정보</h4>
                                        <div class="form-group">
                                            <label>쿠폰 이름</label>
                                            <input class="form-control" type="text" name="name"
                                                   placeholder="쿠폰 이름">
                                        </div>

                                        <div class="form-group">
                                            <label>설명</label>
                                            <input class="form-control" type="text" name="description"
                                                   placeholder="쿠폰 설명">
                                        </div>

                                        <div class="form-group">
                                            <label>기간</label>
                                            <input class="form-control" type="number" name="usagePeriod" min="1" max="30"
                                                   placeholder="쿠폰 발급 후 사용 가능 기간(일)" required>
                                        </div>

                                        <div class="form-group">
                                            <label>할인 금액</label>
                                            <input class="form-control" type="number" name="discountAmount" min="1000" max="50000"
                                                   placeholder="쿠폰 사용 시 할인 금액" required>
                                        </div>

                                        <div class="form-group">
                                            <label>최소 주문 금액</label>
                                            <input class="form-control" type="number" name="minimumOrderPrice" min="0" max="50000"
                                                   placeholder="쿠폰 사용 시 최소 주문 금액" required>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <button class="btn btn-info mr-2" type="submit">쿠폰 정책 신규 등록
                                            </button>
                                            <button class="btn btn-light" data-dismiss="modal">취소</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade col-12 stretch-card" id="coupon2">
                            <form class="col-12 p-0" th:action="@{'/admin/management/coupons/percent' + ${merchantParam}}" method="post">
                                <div class="card border-top-0">
                                    <div class="card-body">
                                        <h4 class="card-title">쿠폰 정보</h4>
                                        <div class="form-group">
                                            <label>쿠폰 이름</label>
                                            <input class="form-control" type="text" name="name"
                                                   placeholder="쿠폰 이름">
                                        </div>

                                        <div class="form-group">
                                            <label>설명</label>
                                            <input class="form-control" type="text" name="description"
                                                   placeholder="쿠폰 설명">
                                        </div>

                                        <div class="form-group">
                                            <label>기간</label>
                                            <input class="form-control" type="number" name="usagePeriod" min="1" max="30"
                                                   placeholder="쿠폰 발급 후 사용 가능 기간(일)" required>
                                        </div>

                                        <div class="form-group">
                                            <label>할인 퍼센트</label>
                                            <input class="form-control" type="number" name="rate" min="10" max="50"
                                                   placeholder="쿠폰 사용 시 할인 퍼센트" required>
                                        </div>

                                        <div class="form-group">
                                            <label>최대 할인 금액</label>
                                            <input class="form-control" type="number" name="maximumDiscountAmount" min="1000" max="50000"
                                                   placeholder="쿠폰 사용 시 최대 할인 금액 제한" required>
                                        </div>

                                        <div class="form-group">
                                            <label>최소 주문 금액</label>
                                            <input class="form-control" type="number" name="minimumOrderPrice" min="0" max="50000"
                                                   placeholder="쿠폰 사용 시 최소 주문 금액" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <button class="btn btn-info mr-2" type="submit">쿠폰 정책 신규 등록
                                            </button>
                                            <button class="btn btn-light" data-dismiss="modal">취소</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid page-body-wrapper" th:with="merchantId=${#request.getParameter('merchantId')}, merchantParam=${merchantId != null ? '?merchantId=' + merchantId : ''}">
    <nav th:replace="fragments-admin :: admin-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">관리자 쿠폰 관리 페이지</h1>
                        </div>
                    </div>
                </div>
                <div class="card border-bottom-0 m-1">
                    <ul class="nav nav-tabs col-12 m-0 p-0">
                        <li class="nav-item flex-grow-1" style="text-align: center">
                            <a class="nav-link" href="/admin/management/coupons"
                            th:classappend="${merchantId == null ? 'active' : ''}">모두 보기</a>
                        </li>
                        <li class="nav-item flex-grow-1" style="text-align: center"
                            th:each="merchant, i:${merchants}">
                            <a class="nav-link" th:href="@{'/admin/management/coupons'(merchantId=${merchant.id})}"
                            th:text="${merchant.name}"
                            th:classappend="${merchant.id.toString() == merchantId ? 'active' : ''}">
                            ></a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">쿠폰 정책 관리</h4>
                            <div class="col-12">
                                <div th:each="policy : ${policies.content}" class="row border-top pt-2 pb-2">
                                    <div class="col-sm-10"
                                         th:switch="${policy.couponTypeResponse.getClass().getSimpleName()}">
                                        <div th:case="CouponTypeCashVo">
                                            <h3 class="font-weight-bold pt-2"
                                                th:text="${#numbers.formatInteger(policy.couponTypeResponse.discountAmount, 0, 'COMMA')} + '원 할인 쿠폰'"></h3>
                                            <p th:text="'최소주문금액 ' + ${#numbers.formatInteger(policy.couponTypeResponse.minimumOrderPrice, 0, 'COMMA')} + '원'"></p>
                                        </div>
                                        <div th:case="CouponTypePercentVo">
                                            <h3 class="font-weight-bold pt-2"
                                                th:text="${policy.couponTypeResponse.rate} + '% 할인 쿠폰'"></h3>
                                            <p th:text="'최소주문금액 ' + ${#numbers.formatInteger(policy.couponTypeResponse.minimumOrderPrice, 0, 'COMMA')} + '원'"></p>
                                            <p th:text="'최대 ' + ${#numbers.formatInteger(policy.couponTypeResponse.maximumDiscountAmount, 0, 'COMMA')} + '원까지'"></p>
                                        </div>
                                        <div th:case="*">
                                            <p th:text="${policy.couponTypeResponse}"></p>
                                        </div>
                                        <h4 class="font-weight-bold pt-2" th:text="${policy.name}"></h4>
                                        <p th:text="${policy.description}"></p>
                                        <p th:text="'발급 후 사용 가능 기간: ' + ${policy.usagePeriod} + '일'"></p>
                                        <p th:text="'남은 수량: ' + ${#numbers.formatInteger(policy.unclaimedCouponCount, 0, 'COMMA')}"></p>
                                        <p th:text="'전체 발행 수량: ' + ${#numbers.formatInteger(policy.issueCouponCount, 0, 'COMMA')}"></p>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right">
                                        <button class="btn btn-info mb-1" style="width: 85px"
                                                type="button"
                                                data-toggle="modal"
                                                th:data-target="'#couponIssue' + ${policy.id}">발행
                                        </button>
                                        <button class="btn btn-warning mb-1" style="width: 85px"
                                                type="button"
                                                data-toggle="modal"
                                                th:data-target="'#policyHide' + ${policy.id}">숨김
                                        </button>
                                        <button class="btn btn-primary mb-1" style="width: 85px"
                                                type="button"
                                                data-toggle="modal"
                                                th:data-target="'#policyDelete' + ${policy.id}">삭제
                                        </button>
                                    </div>
                                    <div class="modal fade" th:id="'couponIssue' + ${policy.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <form class="col-12 p-0"
                                                          th:action="@{'/admin/management/coupons/issue' + ${merchantParam}}"
                                                          th:method="post">
                                                        <div class="col-12 grid-margin stretch-card">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <h4 class="card-title">쿠폰 발행</h4>
                                                                    <div class="form-group">
                                                                        <label>발행 개수</label>
                                                                        <input class="form-control" type="text" name="issueQuantity"
                                                                               placeholder="1,000장을 초과하여 입력하면 처리 소요시간이 존재할 수 있습니다.">
                                                                        <input type="hidden" name="couponPolicyId" th:value="${policy.id}">
                                                                    </div>
                                                                    <button class="btn btn-info mr-2" type="submit">발행</button>
                                                                    <button class="btn btn-light" data-dismiss="modal">취소</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" th:id="'policyHide' + ${policy.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <form class="col-12 p-0"
                                                          th:action="@{'/admin/management/coupons/policies/' + ${policy.id} + ${merchantParam}}"
                                                          th:method="patch">
                                                        <div class="col-12 grid-margin stretch-card">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <h4 class="card-title">해당 쿠폰 정책을 숨기겠습니까?</h4>
                                                                    <h5>쿠폰 정책 목록에서 더 이상 보이지 않게 됩니다.</h5>
                                                                    <button class="btn btn-info mr-2" type="submit">예</button>
                                                                    <button class="btn btn-light" data-dismiss="modal">아니오</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" th:id="'policyDelete' + ${policy.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <form class="col-12 p-0"
                                                          th:action="@{'/admin/management/coupons/policies/' + ${policy.id} + ${merchantParam}}"
                                                          th:method="delete">
                                                        <div class="col-12 grid-margin stretch-card">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <h4 class="card-title">해당 쿠폰 정책을 삭제하시겠습니까?</h4>
                                                                    <button class="btn btn-info mr-2" type="submit">예</button>
                                                                    <button class="btn btn-light" data-dismiss="modal">아니오</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="border-top pt-2 pb-2">
                                    <div class="col">
                                        <button class="btn btn-info w-100 mb-1" type="button" data-toggle="modal"
                                                data-target="#couponPolicyAdd">추가
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card" th:if="${policies.totalPages > 0}">
                    <nav aria-label="Page navigation" class="pagination-container">
                        <ul class="pagination"
                            th:with="start=${(policies.pageable.pageNumber/5)*5 + 1},
                            last=(${start + (5 - 1) < policies.totalPages ? start + (5 - 1) : policies.totalPages})">
                            <li>
                                <a th:href="@{|/admin/management/coupons| + ${merchantParam}(page=1, size=${policies.size})}" aria-label="First">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li th:class="${policies.first} ? 'disabled'">
                                <a th:href="${policies.first} ? '#' :@{|/admin/management/coupons| + ${merchantParam}(page=${policies.number}, size=${policies.size})}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == policies.number + 1} ? 'active'">
                                <a th:text="${page}" th:href="@{|/admin/management/coupons| + ${merchantParam}(page=${page}, size=${policies.size})}"></a>
                            </li>
                            <li th:class="${policies.last} ? 'disabled'">
                                <a th:href="${policies.last} ? '#' :@{|/admin/management/coupons| + ${merchantParam}(page=${policies.number + 2}, size=${policies.size})}">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{|/admin/management/coupons| + ${merchantParam}(page=${policies.totalPages}, size=${policies.size})}" aria-label="Last">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: site-footer"></footer>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
</body>

</html>
