.error-message {
    padding-top: 2%;
    padding-left: 4%;
    font-weight: bold;
    color: rgba(242,70,18,0.8);
}

.info-message {
    padding-top: 2%;
    padding-left: 4%;
    font-weight: bold;
    color: rgb(232, 133, 66);
}

.success-message {
    padding-top: 2%;
    padding-left: 4%;
    font-weight: bold;
    color: #82f68a;
}
