<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">

<body layout:fragment="content">
<header th:replace="fragments :: mypage-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div th:replace="fragments :: all-address-list"></div>

<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: mypage-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">주문</h1>
                        </div>
                    </div>
                </div>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-between mb-3">
                                <h4 class="card-title" th:text="${storeName}"></h4>
                            </div>
                            <div class="col-12 grid-margin" th:each="item, i:${cartItems}" th:unless="${item == null}">
                                <div class="row border-top pb-1 pt-3 justify-content-between" >
                                    <div class="pt-1">
                                        <span class="font-weight-bold" th:utext="${item.menuOptName}" style="font-size: 1.2rem"></span>
                                    </div>
                                    <div class="text-right">
                                        <form th:action="@{/carts/menu-delete/{menuKey}(menuKey=${item.hashKey})}" th:method="DELETE" class="mb-3 mr-2">
                                            <button class="btn m-0 p-0" style="color: #000000" type="submit">
                                                <i class="mdi mdi-close"></i>
                                            </button>
                                        </form>
                                        <span class="p-2 font-weight-bold" th:text="${#numbers.formatInteger(item.totalMenuPrice,3,'COMMA')}+'원'" style="font-size: 1.1rem">
                                        </span>
                                    </div>
                                </div>
                                <div class="row pb-1 pt-1 justify-content-between" >

                                    <div class="border-info" style="max-width: 200px"
                                         th:onclick="'window.location.href=\'/index/store/' + ${item.storeId} + '\''">
                                        <img style="border-radius: 3px; object-fit: cover; width: 100px; height: 100px;" th:src="${item.menu.menuImage}"
                                             onerror="this.onerror=null; this.src='/assets/images/nodata.png';">
                                    </div>
                                    <div class="text-right">
                                        <div class="mb-3">
                                            <span class="menu-count" th:text="${item.count} + 'EA'"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-between mb-2">
                                <h4 class="card-title" th:text="'배달 주소'"></h4>
                            </div>
                            <div class="p-3">
                                <h4 id="mainPlace" style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2" th:text="${mainPlace}"></h4>
                                <input id="detailPlace" type="text" style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2 form-control text-dark" th:value="${detailPlace}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-between mb-2">
                                <h4 class="card-title" th:text="'요청사항'"></h4>
                            </div>
                            <div class="p-3">
                                <textarea id="memo" type="text" style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2 form-control text-dark"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 grid-margin stretch-card">
                    <button id="couponButton" class="btn btn-reddit col-12" th:onclick="openCoupon([[${storeId}]], [[${totalPrice}]])">쿠폰 선택하기</button>
                </div>


                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-between mb-2">
                                <h4 class="card-title" th:text="포인트"></h4>
                            </div>
                            <h4 style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2" th:text="('보유 포인트 : ' + ${#numbers.formatInteger(point, 0, 'COMMA')} + 'P')"></h4>
                            <div class="input-group">
                                <input id="point" type="number" min="0" th:max="${point}" style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2 form-control text-dark" placeholder="사용할 포인트를 입력해주세요">
                                <button class="btn ml-0 mb-0 mt-2" style="width: 150px; background: #ffa636" th:onclick="setPoint([[${point}]])">사용</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-between mb-2">
                                <h4 class="card-title" th:text="'결제'"></h4>
                            </div>
                            <div class="d-flex justify-content-between p-3">
                                <div class="flex-fill">
                                    <div class="row col-12 justify-content-between">
                                        <h4 style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2">총 주문 금액</h4>
                                        <h4 style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2" th:text="(${totalPrice} != null ? ${#numbers.formatInteger(totalPrice, 3, 'COMMA')} : '0') + '원'"></h4>
                                    </div>
                                    <div class="row col-12 justify-content-between d-none" id="couponValue">
                                        <h4 style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2">쿠폰 할인</h4>
                                        <h4 style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2" id="discountCouponValue"></h4>
                                    </div>
                                    <div class="row col-12 justify-content-between">
                                        <h4 style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2">배달팁</h4>
                                        <h4 style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2" th:text="${#numbers.formatInteger(deliveryCost, 0, 'COMMA')} + '원'"></h4>
                                    </div>
                                    <div class="row col-12 justify-content-between d-none" id="pointValue">
                                        <h4 style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2">포인트 할인</h4>
                                        <h4 style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2" id="discountPointValue"></h4>
                                    </div>
                                    <hr>
                                    <div class="row col-12 justify-content-between">
                                        <h4 style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2">결제 예정 금액</h4>
                                        <h4 style="font-size:1.3rem;" class="font-weight-bold ml-0 mb-0 mt-2" id="paymentPrice" th:text="${#numbers.formatInteger(totalPrice + deliveryCost, 0, 'COMMA')} + '원'"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <form id="paymentForm" th:action="@{/payments}" method="post">
                                    <button id="orderButton" class="btn" th:onclick="payment([[${storeId}]], [[${deliveryCost}]])" style="width: 150px; background: #ffa636" th:text="결제하기"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:data-beforeDiscountPrice="${totalPrice + deliveryCost}" id="beforeDiscountPrice"></div>
<footer th:replace="fragments :: site-footer"></footer>

<script th:inline="javascript">
    const couponValue = document.getElementById('couponValue');
    const pointValue = document.getElementById('pointValue');
    const beforeDiscountPrice = parseInt(document.getElementById('beforeDiscountPrice').getAttribute("data-beforeDiscountPrice"));
    const paymentPrice = document.getElementById('paymentPrice');

    let couponCode = null;
    let discountAmount = null;
    let point = 0;

    function updatePaymentPrice() {
        let price = beforeDiscountPrice;

        if (discountAmount !== null) {
            price -= discountAmount;
        }

        price -= point;

        paymentPrice.textContent = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';

        return price;
    }

    function setCoupon(selectCouponCode, discount) {
        if (couponCode !== selectCouponCode) {
            couponCode = selectCouponCode;
            discountAmount = discount;
            couponValue.classList.remove('d-none')
            document.getElementById('discountCouponValue').textContent = '-' + discountAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';
        } else {
            couponCode = null;
            discountAmount = null;
            couponValue.classList.add('d-none')
            document.getElementById('discountCouponValue').textContent = "";
        }

        updatePaymentPrice();
    }

    function openCoupon(storeId, totalPrice) {
        window.open("/order/" + storeId + "/coupon" + "?totalPrice=" + totalPrice,"","width=700px,height=600px,top=200px,left=200px;");
    }

    function setPoint(totalPoint) {
        const pointElement = document.getElementById("point");
        let usePoint = pointElement.value;

        if (usePoint === null || usePoint < 0) {
            usePoint = 0;
        }

        usePoint = Math.min(totalPoint, usePoint);

        let price = beforeDiscountPrice;

        if (discountAmount !== null) {
            price -= discountAmount;
        }

        point = Math.min(price, usePoint);
        pointElement.value = point;
        document.getElementById('discountPointValue').textContent = '-' + point.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';

        if (point <= 0) {
            pointValue.classList.add('d-none')
        } else {
            pointValue.classList.remove('d-none')
        }

        updatePaymentPrice();
    }

    function payment(storeId, deliveryCost) {
        let price = updatePaymentPrice();

        const mainPlace = document.getElementById("mainPlace").textContent;
        const detailPlace = document.getElementById("detailPlace").value;
        const memo = document.getElementById("memo").value;

        const hiddenInputStoreId = document.createElement("input");
        hiddenInputStoreId.type = "hidden";
        hiddenInputStoreId.name = "storeId";
        hiddenInputStoreId.value = storeId;
        document.getElementById("paymentForm").appendChild(hiddenInputStoreId);

        const hiddenInputPrice = document.createElement("input");
        hiddenInputPrice.type = "hidden";
        hiddenInputPrice.name = "price";
        hiddenInputPrice.value = price;
        document.getElementById("paymentForm").appendChild(hiddenInputPrice);

        const hiddenInputMainPlace = document.createElement("input");
        hiddenInputMainPlace.type = "hidden";
        hiddenInputMainPlace.name = "mainPlace";
        hiddenInputMainPlace.value = mainPlace;
        document.getElementById("paymentForm").appendChild(hiddenInputMainPlace);

        const hiddenInputDetailPlace = document.createElement("input");
        hiddenInputDetailPlace.type = "hidden";
        hiddenInputDetailPlace.name = "detailPlace";
        hiddenInputDetailPlace.value = detailPlace;
        document.getElementById("paymentForm").appendChild(hiddenInputDetailPlace);

        const hiddenInputMemo = document.createElement("input");
        hiddenInputMemo.type = "hidden";
        hiddenInputMemo.name = "memo";
        hiddenInputMemo.value = memo;
        document.getElementById("paymentForm").appendChild(hiddenInputMemo);

        const hiddenInputCouponCode = document.createElement("input");
        hiddenInputCouponCode.type = "hidden";
        hiddenInputCouponCode.name = "couponCode";
        hiddenInputCouponCode.value = couponCode;
        document.getElementById("paymentForm").appendChild(hiddenInputCouponCode);

        const hiddenInputPoint = document.createElement("input");
        hiddenInputPoint.type = "hidden";
        hiddenInputPoint.name = "point";
        hiddenInputPoint.value = point;
        document.getElementById("paymentForm").appendChild(hiddenInputPoint);

        const hiddenDiscountAmount = document.createElement("input");
        hiddenDiscountAmount.type = "hidden";
        hiddenDiscountAmount.name = "discountAmount";
        hiddenDiscountAmount.value = discountAmount;
        document.getElementById("paymentForm").appendChild(hiddenDiscountAmount);

        const hiddenDeliveryCost = document.createElement("input");
        hiddenDeliveryCost.type = "hidden";
        hiddenDeliveryCost.name = "deliveryCost";
        hiddenDeliveryCost.value = deliveryCost;
        document.getElementById("paymentForm").appendChild(hiddenDeliveryCost);

        document.getElementById("paymentForm").submit();
    }
</script>

</body>

</html>
