<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>
<body layout:fragment="content">
<header th:replace="fragments :: business-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div th:replace="fragments :: all-address-list"></div>



<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: business-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">리뷰 관리</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="store-card-header">
                            <h2 class="store-title">리뷰 관리</h2>
                        </div>
                        <div class="card-body">
                            <div class="row card border-0 flex-fill" th:each="review, i:${reviewList}">
                                <div class="card pt-3 pb-3 pl-1 pr-1 mb-2">

                                    <div>
                                        <div class="row pl-3 pr-3 pt-1 pb-1 m-0 justify-content-between">
                                            <strong style="font-size: 20px;" th:text="${review.nickname}"></strong>
                                            <div class="row pl-3">
                                                <button class="btn btn-primary m-1" style="width: 85px; height: 40px;"
                                                        type="button"
                                                        data-toggle="modal"
                                                        data-target="#replyAdd"
                                                        th:data-reviewid="${review.getSelectReviewResponse().reviewId}"
                                                        th:text="'답변'">
                                                </button>
                                            </div>
                                        </div>

                                        <div class="pl-3 pr-3 pt-1 pb-1 m-0">
                                                <span th:text="${#temporals.format(review.selectReviewResponse.getWrittenAt(), 'yyyy년 MM월 dd일 HH시 mm분 작성')}"
                                                      style="color: grey"></span>
                                        </div>

                                        <div class="row pl-3 pr-3 pt-1 pb-1 m-0">
                                            <strong class="pt-1 mr-2" style="font-size: 20px;"
                                                    th:text="${review.selectReviewResponse.rating + '.0'}"></strong>
                                            <span th:class="${review.selectReviewResponse.rating >= 1} ? 'typcn typcn-star-full-outline' : 'typcn typcn-star-outline'"
                                                  style="color: #ea6b19; font-size: 25px;"></span>
                                            <span th:class="${review.selectReviewResponse.rating >= 2} ? 'typcn typcn-star-full-outline' : 'typcn typcn-star-outline'"
                                                  style="color: #ea6b19; font-size: 25px;"></span>
                                            <span th:class="${review.selectReviewResponse.rating >= 3} ? 'typcn typcn-star-full-outline' : 'typcn typcn-star-outline'"
                                                  style="color: #ea6b19; font-size: 25px;"></span>
                                            <span th:class="${review.selectReviewResponse.rating >= 4} ? 'typcn typcn-star-full-outline' : 'typcn typcn-star-outline'"
                                                  style="color: #ea6b19; font-size: 25px;"></span>
                                            <span th:class="${review.selectReviewResponse.rating == 5} ? 'typcn typcn-star-full-outline' : 'typcn typcn-star-outline'"
                                                  style="color: #ea6b19; font-size: 25px;"></span>
                                        </div>

                                        <div class="pl-3 pr-3 pt-1 pb-1 m-0">
                                            <span th:utext="${review.selectReviewResponse.contents}"></span>
                                        </div>

                                        <div class="row pl-3 pr-3 pt-0 pb-0 m-0">
                                            <div class="pl-1 pr-1 pt-1 pb-3 m-0"
                                                 th:each="image, i:${review.selectReviewResponse.imageResponses}">
                                                <img th:src="${image.getSavedName()}" alt=""
                                                     onerror="this.onerror=null; this.src='/assets/images/nodata.png';"
                                                     style="object-fit: cover; width: 130px; height: 130px;">
                                            </div>
                                        </div>

                                        <div class="row pl-3 pr-3 pt-0 pb-0 m-0">
                                            <div class="pl-1 pr-1 pt-1 pb-3 m-0"
                                                 th:each="menu, i:${review.selectReviewResponse.menuResponses}">
                                                    <span class="w-auto pl-3 pr-3 pt-2 pb-2 m-0 border-left border-right border-top border-bottom font-weight-bold"
                                                          style="border-radius: 6px; background-color: #ffb429"
                                                          th:text="${menu.menuName}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card pt-3 pb-3 pl-1 pr-1 mb-2"  style="background-color: #d2c6c5;" th:each="reply, i : ${review.getSelectReviewResponse().getReplyResponses()}">
                                    <div>
                                        <div class="row pl-3 pr-3 pt-1 pb-1 m-0 justify-content-between">
                                            <div>
                                                <div class="row pl-3 pr-3 pt-1 pb-1 m-0 justify-content-between">
                                                    <strong style="font-size: 20px;">내 답변</strong>
                                                </div>
                                                <div class="pl-3 pr-3 pt-1 pb-1 m-0">
                                                <span th:text="${#temporals.format(reply.writtenAt, 'yyyy년 MM월 dd일 HH시 mm분 작성')}"
                                                      style="color: grey"></span>
                                                </div>
                                                <div class="pl-3 pr-3 pt-1 pb-1 m-0">
                                                    <span th:utext="${reply.contents}"></span>
                                                </div>
                                                <div class="row pl-3">
                                                    <button class="btn btn-primary m-1" style="width: 85px; height: 40px;"
                                                            type="button"
                                                            data-toggle="modal"
                                                            data-target="#replyModify"
                                                            th:data-replyid="${reply.reviewReplyId}"
                                                            th:data-replycontents="${reply.contents}"
                                                            th:text="'수정'">
                                                    </button>
                                                </div>
                                                <div class="row pl-3">
                                                    <button type="button" class="btn btn-primary m-1" data-toggle="modal"
                                                            th:data-target="'#replyDelete'">삭제</button>
                                                </div>
                                                <div class="modal fade" th:id="'replyDelete'">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <form class="col-12 p-0"
                                                                      th:action="@{|/stores/${storeId}/store-review-manager/reply/${reply.getReviewReplyId()}|}"
                                                                      th:method="delete">
                                                                    <div class="col-12 grid-margin stretch-card">
                                                                        <div class="card">
                                                                            <div class="card-body">
                                                                                <h4 class="card-title">해당 답글을 삭제하시겠습니까?</h4>
                                                                                <button class="btn btn-info mr-2" type="submit">예</button>
                                                                                <button class="btn btn-light" data-dismiss="modal">아니오</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="replyModify">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <form class="col-12 p-0" th:action="@{|/stores/${storeId}/store-review-manager/reply|}"
                                                                      th:object="${updateReplyResponseDto}"
                                                                      th:method="patch">
                                                                    <div class="col-12 grid-margin stretch-card">
                                                                        <div class="card">
                                                                            <div class="card-body">
                                                                                <h2 class="card-title">수정</h2>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 grid-margin stretch-card">
                                                                        <div class="card">
                                                                            <div class="card-body">
                                                                                <h4 class="card-title">답글 수정</h4>
                                                                                <div class="form-group">
                                                                                    <div id="replyEditor"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 grid-margin stretch-card">
                                                                        <div class="card">
                                                                            <div class="card-body">
                                                                                <input type="number" name="replyId" id="replyId" hidden="hidden">
                                                                                <input type="text" name="replyContents" id="replyContents" hidden="hidden">
                                                                                <button class="btn btn-info m-1" type="submit" id="submitReplyButton"
                                                                                        name="submitReplyButton">수정</button>
                                                                                <button class="btn btn-light m-1" data-dismiss="modal">취소</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="replyAdd">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">답글 작성</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="col-12 p-0" th:action="@{|/stores/${storeId}/store-review-manager/reply|}"
                                                      th:object="${createBusinessReviewRequestDto}"
                                                      method="post">

                                                    <div class="form-group">
                                                        <div id="editor"></div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <input type="number" name="reviewId" id="reviewId" hidden="hidden">
                                                        <input type="text" name="contents" id="contents" hidden="hidden">
                                                        <button class="btn btn-light" data-dismiss="modal">취소</button>
                                                        <button class="btn btn-primary" type="submit" id="submitButton"
                                                                name="submitButton">답변</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<script>
    let editor;

    $('#replyAdd').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)
        const reviewId = button.data('reviewid')
        const initialValue = ' '

        const modal = $(this)
        modal.find('input[name="reviewId"]').val(reviewId)

        editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            initialEditType: 'wysiwyg',
            previewStyle: 'vertical',
            height: '300px',
            initialValue: initialValue,
            placeholder: '리뷰에 답변해주세요.',

            toolbarItems: [
                ['heading', 'bold', 'italic', 'strike'],
                ['hr', 'quote'],
                ['ul', 'ol', 'task', 'indent', 'outdent'],
                ['table', 'link'],
                ['scrollSync'],
            ]
        });

        document.querySelector('#submitButton').addEventListener('click', function () {
            let editorContent = editor.getHTML();
            document.querySelector('#contents').value = editorContent;
        });
    });

    let replyEditor;

    $('#replyModify').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)

        const replyId = button.data('replyid')
        const replyContents = button.data('replycontents')
        const initialValue = ' '

        const modal = $(this)
        modal.find('input[name="replyId"]').val(replyId)
        modal.find('input[name="replyContents"]').val(replyContents);

        replyEditor = new toastui.Editor({
            el: document.querySelector('#replyEditor'),
            initialEditType: 'wysiwyg',
            previewStyle: 'vertical',
            height: '300px',
            initialValue: replyContents,
            toolbarItems: [
                ['heading', 'bold', 'italic', 'strike'],
                ['hr', 'quote'],
                ['ul', 'ol', 'task', 'indent', 'outdent'],
                ['table', 'link'],
                ['scrollSync'],
            ]
        });

        document.querySelector('#submitReplyButton').addEventListener('click', function () {
            let editorContent = replyEditor.getHTML();
            document.querySelector('#replyContents').value = editorContent;
        });
    });
</script>
<footer th:replace="fragments :: site-footer"></footer>
</body>

</html>
