<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">

<body layout:fragment="content">
<header th:replace="fragments :: business-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div class="modal fade" id="optionGroupAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="col-12 p-0" th:action="@{'/stores/' + ${storeId} + '/store-option-group-manager'}"
                      th:object="${createOptionGroupRequestDto}"
                      method="post">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">신규 옵션 그룹 등록</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">옵션 그룹 정보</h4>
                                <div class="form-group">
                                    <label>옵션 그룹 이름</label>
                                    <input class="form-control" type="text" name="name"
                                           placeholder="옵션 그룹 이름">
                                </div>

                                <div class="form-group">
                                    <label>옵션 최소 선택 수</label>
                                    <input class="form-control" type="text" name="minSelectCount"
                                           placeholder="옵션 최소 선택 수">
                                </div>

                                <div class="form-group">
                                    <label>옵션 최대 선택 수</label>
                                    <input class="form-control" type="text" name="maxSelectCount"
                                           placeholder="옵션 최대 선택 수">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <input class="form-control" type="hidden" name="targetOptionGroupId">
                                <button class="btn btn-info m-1" type="submit" name="submitButton"></button>
                                <button class="btn btn-light m-1" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="optionAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="col-12 p-0" th:action="@{'/stores/' + ${storeId} + '/store-option-manager'}"
                      th:object="${createOptionRequestDto}"
                      method="post">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">신규 옵션 등록</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">옵션 정보</h4>
                                <div class="form-group">
                                    <label>옵션 이름</label>
                                    <input class="form-control" type="text" name="name"
                                           placeholder="옵션 이름">
                                </div>

                                <div class="form-group">
                                    <label>가격</label>
                                    <input class="form-control" type="text" name="price"
                                           placeholder="옵션 가격">
                                </div>

                                <div class="form-group">
                                    <label>그룹</label>
                                    <div class="row">
                                        <div class="input-group">
                                            <select name="optionGroup" class="form-control w-100"
                                                    style="height: 42px; padding-left: 18px; padding-right: 20px; color: black;">
                                                <option value="">-- 선택 --</option>
                                                <option th:each="optionGroup, i : ${optionGroups}"
                                                        th:value="${optionGroup.id}"
                                                        th:text="${optionGroup.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <input class="form-control" type="hidden" name="targetOptionId">
                                <button class="btn btn-info m-1" type="submit" id="submitButton" name="submitButton"></button>
                                <button class="btn btn-light m-1" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: business-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">영업점 옵션 관리</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">옵션 그룹 관리</h4>
                            <div class="col-12">
                                <div class="row border-top pt-2 pb-2 justify-content-between"
                                     th:each="optionGroup, i:${optionGroups}">
                                    <div class="row" style="width: 600px;">
                                        <h3 class="font-weight-bold pt-2" th:text="${optionGroup.name}"></h3>
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-light m-1" style="width: 85px; height: 40px;"
                                                type="button"
                                                th:id="${optionGroup.id}"
                                                data-toggle="modal"
                                                data-target="#optionGroupAdd"
                                                th:data-targetoptiongroupid="${optionGroup.id}"
                                                th:data-name="${optionGroup.name}"
                                                th:data-minselectcount="${optionGroup.minSelectCount}"
                                                th:data-maxselectcount="${optionGroup.maxSelectCount}">
                                            수정
                                        </button>
                                        <form th:action="@{'/stores/' + ${storeId} + '/store-option-group-manager/' + ${optionGroup.id} }"
                                              th:method="delete">
                                            <button class="btn btn-primary m-1" style="width: 85px; height: 40px;"
                                                    type="submit">
                                                삭제
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="border-top pt-2 pb-2">
                                    <div class="col">
                                        <button class="btn btn-info w-100 mb-1" type="button" data-toggle="modal"
                                                data-target="#optionGroupAdd">추가
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">옵션 관리</h4>
                            <div class="col-12">
                                <div class="row border-top pb-3 pt-3 justify-content-between"
                                     th:each="option, i:${options}">
                                    <div style="width: 600px;">
                                        <h3 class="font-weight-bold" th:text="${option.name}"></h3>
                                        <div class="pt-2">
                                            <p class="font-weight-bold" style="font-size: 1.3rem"
                                               th:if="${option.price >=1000}" th:text="${#numbers.formatInteger(option.price,3,'COMMA')} + ' 원'"><span
                                                    style="font-size: 1.2rem"></span></p>
                                            <p class="font-weight-bold" style="font-size: 1.3rem"
                                               th:if="${option.price < 1000}" th:text="${option.price} + ' 원'"><span
                                                    style="font-size: 1.2rem"></span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-light m-1" style="width: 85px; height: 40px;" type="button"
                                                th:id="${option.id}"
                                                data-toggle="modal"
                                                data-target="#optionAdd"
                                                th:data-targetoptionid="${option.id}"
                                                th:data-name="${option.name}"
                                                th:data-price="${option.price}"
                                                th:data-optiongroup="${option.optionGroupId}"
                                        >수정
                                        </button>
                                        <form th:action="@{'/stores/' + ${storeId} + '/store-option-manager/' + ${option.id} }"
                                              th:method="delete">
                                            <button class="btn btn-primary m-1" style="width: 85px; height: 40px;" type="submit">
                                                삭제
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="border-top pt-2 pb-2">
                                    <div class="col">
                                        <button class="btn btn-info w-100 mb-1" type="button"
                                                data-toggle="modal"
                                                data-target="#optionAdd">추가
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>

<script>
    $('#optionGroupAdd').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)
        const target = button.data('targetoptiongroupid')
        const name = button.data('name')
        const minSelectCount = button.data('minselectcount')
        const maxSelectCount = button.data('maxselectcount')

        const modal = $(this)
        modal.find('input[name="targetOptionGroupId"]').val(target)
        modal.find('input[name="name"]').val(name)
        modal.find('input[name="minSelectCount"]').val(minSelectCount)
        modal.find('input[name="maxSelectCount"]').val(maxSelectCount)

        if (target != null) {
            modal.find('button[name="submitButton"]').text('옵션 그룹 수정')
        } else {
            modal.find('button[name="submitButton"]').text('옵션 그룹 신규 등록')
        }
    })
</script>
<script>
    $('#optionAdd').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)
        const target = button.data('targetoptionid')
        const name = button.data('name')
        const price = button.data('price')
        const optionGroup = button.data('optiongroup')

        const modal = $(this)
        modal.find('input[name="targetOptionId"]').val(target)
        modal.find('input[name="name"]').val(name)
        modal.find('input[name="price"]').val(price)

        modal.find('select[name="optionGroup"]').val('')

        if (optionGroup != null) {
            modal.find('select[name="optionGroup"]').val(optionGroup)
        }

        if (target != null) {
            modal.find('button[name="submitButton"]').text('옵션 수정')
        } else {
            modal.find('button[name="submitButton"]').text('옵션 신규 등록')
        }

    })
</script>
</body>
</html>
