<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/responsive.css">
    <link rel="shortcut icon" href="/assets/images/favicon.png"/>
</head>

<body>
<header th:replace="fragments :: admin-site-header"></header>

<div class="modal fade" id="optionGroupAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="col-12 p-0" th:action="@{/store-option-group-manager}" th:object="${createOptionGroupRequestDto}"
                      method="post">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">신규 옵션 그룹 등록</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">옵션 그룹 정보</h4>
                                <div class="form-group">
                                    <label>옵션 그룹 이름</label>
                                    <input class="form-control" type="text" name="name"
                                           placeholder="옵션 그룹 이름">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <button class="btn btn-info mr-2" type="submit">옵션 그룹 신규 등록</button>
                                <button class="btn btn-light" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="optionAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="col-12 p-0" th:action="@{/store-option-manager}" th:object="${createOptionRequestDto}"
                      method="post">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">신규 옵션 등록</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">옵션 정보</h4>
                                <div class="form-group">
                                    <label>옵션 이름</label>
                                    <input class="form-control" type="text" name="name"
                                           placeholder="옵션 이름">
                                </div>

                                <div class="form-group">
                                    <label>가격</label>
                                    <input class="form-control" type="text" name="price"
                                           placeholder="옵션 가격">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <button class="btn btn-info mr-2" type="submit" id="submitButton">옵션 신규 등록</button>
                                <button class="btn btn-light" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: business-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">영업점 옵션 관리 페이지</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">옵션 그룹 관리</h4>
                            <div class="col-12">
                                <div class="row border-top pt-2 pb-2" th:each="optionGroup, i:${optionGroups}">
                                    <div class="col-sm-10">
                                        <h3 class="font-weight-bold pt-2" th:text="${optionGroup.name}"></h3>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right">
                                        <button class="btn btn-light mb-1" style="width: 85px" type="button"
                                                data-toggle="modal"
                                                data-target="#optionGroupAdd">수정
                                        </button>
                                        <button class="btn btn-primary mb-1" style="width: 85px"
                                                type="button">삭제
                                        </button>
                                    </div>
                                </div>
                                <div class="border-top pt-2 pb-2">
                                    <div class="col">
                                        <button class="btn btn-info w-100 mb-1" type="button" data-toggle="modal"
                                                data-target="#optionGroupAdd">추가
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">옵션 관리</h4>
                            <div class="col-12 grid-margin">
                                <div class="row border-top pb-3 pt-3" th:each="option, i:${options}">
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h3 class="font-weight-bold" th:text="${option.name}"></h3>
                                                <div class="pt-2">
                                                    <p class="font-weight-bold" style="font-size: 1.3rem" th:text="${option.price}"><span
                                                            style="font-size: 1.2rem">원</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right">
                                        <button class="btn btn-light mb-1" style="width: 85px" type="button"
                                                data-toggle="modal"
                                                data-target="#optionAdd">수정
                                        </button>
                                        <button class="btn btn-primary mb-1" style="width: 85px" type="button">
                                            삭제
                                        </button>
                                    </div>
                                </div>
                                <div class="border-top pt-2 pb-2">
                                    <div class="col">
                                        <button class="btn btn-info w-100 mb-1" type="button"
                                                data-toggle="modal"
                                                data-target="#optionAdd">추가
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: site-footer"></footer>

<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/todolist.js"></script>
<script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<script src="/assets/vendors/select2/select2.min.js"></script>
<script src="/assets/js/file-upload.js"></script>
<script src="/assets/js/typeahead.js"></script>
<script src="/assets/js/select2.js"></script>
<script>
    window.onload = function() {
        window.scrollTo(0, 0);
    }
</script>
</body>

</html>
