<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>
<body layout:fragment="content">
<header th:replace="fragments :: business-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div class="modal fade" id="menuGroupAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="col-12 p-0" th:action="@{'/stores/' + ${storeId} + '/store-menu-group-manager'}"
                      th:object="${createMenuGroupRequestDto}"
                      method="post">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">신규 메뉴 그룹 등록</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">메뉴 그룹 정보</h4>
                                <div class="form-group">
                                    <label>메뉴 그룹 이름</label>
                                    <input class="form-control" type="text" name="name"
                                           placeholder="메뉴 그룹 이름">
                                </div>
                                <div class="form-group">
                                    <label>메뉴 그룹 상세</label>
                                    <input class="form-control" type="text" name="description"
                                           placeholder="메뉴 그룹 상세">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <input class="form-control" type="hidden" name="targetMenuGroupId">
                                <button class="btn btn-info m-1" type="submit" name="submitButton"></button>
                                <button class="btn btn-light m-1" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="menuAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="col-12 p-0" th:action="@{'/stores/' + ${storeId} + '/store-menu-manager'}"
                      th:object="${createMenuRequestDto}"
                      method="post" enctype="multipart/form-data">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">신규 메뉴 등록</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">메뉴 정보</h4>
                                <div class="form-group">
                                    <label>메뉴 이름</label>
                                    <input class="form-control" type="text" name="name"
                                           placeholder="메뉴 이름">
                                </div>

                                <div class="form-group">
                                    <label>가격</label>
                                    <input class="form-control" type="text" name="price"
                                           placeholder="메뉴 가격">
                                </div>

                                <div class="form-group">
                                    <label>적립률</label>
                                    <input class="form-control" type="text" name="earningRate"
                                           placeholder="메뉴 적립률">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">메뉴 상세 정보</h4>
                                <div class="form-group">
                                    <label>조리 시간</label>
                                    <input class="form-control" type="text" name="cookingTime"
                                           placeholder="메뉴 이름">
                                </div>

                                <div class="form-group">
                                    <label>메뉴 대표 이미지</label>
                                    <input type="file" name="menuImage" class="file-upload-default"
                                           accept="image/png,image/jpg">
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info" disabled
                                               id="menuImage"
                                               placeholder="Upload Image">
                                        <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-info"
                                                    type="button">이미지 찾기</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>메뉴 설명</label>
                                    <input type="text" name="description" id="description" hidden="hidden">
                                    <div id="editor"></div>
                                </div>

                                <div class="form-group">
                                    <label>메뉴 그룹</label>
                                    <div class="row">
                                        <div class="col-sm-4" th:each="menuGroup, i:${menuGroups}">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" name="menuGroups" th:value="${menuGroup.id}"
                                                       th:text="${menuGroup.name}"
                                                       onclick="handleCheckboxClick.call(this)">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>옵션 그룹</label>
                                    <div class="row">
                                        <div class="col-sm-4" th:each="optionGroup, i:${optionGroups}">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" name="optionGroups" th:value="${optionGroup.id}"
                                                       th:text="${optionGroup.name}">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <input class="form-control" type="hidden" name="targetMenuId">
                                <button class="btn btn-info m-1" type="submit" id="submitButton"
                                        name="submitButton"></button>
                                <button class="btn btn-light m-1" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: business-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">영업점 메뉴 관리</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">메뉴 그룹 관리</h4>
                            <div class="col-12">
                                <div class="row border-top pt-3 pb-3 justify-content-between" th:each="menuGroup, i:${menuGroups}">
                                    <div class="row" style="width: 600px;">
                                        <h3 class="font-weight-bold pt-2" th:text="${menuGroup.name}"></h3>
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-light m-1" style="width: 85px; height: 40px;" type="button"
                                                th:id="${menuGroup.id}"
                                                data-toggle="modal"
                                                data-target="#menuGroupAdd"
                                                th:data-targetmenugroupid="${menuGroup.id}"
                                                th:data-name="${menuGroup.name}"
                                                th:data-description="${menuGroup.description}">
                                            수정
                                        </button>
                                        <form th:action="@{'/stores/' + ${storeId} + '/store-menu-group-manager/' + ${menuGroup.id} }"
                                              th:method="delete">
                                            <button class="btn btn-primary m-1" style="width: 85px; height: 40px;" type="submit">
                                                삭제
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="border-top pt-2 pb-2">
                                    <div class="col">
                                        <button class="btn btn-info w-100 mb-1" type="button" data-toggle="modal"
                                                data-target="#menuGroupAdd">추가
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">메뉴 관리</h4>
                            <div class="col-12 grid-margin">
                                <div class="row border-top pb-3 pt-3 justify-content-between" th:each="menu, i:${menus}">
                                    <div class="row" style="width: 600px;">
                                        <div class="align-content-end text-md-center border-info mr-3 mb-2"
                                             style="max-width: 400px">
                                            <img th:src="${menu.getSavedName()}"
                                                 onerror="this.onerror=null; this.src='/assets/images/nodata.png';"
                                                 style="object-fit: cover; width: 130px; height: 130px;">
                                        </div>
                                        <div>
                                            <h3 class="font-weight-bold" th:text="${menu.name}"></h3>
                                            <p><i class="mdi mdi mdi-file-powerpoint-box"
                                                  style="color: orange; font-size: 1.1rem"></i>
                                                <span class="pr-2" style="font-size: 1.2rem"
                                                      th:text="${menu.earningRate} + '%'"></span>
                                                <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                                <span class="pr-2" style="font-size: 1.2rem"
                                                      th:text="${menu.cookingTime} + '분'"></span></p>
                                            <div class="pt-2">
                                                <p class="font-weight-bold" style="font-size: 1.3rem"
                                                   th:text="${menu.price} + ' 원'"></p>
                                            </div>
                                            <div class="pt-1" style="width: 200px;">
                                                <span th:utext="${menu.description}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-light m-1" style="width: 85px; height: 40px;" type="button"
                                                th:id="${menu.id}"
                                                data-toggle="modal"
                                                data-target="#menuAdd"
                                                th:data-targetmenuid="${menu.id}"
                                                th:data-name="${menu.name}"
                                                th:data-price="${menu.price}"
                                                th:data-description="${menu.description}"
                                                th:data-cookingtime="${menu.cookingTime}"
                                                th:data-earningrate="${menu.earningRate}"
                                                th:data-menugroups="${menu.menuGroups}"
                                                th:data-optiongroups="${menu.optionGroups}"
                                        >수정
                                        </button>
                                        <form th:action="@{'/stores/' + ${storeId} + '/store-menu-manager/' + ${menu.id} }"
                                              th:method="delete">
                                            <button class="btn btn-primary m-1" style="width: 85px; height: 40px;" type="submit">
                                                삭제
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="border-top pt-2 pb-2">
                                    <div class="col">
                                        <button class="btn btn-info w-100 mb-1" type="button"
                                                data-toggle="modal"
                                                data-target="#menuAdd">추가
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    function getSelectedGroups() {
        const checkboxes = document.getElementsByName('menuGroups');
        const selectedCategories = [];

        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedCategories.push(checkboxes[i].value);
            }
        }
        return selectedCategories;
    }

    function handleCheckboxClick() {
        const selectedCategories = getSelectedGroups();
        const checkMaximum = 3;
        if (selectedCategories.length > checkMaximum) {
            this.checked = false;
            alert("최대 3개의 그룹만 선택할 수 있습니다.");
        }
    }
</script>
<script>
    $('#menuGroupAdd').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)
        const target = button.data('targetmenugroupid')
        const name = button.data('name')
        const description = button.data('description')

        const modal = $(this)
        modal.find('input[name="targetMenuGroupId"]').val(target)
        modal.find('input[name="name"]').val(name)
        modal.find('input[name="description"]').val(description)
        if (target != null) {
            modal.find('button[name="submitButton"]').text('메뉴 그룹 수정')
        } else {
            modal.find('button[name="submitButton"]').text('메뉴 그룹 신규 등록')
        }
    })
</script>
<script>
    let editor;

    $('#menuAdd').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget)
        const target = button.data('targetmenuid')
        const name = button.data('name')
        const price = button.data('price')
        const description = button.data('description') || '내용을 입력해주세요.'
        const cookingTime = button.data('cookingtime')
        const earningRate = button.data('earningrate')
        const menuGroups = button.data('menugroups')
        const optionGroups = button.data('optiongroups')

        const modal = $(this)
        modal.find('input[name="targetMenuId"]').val(target)
        modal.find('input[name="name"]').val(name)
        modal.find('input[name="price"]').val(price)
        modal.find('input[name="description"]').val(description)
        modal.find('input[name="cookingTime"]').val(cookingTime)
        modal.find('input[name="earningRate"]').val(earningRate)

        modal.find('input[name="menuGroups"]').prop('checked', false)
        modal.find('input[name="optionGroups"]').prop('checked', false)

        if (menuGroups != null) {
            menuGroups.forEach(function (group) {
                modal.find(`input[name="menuGroups"][value="${group}"]`).prop('checked', true)
            })
        }

        if (optionGroups != null) {
            optionGroups.forEach(function (group) {
                modal.find(`input[name="optionGroups"][value="${group}"]`).prop('checked', true)
            })
        }

        if (target != null) {
            modal.find('button[name="submitButton"]').text('메뉴 수정')
        } else {
            modal.find('button[name="submitButton"]').text('메뉴 신규 등록')
        }

        // Create the editor with the current description
        editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            initialEditType: 'wysiwyg',
            previewStyle: 'vertical',
            height: '300px',
            initialValue: description,
            hooks: {
                addImageBlobHook(blob, callback) {
                    console.log(blob)
                }
            }
        });

        document.querySelector('#submitButton').addEventListener('click', function () {
            let editorContent = editor.getHTML();
            document.querySelector('#description').value = editorContent;
        });
    });
</script>
</body>
</html>
