<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/config}">
<head>
    <title>Untitled</title>
</head>
<body layout:fragment="content">
<header th:replace="fragments :: admin-site-header"></header>
<div class="modal fade" id="optionGroupAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="col-12 p-0" th:action="@{/store-option-group-manager}" th:object="${createOptionGroupRequestDto}"
                      method="post">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">신규 옵션 그룹 등록</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">옵션 그룹 정보</h4>
                                <div class="form-group">
                                    <label>옵션 그룹 이름</label>
                                    <input class="form-control" type="text" name="name"
                                           placeholder="옵션 그룹 이름">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <button class="btn btn-info mr-2" type="submit">옵션 그룹 신규 등록</button>
                                <button class="btn btn-light" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="optionAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="col-12 p-0" th:action="@{/store-option-manager}" th:object="${createOptionRequestDto}"
                      method="post">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">신규 옵션 등록</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">옵션 정보</h4>
                                <div class="form-group">
                                    <label>옵션 이름</label>
                                    <input class="form-control" type="text" name="name"
                                           placeholder="옵션 이름">
                                </div>

                                <div class="form-group">
                                    <label>가격</label>
                                    <input class="form-control" type="text" name="price"
                                           placeholder="옵션 가격">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <button class="btn btn-info mr-2" type="submit" id="submitButton">옵션 신규 등록</button>
                                <button class="btn btn-light" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: business-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">영업점 옵션 관리 페이지</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">옵션 그룹 관리</h4>
                            <div class="col-12">
                                <div class="row border-top pt-2 pb-2" th:each="optionGroup, i:${optionGroups}">
                                    <div class="col-sm-10">
                                        <h3 class="font-weight-bold pt-2" th:text="${optionGroup.name}"></h3>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right">
                                        <button class="btn btn-light mb-1" style="width: 85px" type="button"
                                                data-toggle="modal"
                                                data-target="#optionGroupAdd">수정
                                        </button>
                                        <button class="btn btn-primary mb-1" style="width: 85px"
                                                type="button">삭제
                                        </button>
                                    </div>
                                </div>
                                <div class="border-top pt-2 pb-2">
                                    <div class="col">
                                        <button class="btn btn-info w-100 mb-1" type="button" data-toggle="modal"
                                                data-target="#optionGroupAdd">추가
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">옵션 관리</h4>
                            <div class="col-12 grid-margin">
                                <div class="row border-top pb-3 pt-3" th:each="option, i:${options}">
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h3 class="font-weight-bold" th:text="${option.name}"></h3>
                                                <div class="pt-2">
                                                    <p class="font-weight-bold" style="font-size: 1.3rem" th:text="${option.price}"><span
                                                            style="font-size: 1.2rem">원</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right">
                                        <button class="btn btn-light mb-1" style="width: 85px" type="button"
                                                data-toggle="modal"
                                                data-target="#optionAdd">수정
                                        </button>
                                        <button class="btn btn-primary mb-1" style="width: 85px" type="button">
                                            삭제
                                        </button>
                                    </div>
                                </div>
                                <div class="border-top pt-2 pb-2">
                                    <div class="col">
                                        <button class="btn btn-info w-100 mb-1" type="button"
                                                data-toggle="modal"
                                                data-target="#optionAdd">추가
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>
</body>
</html>
