<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 주소 등록</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=55b38bb80852c12b35f14456e76868a9&libraries=services"></script>
</head>
<body>

<h1>주소 등록하기</h1>

<div id="map" style="width: 300px; height: 300px; margin-top: 10px; position: relative; overflow: hidden;"></div>

<br>
<form th:action="@{${url}}" method="POST" id="addressForm" th:object="${address}">
    <tr>
        <td>
            <input type="text" id="addressInput" name="mainPlace" th:field="*{mainPlace}" placeholder="주소">
            <input type="hidden" id="latitudeInput" name="latitude" th:field="*{latitude}">
            <input type="hidden" id="longitudeInput" name="longitude" th:field="*{longitude}">
            <input type="button" onclick="execDaumPostcode()" value="주소 검색">
            <br>
            <input type="text" id="alias" name="alias" th:field="*{alias}" placeholder="별칭">
            <br>
            <input type="text" id="detailAddress" name="detailPlace" th:field="*{detailPlace}" placeholder="상세주소">
        </td>
    </tr>
    <br>
    <input type="submit" value="주소와 좌표 저장">
</form>

<table>
    <thead>
    <tr>
        <th>별칭</th>
        <th>메인 주소</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${accountAddresses}">
        <td th:text="${a.getAlias()}">별칭</td>
        <td th:text="${a.getMainPlace()}">메인 주소</td>
        <td>
            <button th:onclick="'location.href=\'' + @{|/accounts/addresses/maps/${a.id}/delete|} + '\''">삭제</button>
        </td>
    </tr>
    </tbody>
</table>

<script>
    var latitude = [[${latitude}]];
    var longitude = [[${longitude}]];

    var mapContainer = document.getElementById('map');
    var mapOption = {
        center: new kakao.maps.LatLng(latitude, longitude),
        level: 5
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);
    var geocoder = new kakao.maps.services.Geocoder();
    var marker = new kakao.maps.Marker({
        position: new kakao.maps.LatLng(latitude, longitude),
        map: map
    });

    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
        searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                // 주소 정보를 가져와서 필요한 처리를 수행.
                var address = result[0].address.address_name;
                var latitude = mouseEvent.latLng.getLat();
                var longitude = mouseEvent.latLng.getLng();

                document.getElementById('addressInput').value = address;
                document.getElementById('latitudeInput').value = latitude;
                document.getElementById('longitudeInput').value = longitude;

                // 마커를 클릭한 위치에 표시.
                marker.setPosition(mouseEvent.latLng);
                marker.setMap(map);
            }
        });
    });

    function searchDetailAddrFromCoords(coords, callback) {
        // 좌표로 법정동 상세 주소 정보를 요청합니다
        geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
    }

    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 선택한 주소 정보를 가져와서 필요한 처리를 수행.
                var address = data.address;
                document.getElementById("addressInput").value = address;

                // 주소로 좌표를 반환하여 지도에 표시.
                geocoder.addressSearch(address, function(results, status) {
                    if (status === daum.maps.services.Status.OK) {
                        var result = results[0];
                        var lat = result.y;
                        var lng = result.x;

                        document.getElementById("latitudeInput").value = lat;
                        document.getElementById("longitudeInput").value = lng;

                        // 지도의 중심을 선택한 주소 위치로 이동.
                        var moveLatLon = new kakao.maps.LatLng(lat, lng);
                        map.setCenter(moveLatLon);
                        marker.setPosition(moveLatLon);
                        marker.setMap(map);
                    }
                });
            }
        }).open();
    }
</script>
</body>
</html>
