<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=55b38bb80852c12b35f14456e76868a9&libraries=services"></script>
</head>

<body layout:fragment="content">
<header th:replace="fragments :: business-register-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div class="container-fluid page-body-wrapper">
    <div class="main-panel w-100">
        <div class="content-wrapper">
            <div class="row">
                <form class="col-12 p-0" th:action="@{/store-register}" th:object="${createStoreRequestDto}"
                      method="post" onsubmit=" handleCheckboxClick()" enctype="multipart/form-data">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="font-weight-bold">영업점 등록 페이지</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">사업자 정보</h4>
                                <div class="form-group"><label for="representativeName">사업자 이름</label>
                                    <input class="form-control" type="text" id="representativeName"
                                           name="representativeName"
                                           th:field="*{representativeName}" th:value="*{representativeName}"
                                           placeholder="사업자 이름">
                                </div>

                                <div class="form-group"><label for="storeName">사업자 등록번호</label>
                                    <input class="form-control" type="text" id="businessLicenseNumber"
                                           name="businessLicenseNumber"
                                           th:field="*{businessLicenseNumber}" th:value="*{businessLicenseNumber}"
                                           placeholder="'-'은 제외하고 입력해주세요.">
                                </div>

                                <div class="form-group">
                                    <label>사업자 등록증 사본</label>
                                    <input type="file" name="businessLicense" class="file-upload-default" accept="image/png,image/jpg">
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info" disabled
                                           id="businessLicense"
                                           placeholder="Upload Image">
                                        <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-info"
                                                    type="button">이미지 찾기</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group"><label class="form-label">은행명</label>
                                    <div class="input-group col-xs-12 mb-2">
                                        <select class="form-control w-100" id="bankCode" name="bankCode" style="height: 42px; padding-left: 18px; padding-right: 20px; color: black;"
                                                th:field="*{bankCode}">
                                            <option value="">은행을 선택해주세요</option>
                                            <option th:each="bank : ${banks}" th:value="${bank.getBankTypeCode()}"
                                                    th:text="${bank.getDescription()}"></option>
                                        </select>
                                    </div>
                                    <input class="form-control" type="text"
                                           id="bankAccount" name="bankAccount"
                                           th:field="*{bankAccount}" th:value="*{bankAccount}" placeholder="'-'은 제외하고 입력해주세요.">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">영업점 정보</h4>
                                <div class="form-group">
                                    <label for="storeName">영업점 상호명</label>
                                    <input class="form-control" type="text" id="storeName" name="storeName"
                                           th:field="*{storeName}" th:value="*{storeName}" placeholder="영업점 상호명">
                                </div>

                                <div class="form-group">
                                    <label>매장 대표 이미지</label>
                                    <input type="file" name="storeImage" class="file-upload-default" accept="image/png,image/jpg">
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info" disabled
                                               id="storeImage"
                                               placeholder="Upload Image">
                                        <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-info" type=
                                                    "button">이미지 찾기</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group"><label for="phoneNumber">영업점 전화번호</label>
                                    <input class="form-control" type="text" id="phoneNumber"
                                           name="phoneNumber"
                                           th:field="*{phoneNumber}" th:value="*{phoneNumber}"
                                           placeholder="'-'은 제외하고 입력해주세요.">
                                </div>

                                <div class="form-group"><label>영업점 주소</label>
                                    <div class="input-group col-xs-12 mb-2">
                                        <input type="text" class="form-control" id="mainPlace" name="mainPlace"
                                               th:field="*{mainPlace}" th:value="*{mainPlace}" placeholder="메인 주소">
                                        <button class="btn btn-info" onclick="execDaumPostcode()" type="button">
                                            주소 검색
                                        </button>
                                    </div>
                                    <input class="form-control" type="text" id="detailPlace"
                                           name="detailPlace"
                                           th:field="*{detailPlace}" th:value="*{detailPlace}" placeholder="서브 주소">

                                    <input type="hidden" id="latitude" name="latitude" th:field="*{latitude}"
                                           th:value="*{latitude}">
                                    <input type="hidden" id="longitude" name="longitude" th:field="*{longitude}"
                                           th:value="*{longitude}">

                                    <div class="input-group" id="map"
                                         style="width: auto; height: 300px; margin-top: 10px;"></div>
                                </div>

                                <div class="form-group"><label class="form-label">가맹점 상호명</label>
                                    <div class="input-group col-xs-12">
                                        <select class="form-control w-100" id="merchantId" name="merchantId" style="height: 42px; padding-left: 18px; padding-right: 20px; color: black;"
                                                th:field="*{merchantId}">
                                            <option value="">가맹점을 선택해주세요</option>
                                            <option th:each="merchant : ${merchants}" th:value="${merchant.id}"
                                                    th:text="${merchant.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label for="earningRate">적립률</label>
                                    <input class="form-control" type="text" id="earningRate" name="earningRate"
                                           th:field="*{earningRate}" th:value="*{earningRate}" placeholder="0.0 ~ 9.9까지 입력 가능합니다."
                                            oninput="validateEarningRate(this)">
                                    <p id="errorText" style="color: red; display: none;">0.0보다 적거나 9.9보다 큰 값을 입력할 수 없습니다.</p>
                                </div>
                                <div class="form-group"><label for="minimumOrderPrice">최소주문금액</label>
                                    <input class="form-control" type="text" id="minimumOrderPrice" name="minimumOrderPrice"
                                           th:field="*{minimumOrderPrice}" th:value="*{minimumOrderPrice}" placeholder="숫자만 입력하세요."
                                           oninput="validateMinimumOrderPrice(this)">
                                    <p id="errorText-minimumOrderPrice" style="color: red; display: none;">0보다 작은 값을 적을 수 없습니다.</p>
                                </div>
                                <div class="form-group"><label for="deliveryCost">기본 배달비</label>
                                    <input class="form-control" type="text" id="deliveryCost" name="deliveryCost"
                                           th:field="*{deliveryCost}" th:value="*{deliveryCost}" placeholder="숫자만 입력하세요."
                                           oninput="validateDeliveryCost(this)">
                                    <p id="errorText-deliveryCost" style="color: red; display: none;">4000원보다 적을 수 없습니다.</p>
                                </div>
                                <div class="form-group"><label class="form-label" for="storeCategories">카테고리 (1 ~ 3개까지 입력 가능합니다.)</label>
                                    <div class="row">
                                        <div class="col-sm-3" th:each="category : ${categories}"  id="storeCategories">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" name="storeCategories" th:value="${category.getCategoryCode()}"
                                                       th:text="${category.getDescription()}" onclick="handleCheckboxClick.call(this)">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>오픈 예정일</label>
                                    <div class="input-group col-xs-12">
                                        <input type="date" class="form-control"
                                               th:field="*{openingDate}" th:value="*{openingDate}"
                                               id="openingDate" name="openingDate"
                                               placeholder="오픈 예정일">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>가게 설명</label>
                                    <input type="text" id="description" name="description" hidden="hidden"
                                           th:field="*{description}" th:value="*{description}" placeholder="내용을 입력해주세요.">
                                    <div id="editor"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <button class="btn btn-info m-0" type="submit" id="submitButton">영업점 신규 등록</button>
                                <button class="btn btn-light m-0">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>
<script>
    function validateEarningRate(input) {
        const earningRate = parseFloat(input.value);
        const errorText = document.getElementById('errorText');

        if (isNaN(earningRate) || earningRate < 0.0 || earningRate > 9.9) {
            errorText.style.display = 'block';
        } else {
            errorText.style.display = 'none';
        }
    }

    function validateMinimumOrderPrice(input) {
        const minimumOrderPrice = parseFloat(input.value);
        const errorText = document.getElementById('errorText-minimumOrderPrice');

        if (isNaN(minimumOrderPrice) || minimumOrderPrice < 0) {
            errorText.style.display = 'block';
        } else {
            errorText.style.display = 'none';
        }
    }

    function validateDeliveryCost(input) {
        const deliveryCost = parseFloat(input.value);
        const errorText = document.getElementById('errorText-deliveryCost');

        if (isNaN(deliveryCost) || deliveryCost < 4000) {
            errorText.style.display = 'block';
        } else {
            errorText.style.display = 'none';
        }
    }

    window.onload = function(){
        const deliveryCostInput = document.getElementById('deliveryCost');
        const earningRateInput = document.getElementById('earningRate');
        const minimumOrderPriceInput = document.getElementById('minimumOrderPrice')
        if (earningRateInput.value.trim() === ""){
            earningRateInput.value = "0.0";
        }
        if(minimumOrderPriceInput.value.trim() === ""){
            minimumOrderPriceInput.value = 0;
        }
        if(deliveryCostInput.value.trim() === ""){
            deliveryCostInput.value = 4000;
        }
    }
</script>
<script>
    var mapContainer = document.getElementById('map');
    var mapOption = {
        center: new daum.maps.LatLng(35.140031585514, 126.934176746529),
        level: 5
    };
    var map = new daum.maps.Map(mapContainer, mapOption);
    var geocoder = new daum.maps.services.Geocoder();
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(35.140031585514, 126.934176746529),
        map: map
    });

    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = data.address;
                document.getElementById("mainPlace").value = addr;
                geocoder.addressSearch(data.address, function (results, status) {
                    if (status === daum.maps.services.Status.OK) {
                        var result = results[0];
                        var lat = result.y;
                        var lng = result.x;
                        document.getElementById("latitude").value = lat;
                        document.getElementById("longitude").value = lng;
                        mapContainer.style.display = "block";
                        map.relayout();
                        map.setCenter(new daum.maps.LatLng(lat, lng));
                        marker.setPosition(new daum.maps.LatLng(lat, lng));
                    }
                });
            }
        }).open();
    }

</script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const editor = new toastui.Editor({
        initialEditType: 'wysiwyg',
        el: document.querySelector('#editor'),
        previewStyle: 'vertical',
        height: '500px',
        initialValue: '가게 설명을 입력해주세요.'
    });

    document.querySelector('#submitButton').addEventListener('click', function () {
        let editorContent = editor.getHTML();
        document.querySelector('#description').value = editorContent;
    });
</script>
<script>
    function getSelectedCategories() {
        const checkboxes = document.getElementsByName('storeCategories');
        const selectedCategories = [];

        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedCategories.push(checkboxes[i].value);
            }
        }
        return selectedCategories;
    }

    function handleCheckboxClick() {
        const selectedCategories = getSelectedCategories();
        const checkMaximum = 3;
        if (selectedCategories.length > checkMaximum) {
            this.checked = false;
            alert("최대 3개의 카테고리만 선택할 수 있습니다.");
        }
    }
</script>
</body>
</html>
