<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/responsive.css">
    <link rel="shortcut icon" href="/assets/images/favicon.png"/>
</head>

<body>

<header th:replace="fragments :: admin-site-header"></header>

<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: admin-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">가맹점 관리 페이지</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">나의 매장과 연결된 가맹점</h4>
                            <form class="forms-sample">
                                <div class="form-group"><label class="form-label">가맹점 이름</label><input type="file"
                                                                                                       name="img[]"
                                                                                                       class="file-upload-default">
                                    <div class="input-group col-xs-12"><input
                                            class="form-control form-control file-upload-info" type="text" disabled=""
                                            placeholder="가맹점 이름"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">가맹점 등록 매장</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>매장 이름</th>
                                        <th>매장 대표자 이름</th>
                                        <th>매장 전화번호</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>네네치킨 - 조선대점</td>
                                        <td>이름이름</td>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    <tr>
                                        <td>네네치킨 - 중앙대점</td>
                                        <td>이름이름</td>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    <tr>
                                        <td>네네치킨 - 경희대점</td>
                                        <td>이름이름</td>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    <tr>
                                        <td>네네치킨 - 외국어대점</td>
                                        <td>이름이름</td>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    <tr>
                                        <td>네네치킨 - 시립대점</td>
                                        <td>이름이름</td>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-info mr-2" type="submit">가맹점 등록 신청</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: site-footer"></footer>

<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/todolist.js"></script>
<script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<script src="/assets/vendors/select2/select2.min.js"></script>
<script src="/assets/js/file-upload.js"></script>
<script src="/assets/js/typeahead.js"></script>
<script src="/assets/js/select2.js"></script>
<script>
    window.onload = function () {
        window.scrollTo(0, 0);
    }
</script>
</body>

</html>
