<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/responsive.css">
    <link rel="shortcut icon" href="/assets/images/favicon.png"/>
</head>

<body>

<header th:replace="fragments :: admin-site-header"></header>

<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: business-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">영업점 정보 관리 페이지</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">사업자 정보</h4>
                            <div class="form-group"><label for="representativeName">사업자 이름</label>
                                <span th:text="${storeInfo.getRepresentativeName()}" id="representativeName"></span>
                            </div>

                            <div class="form-group"><label for="businessLicenseNumber">사업자 등록번호</label>
                                <span th:text="${storeInfo.getBusinessLicenseNumber()}"
                                      id="businessLicenseNumber"></span>
                            </div>

                            <div class="form-group"><label>정산 정보</label>
                                <div class="input-group col-xs-12">
                                    <span th:text="${storeInfo.getBankCode()}" id="bankCode"></span>
                                </div>
                                사업자 계좌번호 : <span th:text="${storeInfo.getBankAccountNumber()}" id="bankAccountNumber">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">영업점 정보</h4>

                            <div class="form-group"><label for="storeName">영업점 상호명</label>
                                <span th:text="${storeInfo.getStoreName()}" id="storeName"></span>
                            </div>

                            <div class="form-group"><label for="phoneNumber">영업점 전화번호</label>
                                <span th:text="${storeInfo.getPhoneNumber()}" id="phoneNumber"></span>
                            </div>

                            <!--                            <div class="form-group"><label>영업점 주소</label>-->
                            <!--                                <div class="input-group col-xs-12">-->
                            <!--                                    <input type="text" class="form-control" id="mainPlace" name="mainPlace"-->
                            <!--                                           th:field="*{mainPlace}" th:value="*{mainPlace}" placeholder="메인 주소">-->
                            <!--                                    <button class="btn btn-info" onclick="execDaumPostcode()" type="button">-->
                            <!--                                        주소 검색-->
                            <!--                                    </button>-->
                            <!--                                </div>-->
                            <!--                                <input class="form-control" type="text" id="detailPlace"-->
                            <!--                                       name="detailPlace"-->
                            <!--                                       th:field="*{detailPlace}" th:value="*{detailPlace}" placeholder="서브 주소">-->

                            <!--                                <input type="hidden" id="latitude" name="latitude" th:field="*{latitude}">-->
                            <!--                                <input type="hidden" id="longitude" name="longitude" th:field="*{longitude}">-->

                            <!--                                <div id="map" style="width: auto; height: 300px; margin-top: 10px;"></div>-->
                            <!--                            </div>-->
                            <div class="form-group">
                                <label>영업점 주소</label>
                                <div th:text="${storeInfo.getMainPlace()}+ ' '+ ${storeInfo.getDetailPlace()}"></div>
                            </div>

                            <div class="form-group"><label for="earningRate">적립률</label>
                                <span th:text="${storeInfo.getDefaultEarningRate()}" id="earningRate"></span>
                                <div class="form-group">
                                    <label for="openingDate">가게 개업일</label>
                                    <span th:text="${storeInfo.getOpeningDate()}" id="openingDate"></span>
                                </div>
                                <div class="form-group">
                                    <label>가게 설명</label>
                                    <span th:text="${storeInfo.getDescription()}"></span>
                                </div>
                            </div>
                            매장 대표사진
                            <p><img th:src="${storeInfo.getPathName()}" alt="No image"
                                    width="200px"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: site-footer"></footer>

<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/todolist.js"></script>
<script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<script src="/assets/vendors/select2/select2.min.js"></script>
<script src="/assets/js/file-upload.js"></script>
<script src="/assets/js/typeahead.js"></script>
<script src="/assets/js/select2.js"></script>
</body>

</html>
