<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <title>Untitled</title>
</head>
<body layout:fragment="content">
<header th:replace="fragments :: business-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: business-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">가맹점 관리 페이지</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">나의 매장과 연결된 가맹점</h4>
                            <form class="forms-sample">
                                <div class="form-group"><label class="form-label">가맹점 이름</label><input type="file"
                                                                                                       name="img[]"
                                                                                                       class="file-upload-default">
                                    <div class="input-group col-xs-12"><input
                                            class="form-control form-control file-upload-info" type="text" disabled=""
                                            placeholder="가맹점 이름"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">가맹점 등록 매장</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>매장 이름</th>
                                        <th>매장 대표자 이름</th>
                                        <th>매장 전화번호</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>네네치킨 - 조선대점</td>
                                        <td>이름이름</td>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    <tr>
                                        <td>네네치킨 - 중앙대점</td>
                                        <td>이름이름</td>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    <tr>
                                        <td>네네치킨 - 경희대점</td>
                                        <td>이름이름</td>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    <tr>
                                        <td>네네치킨 - 외국어대점</td>
                                        <td>이름이름</td>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    <tr>
                                        <td>네네치킨 - 시립대점</td>
                                        <td>이름이름</td>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-info mr-2" type="submit">가맹점 등록 신청</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>
</body>

</html>
