<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="/assets/images/favicon.png"/>
</head>

<body>
<div class="container-fluid page-body-wrapper">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <p class="sidebar-menu-title">쿡슝 사장님 메뉴</p>
            </li>
            <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
                                    aria-controls="form-elements"><i class="typcn typcn-th-small-outline menu-icon"></i><span
                    class="menu-title">매장 관리</span><i class="menu-arrow"></i></a>
                <div class="collapse" id="form-elements">
                    <ul class="flex-column nav sub-menu">
                        <li><a class="nav-link" href="store-register">매장 등록</a></li>
                        <li><a class="nav-link" href="store-info-manager">매장 관리</a></li>
                        <li><a class="nav-link" href="store-time-manager">영업시간 관리</a></li>
                        <li><a class="nav-link" href="store-merchant-manager">가맹점 관리</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false"
                                    aria-controls="charts"><i class="typcn typcn-chart-pie-outline menu-icon"></i><span
                    class="menu-title">메뉴 관리</span><i class="menu-arrow"></i></a>
                <div class="collapse" id="charts">
                    <ul class="flex-column nav sub-menu">
                        
                        <li><a class="nav-link" href="store-menu-manager">메뉴 관리</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false"
                                    aria-controls="tables"><i class="typcn typcn-th-small-outline menu-icon"></i><span
                    class="menu-title">주문 관리</span><i class="menu-arrow"></i></a>
                <div class="collapse" id="tables">
                    <ul class="flex-column nav sub-menu">
                        <li><a class="nav-link" href="store-order-manager">주문 관리</a></li>
                        <li><a class="nav-link" href="store-delivery-manager">배송 관리</a></li>
                        <li><a class="nav-link" href="store-charge-manager">결제 관리</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false"
                                    aria-controls="auth"><i class="typcn typcn-user-add-outline menu-icon"></i><span
                    class="menu-title">할인 관리</span><i class="menu-arrow"></i></a>
                <div class="collapse" id="auth">
                    <ul class="flex-column nav sub-menu">
                        <li><a class="nav-link" href="store-coupon-manager">쿠폰 관리</a></li>
                        <li><a class="nav-link" href="store-point-manager">포인트 관리</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false"
                                    aria-controls="error"><i class="typcn typcn-globe-outline menu-icon"></i><span
                    class="menu-title">리뷰 관리</span><i class="menu-arrow"></i></a>
                <div class="collapse" id="error">
                    <ul class="flex-column nav sub-menu">
                        <li><a class="nav-link" href="store-review-manager">리뷰 관리</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <form class="col-12 p-0" th:action="@{/store-time-manager-businesshour}" th:object="${createBusinessHourRequestDto}" method="post">
                    <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">영업점 영업시간 관리 페이지</h4>
                        </div>
                    </div>
                </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">영업시간 관리</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>요일</th>
                                            <th>영업시작시</th>
                                            <th>영업종료시</th>
                                            <th>영업시간 삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>월요일</td>
                                            <td>09:00 시</td>
                                            <td>21:00 시</td>
                                            <td>
                                                <button class="btn btn-info mr-2" type="submit">영업시간 삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>화요일</td>
                                            <td>09:00 시</td>
                                            <td>21:00 시</td>
                                            <td>
                                                <button class="btn btn-info mr-2" type="submit">영업시간 삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>수요일</td>
                                            <td>09:00 시</td>
                                            <td>21:00 시</td>
                                            <td>
                                                <button class="btn btn-info mr-2" type="submit">영업시간 삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>목요일</td>
                                            <td>09:00 시</td>
                                            <td>21:00 시</td>
                                            <td>
                                                <button class="btn btn-info mr-2" type="submit">영업시간 삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>금요일</td>
                                            <td>09:00 시</td>
                                            <td>21:00 시</td>
                                            <td>
                                                <button class="btn btn-info mr-2" type="submit">영업시간 삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>토요일</td>
                                            <td>09:00 시</td>
                                            <td>21:00 시</td>
                                            <td>
                                                <button class="btn btn-info mr-2" type="submit">영업시간 삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>일요일</td>
                                            <td>09:00 시</td>
                                            <td>21:00 시</td>
                                            <td>
                                                <button class="btn btn-info mr-2" type="submit">영업시간 삭제</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">영업시간 추가</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>요일</th>
                                            <th>영업시작시</th>
                                            <th>영업종료시</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <select class="js-example-basic-single w-100" id="dayCodeName" name="dayCodeName"
                                                        th:field="*{dayCodeName}" th:value="*{dayCodeName}">
                                                    <option value="">요일 선택</option>
                                                    <option value="월요일">월요일</option>
                                                    <option value="화요일">화요일</option>
                                                    <option value="수요일">수요일</option>
                                                    <option value="목요일">목요일</option>
                                                    <option value="금요일">금요일</option>
                                                    <option value="토요일">토요일</option>
                                                    <option value="일요일">일요일</option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="input-group col-xs-12">
                                                        <input type="time" class="form-control"
                                                               th:field="*{openHour}" th:value="*{openHour}"
                                                               id="openHour" name="openHour">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="input-group col-xs-12">
                                                        <input type="time" class="form-control"
                                                               th:field="*{closeHour}" th:value="*{closeHour}"
                                                               id="closeHour" name="closeHour">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button class="btn btn-info mr-2" type="submit">영업시간 추가</button>
                        </div>
                    </div>
                </form>
                <form class="col-12 p-0" th:action="@{/store-time-manager-holiday}" th:object="${createHolidayRequestDto}" method="post">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">휴무일 관리</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>상태</th>
                                            <th>휴무시작일</th>
                                            <th>휴무종료일</th>
                                            <th>휴무일 취소</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <td>완료</td>
                                            <td>2023 년 2 월 10 일</td>
                                            <td>2023 년 2 월 11 일</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>완료</td>
                                            <td>2023 년 3 월 10 일</td>
                                            <td>2023 년 3 월 11 일</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>완료</td>
                                            <td>2023 년 3 월 10 일</td>
                                            <td>2023 년 3 월 11 일</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>예정</td>
                                            <td>2023 년 4 월 10 일</td>
                                            <td>2023 년 4 월 11 일</td>
                                            <td>
                                                <button class="btn btn-info mr-2" type="submit">휴무일 취소</button>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">휴무일 추가</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>휴무시작일</th>
                                            <th>휴무종료일</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <div class="input-group col-xs-12">
                                                        <input type="date" class="form-control"
                                                               th:field="*{holidayStartDate}" th:value="*{holidayStartDate}"
                                                               id="holidayStartDate" name="holidayStartDate">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="input-group col-xs-12">
                                                        <input type="date" class="form-control"
                                                               th:field="*{holidayEndDate}" th:value="*{holidayEndDate}"
                                                               id="holidayEndDate" name="holidayEndDate">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <button class="btn btn-info mr-2" type="submit">휴무일 추가</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/todolist.js"></script>
<script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<script src="/assets/vendors/select2/select2.min.js"></script>
<script src="/assets/js/file-upload.js"></script>
<script src="/assets/js/typeahead.js"></script>
<script src="/assets/js/select2.js"></script>
</body>

</html>
