<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
  <meta charset="UTF-8">
  <title>결제</title>
  <script src="https://js.tosspayments.com/v1/payment"></script>
  <link rel="stylesheet" href="/assets/css/vertical-layout-light/payment.css">
</head>

<body layout:fragment="content">
<header th:replace="fragments :: user-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div th:replace="fragments :: all-address-list"></div>


<div class="container-fluid page-body-wrapper">
  <div class="content-wrapper">
    <section class="payment-container">
      <div class="payment-header">
        <h1>오류 페이지</h1>
      </div>
      <div class="payment-card">
        <div class="payment-card-header">
          <h2 class="payment-title">결제 관련 오류</h2>
        </div>
        <div class="card-body">
          <div class="details">
            <div class="detail-row">
              <h4 class="detail-label">오류코드</h4>
              <h5 class="detail-value" th:text="${code}"></h5>
            </div>
            <hr>
            <div class="detail-row">
              <h4 class="detail-label">오류 메시지</h4>
              <h5 class="detail-value" th:text="${message}">
              </h5>
            </div>
            <hr>
          </div>
        </div>
        <div class="card-footer payment-methods">
          <button type="button"
                  th:onclick="/" id="card2">
            <span class="text">홈으로 가기</span>
          </button>
        </div>
      </div>
    </section>
  </div>
</div>

<footer th:replace="fragments :: site-footer"></footer>
</body>
</html>
