<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/responsive.css">
    <link rel="shortcut icon" href="/assets/images/favicon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>

<body>
<div class="hero_area" >
    <header class="header_section" >
        <div class="row">
            <div class="col-4 justify-content-end align-items-center">
                <a href="/">
                    <img src="/assets/images/shoong.png" alt="" style="height: 55px">
                </a>
            </div>
            <div class="col-4 justify-content-center align-items-center navbar navbar-expand-lg custom_nav-container">
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                    <a th:href="@{/sign-up}" style="color: white" class="mr-2">
                        회원가입
                    </a>
                    <a th:href="@{/login-page}" style="color: white">
                        로그인
                    </a>
            </div>
        </div>
        <div class="container-fluid" >
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="store-register">Admin</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</div>
<div class="container-fluid page-body-wrapper">
    <div class="landing-panel">
        <div class="content-wrapper">
            <section class="slider_section">
                <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 400px">
                            <div class="bg-box">
                                <img src="/assets/images/1.png" alt="">
                            </div>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="detail-box">
                                            <h1>
                                                만두
                                            </h1>
                                            <p>
                                                맛있겠다.
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn1">
                                                    주문하러 가기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 400px">
                            <div class="bg-box">
                                <img src="/assets/images/2.png" alt="">
                            </div>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="detail-box">
                                            <h1>
                                                버블티
                                            </h1>
                                            <p>
                                                아주 맛있겠다.
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn1">
                                                    주문하러 가기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 400px">
                            <div class="bg-box">
                                <img src="/assets/images/3.png" alt="">
                            </div>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="detail-box">
                                            <h1>
                                                한우
                                            </h1>
                                            <p>
                                                참을 수 없이 맛있겠다.
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn1">
                                                    주문하러 가기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 400px">
                            <div class="bg-box">
                                <img src="/assets/images/4.png" alt="">
                            </div>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="detail-box">
                                            <h1>
                                                팟타이
                                            </h1>
                                            <p>
                                                와 맛있겠다.
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn1">
                                                    주문하러 가기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#customCarousel1" data-slide-to="1"></li>
                        <li data-target="#customCarousel1" data-slide-to="2"></li>
                        <li data-target="#customCarousel1" data-slide-to="3"></li>
                    </ol>
                </div>
            </section>
            <section class="container mt-4 mb-2 bg-white">
                <div class="most-popular">
                    <ul class="nav nav-tabs col-12 border-0">
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link active p-0 border-0 m-0 bg-white" href="#c1"
                               data-toggle="tab">모두</a>
                        </li>
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link p-0 border-0 m-0 bg-white" href="#c2"
                               data-toggle="tab">한식</a>
                        </li>
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link p-0 border-0 m-0 bg-white" href="#c3"
                               data-toggle="tab">일식</a>
                        </li>
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link p-0 border-0 m-0 bg-white" href="#c4"
                               data-toggle="tab">중식</a>
                        </li>
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link p-0 border-0 m-0 bg-white" href="#c5"
                               data-toggle="tab">디저트</a>
                        </li>
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link p-0 border-0 m-0 bg-white" href="#c6"
                               data-toggle="tab">치킨</a>
                        </li>
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link p-0 border-0 m-0 bg-white" href="#c7"
                               data-toggle="tab">피자</a>
                        </li>
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link p-0 border-0 m-0 bg-white" href="#c8"
                               data-toggle="tab">도시락</a>
                        </li>
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link p-0 border-0 m-0 bg-white" href="#c9"
                               data-toggle="tab">야식</a>
                        </li>
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link p-0 border-0 m-0 bg-white" href="#c10"
                               data-toggle="tab">분식</a>
                        </li>
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link p-0 border-0 m-0 bg-white" href="#c11"
                               data-toggle="tab">분식</a>
                        </li>
                        <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 align-items-center border-0">
                            <a class="category-font nav-link p-0 border-0 m-0 bg-white" href="#c12"
                               data-toggle="tab">1인분</a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="container mt-4 mb-2 bg-white">
                <div class="tab-content w-100 border-0">
                    <div class="tab-pane fade show active" id="c1">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${allStore}">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem" th:text="20분"></span></p>
                                        <p>배달요금 4000원</p>
                                        <p>
                                        <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                             style="font-size: 0.9rem; width: 100px; border-color: orange">
                                            <i class="mdi mdi-checkbox-marked-circle icon-sm" style="color: orange"></i><span
                                                class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c2">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${stores}"
                                 th:if="${store.category}=='KOR'">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">20분</span></p>
                                        <p>배달요금 4000원</p>
                                        <p>
                                        <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                             style="font-size: 0.9rem; width: 100px; border-color: orange">
                                            <i class="mdi mdi-checkbox-marked-circle icon-sm" style="color: orange"></i><span
                                                class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c3">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${stores}"
                                 th:if="${store.category}=='JPN'">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">20분</span></p>
                                        <p>배달요금 4000원</p>
                                        <p>
                                        <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                             style="font-size: 0.9rem; width: 100px; border-color: orange">
                                            <i class="mdi mdi-checkbox-marked-circle icon-sm" style="color: orange"></i><span
                                                class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c4">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${stores}"
                                 th:if="${store.category}=='CHN'">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">20분</span></p>
                                        <p>배달요금 4000원</p>
                                        <p>
                                        <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                             style="font-size: 0.9rem; width: 100px; border-color: orange">
                                            <i class="mdi mdi-checkbox-marked-circle icon-sm" style="color: orange"></i><span
                                                class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c5">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${stores}"
                                 th:if="${store.category}=='DES'">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">20분</span></p>
                                        <p>배달요금 4000원</p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c6">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${stores}"
                                 th:if="${store.category}=='CHK'">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">20분</span></p>
                                        <p>배달요금 4000원</p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c7">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${stores}"
                                 th:if="${store.category}=='PIZ'">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">20분</span></p>
                                        <p>배달요금 4000원</p>
                                        <p>
                                        <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                             style="font-size: 0.9rem; width: 100px; border-color: orange">
                                            <i class="mdi mdi-checkbox-marked-circle icon-sm" style="color: orange"></i><span
                                                class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c8">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${stores}"
                                 th:if="${store.category}=='BOX'">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">20분</span></p>
                                        <p>배달요금 4000원</p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c9">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${stores}"
                                 th:if="${store.category}=='NIG'">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">20분</span></p>
                                        <p>배달요금 4000원</p>
                                        <p>
                                        <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                             style="font-size: 0.9rem; width: 100px; border-color: orange">
                                            <i class="mdi mdi-checkbox-marked-circle icon-sm" style="color: orange"></i><span
                                                class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c10">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${stores}"
                                 th:if="${store.category}=='BUN'">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">20분</span></p>
                                        <p>배달요금 4000원</p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c11">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${stores}"
                                 th:if="${store.category}=='JPN'">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">20분</span></p>
                                        <p>배달요금 4000원</p>
                                        <p>
                                        <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                             style="font-size: 0.9rem; width: 100px; border-color: orange">
                                            <i class="mdi mdi-checkbox-marked-circle icon-sm" style="color: orange"></i><span
                                                class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="c12">
                        <div class="row ml-1 mr-1 mt-1 mb-1">
                            <div class="col-12 col-lg-6 col-xl-6 pl-1 pr-1" th:each="store, i:${stores}"
                                 th:if="${store.category}=='POR'">
                                <button class="row border-top border-bottom border-left border-right pt-2 ml-1 mr-1 mt-1 mb-1 w-100 bg-white"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 align-content-start text-md-center pr-3 pb-2"
                                         style="max-width: 150px">
                                        <img src="/assets/images/nodata.png" alt="image" style="width: 130px">
                                    </div>
                                    <div class="col-sm-6 col-6" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="mdi mdi-heart icon-sm" style="color: red"></i> <span
                                                class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">210</span>
                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                            <span
                                                    class="pr-1" style="font-size: 0.85rem">20분</span></p>
                                        <p>배달요금 4000원</p>
                                        <p>
                                        <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                             style="font-size: 0.9rem; width: 100px; border-color: orange">
                                            <i class="mdi mdi-checkbox-marked-circle icon-sm" style="color: orange"></i><span
                                                class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<footer class="footer_section" >
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        About US
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="mdi mdi-github-circle icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">COOKSHOONG</span>
                        </a>
                        <a href="">
                            <i class="mdi mdi-database icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">ERD-CLOUD</span>
                        </a>
                        <a href="">
                            <i class="mdi mdi-book-open icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">Api Docs</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        CookShoong
                    </h4>
                    <p>
                        쿡슝 프로젝트는 NHN Academy Project 로 제작된 배달 어플리케이션입니다.
                    </p>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Laboratory
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="mdi mdi-information icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">Information</span>
                        </a>
                        <a href="">
                            <i class="mdi mdi-test-tube icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">Test</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; 2023</span> All Rights Reserved By
                <a href="https://nhnacademy.github.io/">NHN Academy</a><br>
                &copy; 2023</span> Distributed By
                <a href="https://nhnacademy.github.io/">Cookshoong</a>
            </p>
        </div>
    </div>
</footer>

<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/todolist.js"></script>
<script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<script src="/assets/vendors/select2/select2.min.js"></script>
<script src="/assets/js/file-upload.js"></script>
<script src="/assets/js/typeahead.js"></script>
<script src="/assets/js/select2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>

</html>
