<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">

<body layout:fragment="content">
<header th:replace="fragments :: user-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div th:replace="fragments :: all-address-list"></div>

<div class="container-fluid page-body-wrapper">
    <div class="landing-panel">
        <div class="content-wrapper">
            <section class="slider-section">
                <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 400px">
                            <div class="bg-box">
                                <img src="/assets/images/1.png" alt="">
                            </div>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="detail-box pl-3">
                                            <h1>
                                                만두
                                            </h1>
                                            <p>
                                                광고 설명
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn1">
                                                    주문하러 가기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 400px">
                            <div class="bg-box">
                                <img src="/assets/images/2.png" alt="">
                            </div>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="detail-box pl-3">
                                            <h1>
                                                버블티
                                            </h1>
                                            <p>
                                                광고 설명
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn1">
                                                    주문하러 가기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 400px">
                            <div class="bg-box">
                                <img src="/assets/images/3.png" alt="">
                            </div>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="detail-box pl-3">
                                            <h1>
                                                한우
                                            </h1>
                                            <p>
                                                광고 설명
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn1">
                                                    주문하러 가기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 400px">
                            <div class="bg-box">
                                <img src="/assets/images/4.png" alt="">
                            </div>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="detail-box pl-3">
                                            <h1>
                                                팟타이
                                            </h1>
                                            <p>
                                                광고 설명
                                            </p>
                                            <div class="btn-box">
                                                <a href="" class="btn1">
                                                    주문하러 가기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#customCarousel1" data-slide-to="1"></li>
                        <li data-target="#customCarousel1" data-slide-to="2"></li>
                        <li data-target="#customCarousel1" data-slide-to="3"></li>
                    </ol>
                </div>
            </section>
            <section class="container mt-5 mb-5 bg-white pl-4">
                <form class="form-group" th:action="@{/index/search}" method="get">
                    <div class="input-group w-100">
                        <input type="text" name="keyword" class="form-control" placeholder="Search.."
                               style="border: 3px solid #f68007; border-radius: 10px; z-index: 0;">
                        <span class="input-group-append" style="width: 100px;">
                            <button class="btn btn-warning w-100"
                                    style="border-top-right-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                    margin-left: -15px;" type="submit">
                                <i class="mdi mdi-yeast" style="color: white"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </section>
            <section class="container mt-5 mb-5 bg-white">

                <span class="category-font p-4" style="font-size: 30px;">오늘은 어디서 시킬까?</span>

                <form class="form-group" th:action="@{/index/search}" method="get">
                    <input type="hidden" name="keyword" id="selectedCategory" value="">
                    <div class="most-popular">
                        <ul class="nav nav-tabs col-12 border-0 p-0">
                            <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 d-flex align-items-center justify-content-center border-0 p-0">
                                <button th:class="${keywordText == null} ? 'category-font nav-link p-0 border-0 m-0 bg-white active' : 'category-font nav-link p-0 border-0 m-0 bg-white'"
                                        data-toggle="tab" th:text="'모두'" onclick="window.location.href='/'">
                                </button>
                            </li>
                            <li class="nav-item col-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 d-flex align-items-center justify-content-center border-0 p-0"
                                th:each="category, i : ${categories}">
                                <button th:class="${category.description == keywordText} ? 'category-font nav-link p-0 border-0 m-0 bg-white active' : 'category-font nav-link p-0 border-0 m-0 bg-white'"
                                        data-toggle="tab" th:text="${category.description}"
                                        th:data-keyword="${category.description}"
                                        th:attr="onclick='document.getElementById(\'selectedCategory\').value = \'' + ${category.description} + '\'; this.form.submit();'">
                                </button>
                            </li>
                        </ul>
                    </div>
                </form>

                <div class="w-100 border-0">
                    <div>
                        <div class="row m-1" id="store-container">
                            <div class="col-12 col-lg-6 col-xl-6 pl-2 pr-2" th:each="store, i:${stores}">
                                <button class="row border-top border-bottom border-left border-right pt-2 m-1 w-100 bg-white shadow-sm"
                                        th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-sm-6 col-6 p-1 align-content-start text-left"
                                         style="max-width: 150px">
                                        <div class="position-relative">
                                            <img th:src="${store.savedName}"
                                                 style="object-fit: cover; width: 130px; height: 110px; margin-left: 4px; position: absolute;"
                                                 onerror="this.onerror=null; this.src='/assets/images/nodata.png';">
                                            <img th:src="'/assets/images/notready.png'"
                                                 th:if="${store.storeStatus == 'CLOSE' || store.storeStatus == 'BREAK_TIME'}"
                                                 style="object-fit: cover; width: 130px; height: 110px; margin-left: 4px; opacity: 0.8; position: absolute;">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-6 p-1" style="text-align: start">
                                        <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                        <p><i class="typcn typcn-star-full-outline" style="color: darkorange; font-size: 22px; padding-bottom: 1px;"></i>
                                            <span class="pr-1" style="font-size: 0.85rem">4.7</span>
                                            <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                            <span class="pr-1" style="font-size: 0.85rem">210</span>
                                        <p th:text="'최소주문 : '+${#numbers.formatInteger(store.minimumOrderPrice,0,'COMMA')} + ' 원'"></p>
                                        <p>
                                        <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                             style="font-size: 0.9rem; width: 100px; border-color: orange">
                                            <i class="mdi mdi-checkbox-marked-circle icon-sm" style="color: orange"></i><span
                                                class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="text-center w-100">
                            <button id="load-more" class="btn btn-warning m-4 font-weight-bold"
                                    style="color: white; background-color: #ea6b19; width: 400px; border-radius: 10px;">
                                더 보기
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container mt-5 mb-5 bg-white">
                <span class="category-font p-4" style="font-size: 30px;">주목! 여기가 별점 맛집!</span>
                <div class="post-slider mt-3">
                    <div class="post-wrapper">
                        <div class="post" th:each="store, i:${stores}">
                            <button class="col-12 border-top border-bottom border-left border-right p-2 w-100 h-100 bg-white shadow-sm"
                                    th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                    style="border-radius: 1rem; max-width: 200px;">
                                <div class="col-12 p-0 text-center">
                                    <img th:src="${store.savedName}"
                                         style="object-fit: cover; width: 100%; height: 110px;"
                                         onerror="this.onerror=null; this.src='/assets/images/nodata.png';">
                                </div>
                                <div class="col-12 p-3 text-left">
                                    <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                    <p><i class="typcn typcn-star-full-outline"
                                          style="color: darkorange; font-size: 22px; padding-bottom: 1px;"></i> <span
                                            class="pr-1" style="font-size: 0.85rem">4.7</span>
                                        <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                        <span class="pr-1" style="font-size: 0.85rem">210</span>
                                        <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                    <p th:text="'최소주문 : ' + ${#numbers.formatInteger(store.minimumOrderPrice,0,'COMMA')}  + '원'"></p>
                                    <p>
                                    <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                         style="font-size: 0.9rem; width: 100px; border-color: orange">
                                        <i class="mdi mdi-checkbox-marked-circle icon-sm"
                                           style="color: orange"></i><span
                                            class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                    </p>
                                </div>
                            </button>
                        </div>
                        <div class="post" th:each="store, i:${stores}">
                            <button class="col-12 border-top border-bottom border-left border-right p-2 w-100 h-100 bg-white shadow-sm"
                                    th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                    style="border-radius: 1rem; max-width: 200px;">
                                <div class="col-12 p-0 text-center">
                                    <img th:src="${store.savedName}"
                                         style="object-fit: cover; width: 100%; height: 110px;"
                                         onerror="this.onerror=null; this.src='/assets/images/nodata.png';">
                                </div>
                                <div class="col-12 p-3 text-left">
                                    <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                    <p><i class="typcn typcn-star-full-outline"
                                          style="color: darkorange; font-size: 22px; padding-bottom: 1px;"></i> <span
                                            class="pr-1" style="font-size: 0.85rem">4.7</span>
                                        <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                        <span class="pr-1" style="font-size: 0.85rem">210</span>
                                        <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                    <p th:text="'최소주문 : ' +${#numbers.formatInteger(store.minimumOrderPrice,0,'COMMA')} + '원'"></p>
                                    <p>
                                    <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                         style="font-size: 0.9rem; width: 100px; border-color: orange">
                                        <i class="mdi mdi-checkbox-marked-circle icon-sm"
                                           style="color: orange"></i><span
                                            class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                    </p>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container mt-5 mb-5 bg-white">
                <span class="category-font p-4" style="font-size: 30px;">오늘의 이벤트는 여기!</span>
                <div class="post-slider mt-3">
                    <div class="post-wrapper">
                        <div class="post" th:each="store, i:${stores}">
                            <button class="col-12 border-top border-bottom border-left border-right p-2 w-100 h-100 bg-white shadow-sm"
                                    th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                    style="border-radius: 1rem; max-width: 200px;">
                                <div class="col-12 p-0 text-center">
                                    <img th:src="${store.savedName}"
                                         style="object-fit: cover; width: 100%; height: 110px;"
                                         onerror="this.onerror=null; this.src='/assets/images/nodata.png';">
                                </div>
                                <div class="col-12 p-3 text-left">
                                    <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                    <p><i class="typcn typcn-star-full-outline"
                                          style="color: darkorange; font-size: 22px; padding-bottom: 1px;"></i> <span
                                            class="pr-1" style="font-size: 0.85rem">4.7</span>
                                        <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                        <span class="pr-1" style="font-size: 0.85rem">210</span>
                                        <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                    <p th:text="'최소주문 : ' + ${#numbers.formatInteger(store.minimumOrderPrice,0,'COMMA')} + '원'"></p>
                                    <p>
                                    <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                         style="font-size: 0.9rem; width: 100px; border-color: orange">
                                        <i class="mdi mdi-checkbox-marked-circle icon-sm"
                                           style="color: orange"></i><span
                                            class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                    </p>
                                </div>
                            </button>
                        </div>
                        <div class="post" th:each="store, i:${stores}">
                            <button class="col-12 border-top border-bottom border-left border-right p-2 w-100 h-100 bg-white shadow-sm"
                                    th:onclick="'window.location.href=\'/index/store/' + ${store.id} + '\''"
                                    style="border-radius: 1rem; max-width: 200px;">
                                <div class="col-12 p-0 text-center">
                                    <img th:src="${store.savedName}"
                                         style="object-fit: cover; width: 100%; height: 110px;"
                                         onerror="this.onerror=null; this.src='/assets/images/nodata.png';">
                                </div>
                                <div class="col-12 p-3 text-left">
                                    <h4 class="font-weight-bold" th:text="${store.name}"></h4>
                                    <p><i class="typcn typcn-star-full-outline"
                                          style="color: darkorange; font-size: 22px; padding-bottom: 1px;"></i> <span
                                            class="pr-1" style="font-size: 0.85rem">4.7</span>
                                        <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                        <span class="pr-1" style="font-size: 0.85rem">210</span>
                                        <i class="mdi mdi mdi-timer icon-sm" style="color: grey"></i>
                                    <p th:text="'최소주문 : ' + ${#numbers.formatInteger(store.minimumOrderPrice,0,'COMMA')} + '원'"></p>
                                    <p>
                                    <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                         style="font-size: 0.9rem; width: 100px; border-color: orange">
                                        <i class="mdi mdi-checkbox-marked-circle icon-sm"
                                           style="color: orange"></i><span
                                            class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                    </p>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row m-1">
                </div>
            </section>
        </div>
    </div>
</div>
<script>
</script>
<script th:inline="javascript">

    $(document).ready(function () {
        let addressId = [[${addressId}]];
        let keywordText = [[${keywordText}]];
        let page = 1;
        let size = 10;
        let nextPageContentByDistance = [];
        let nextPageContentByKeyword = [];

        function loadPageByDistance(p, callback) {
            $.get("/search/page/distance?addressId=" + addressId + "&page=" + p + "&size=" + size, function (data) {
                if (callback) callback(data);
            });
        }

        function loadPageByKeyword(p, callback) {
            $.get("/search/page/keyword?keyword=" + keywordText + "&addressId=" + addressId + "&page=" + p + "&size=" + size, function (data) {
                if (callback) callback(data);
            });
        }

        function appendStores(data) {
            data.content.forEach(function (store) {
                let storeHtml = `
                    <div class="col-12 col-lg-6 col-xl-6 pl-2 pr-2">
                        <button class="row border-top border-bottom border-left border-right pt-2 m-1 w-100 bg-white shadow-sm"
                                onclick="window.location.href='/index/store/' + ${store.id}"
                                style="border-radius: 1rem">
                            <div class="col-sm-6 col-6 p-1 align-content-start text-left" style="max-width: 150px">
                                <div class="position-relative">
                                    <img src="${store.savedName}"
                                         style="object-fit: cover; width: 130px; height: 110px; margin-left: 4px; position: absolute;"
                                         onerror="this.onerror=null; this.src='/assets/images/nodata.png';">
                                    <img src="/assets/images/notready.png"
                                         ${store.storeStatus === 'BREAK_TIME' || store.storeStatus === 'CLOSE' ? 'style="object-fit: cover; width: 130px; height: 110px; margin-left: 4px; opacity: 0.8; position: absolute;"' : 'style="display:none;"'}>
                                </div>
                            </div>
                            <div class="col-sm-6 col-6 p-1" style="text-align: start">
                                <h4 class="font-weight-bold">${store.name}</h4>
                                <p><i class="typcn typcn-star-full-outline" style="color: darkorange; font-size: 22px; padding-bottom: 1px;"></i>
                                 <span class="pr-1" style="font-size: 0.85rem">4.7</span>
                                    <i class="mdi mdi-message icon-sm" style="color: black"></i>
                                    <span class="pr-1" style="font-size: 0.85rem">210</span>
                                <p>최소주문 : ${store.minimumOrderPrice.toLocaleString()} 원</p>
                                <p>
                                <div class="pt-1 pb-1 pl-1 pr-2 border-top border-bottom border-left border-right bg-white border-warning"
                                     style="font-size: 0.9rem; width: 100px; border-color: orange">
                                    <i class="mdi mdi-checkbox-marked-circle icon-sm" style="color: orange"></i><span class="category-font" style="font-size: 1rem">쿡슝 이벤트</span></div>
                                </p>
                            </div>
                        </button>
                    </div>`;
                $("#store-container").append(storeHtml);
            });
        }

        function checkButtonState(nextData) {
            if (nextData.content.length === 0) {
                $("#load-more").hide();
            }
        }

        if (keywordText == null || keywordText === '') {
            loadPageByDistance(page, function (data) {
                if(page !== 1) {
                    appendStores(data);
                }
                page++;

                loadPageByDistance(page, function (nextData) {
                    nextPageContentByDistance = nextData.content;
                    checkButtonState(nextData);
                });
            });

            $("#load-more").click(function () {
                let nextData = {content: nextPageContentByDistance};
                appendStores(nextData);

                nextPageContentByDistance = [];

                page++;
                loadPageByDistance(page, function (nextData) {
                    nextPageContentByDistance = nextData.content;
                    checkButtonState(nextData);
                });
            });
        } else {

            loadPageByKeyword(page, function (data) {
                if(page !== 1) {
                    appendStores(data);
                }
                page++;

                loadPageByKeyword(page, function (nextData) {
                    nextPageContentByKeyword = nextData.content;
                    checkButtonState(nextData);
                });
            });

            $("#load-more").click(function () {
                let nextData = {content: nextPageContentByKeyword};
                appendStores(nextData);

                nextPageContentByKeyword = [];

                page++;
                loadPageByKeyword(page, function (nextData) {
                    nextPageContentByKeyword = nextData.content;
                    checkButtonState(nextData);
                });
            });
        }
    });
</script>

<script>
    $('.post-wrapper').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        prevArrow: "<button type='button' class='slick-prev'> < </button>",
        nextArrow: "<button type='button' class='slick-next'> > </button>",
        responsive: [
            {
                breakpoint: 1200,
                settings: {
                    slidesToShow: 4
                }
            },
            {
                breakpoint: 1000,
                settings: {
                    slidesToShow: 3
                }
            },
            {
                breakpoint: 800,
                settings: {
                    slidesToShow: 2
                }
            },
            {
                breakpoint: 500,
                settings: {
                    slidesToShow: 1
                }
            }
        ],
    });
</script>
<footer th:replace="fragments :: site-footer"></footer>
</body>
</html>
