<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">

<body layout:fragment="content">
<header th:replace="fragments :: user-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div th:replace="fragments :: all-address-list"></div>

<div class="container-fluid page-body-wrapper">
    <div class="landing-panel">
        <div class="content-wrapper">
            <form id="addCart" th:action="@{/index/store/menu/cart}" method="POST">

                <input type="hidden" name="storeId" th:value="${storeId}">
                <input type="hidden" name="storeName" th:value="${store.storeName}">
                <input type="hidden" name="deliveryCost" th:value="${store.deliveryCost}">
                <input type="hidden" name="minimumOrderPrice" th:value="${store.minimumOrderPrice}">
                <input type="hidden" name="menu.menuId" th:value="${menu.id}">
                <input type="hidden" name="menu.menuName" th:value="${menu.name}">
                <input type="hidden" name="menu.menuImage" th:value="${menu.savedName}">
                <input type="hidden" name="menu.menuPrice" th:value="${menu.price}">

                <section class="container">
                    <div class="card border-bottom-0">
                        <div class="card-body" style="height: 300px">
                            <div class="bg-box p-3" style="background-color: #ffffff; text-align: center;">
                                <img th:src="${menu.getSavedName()}" onerror="this.onerror=null;
                            this.src='/assets/images/nodata.png';" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="card border-top-0 border-bottom-0">
                        <h1 class="card-header font-weight-bold border-0 bg-white" style="font-size: 35px;"
                            th:text="${menu.name}"></h1>
                        <div class="m-3 d-flex justify-content-between">
                            <h2 class="font-weight-bold ml-2" style="font-size: 20px;">
                                <span class="m-0 p-0 border-0"
                                      style="font-size: 30px;"
                                      th:name="menuPrice"
                                      th:text="${menu.price}" id="menuPrice">
                                </span>
                                <span class="m-0 p-0 border-0"
                                      style="font-size: 20px;"
                                      th:text="' 원'">
                                </span>
                            </h2>
                        </div>
                        <div class="ml-3 mr-3 d-flex justify-content-between">
                            <h4 class="font-weight-bold ml-2" style="color: dimgrey"
                                th:utext="${menu.description}"></h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ml-3 mt-3">
                            <div class="row" th:each="optionGroup, i:${optionGroups}">
                                <h3 class="font-weight-bold" th:text="${optionGroup.name}"></h3>
                                <input hidden="hidden" th:value="${optionGroup.getMinSelectCount()}" th:id="optionGroupMin + ${optionGroup.id}"></input>
                                <input hidden="hidden" th:value="${optionGroup.getMaxSelectCount()}" th:id="optionGroupMax + ${optionGroup.id}"></input>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-check d-flex justify-content-between pr-3"
                                             th:each="option, i:${options}"
                                             th:if="${option.optionGroupId==optionGroup.id}">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input optionsCheckbox"
                                                       th:name="'optionsCheckbox-'+${optionGroup.id}"
                                                       th:id="'optionsCheckbox-'+${option.id}" th:value="${option.id}"
                                                       th:text="${option.name}"
                                                       onclick="handleOptionCheckboxClick(this)">
                                            </label>
                                            <input type="hidden" th:id="'optionName'+${option.id}" name="optionName"
                                                   th:value="${option.name}">
                                            <input type="hidden" th:id="'optionsPrice'+${option.id}" name="optionPrice"
                                                   th:value="${option.price}">
                                            <span th:text="${#numbers.formatInteger(option.price,0,'COMMA')}+'원'"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="ml-3 mt-3 mb-3 d-flex justify-content-between mr-4">
                            <h3 class="font-weight-bold">수량</h3>
                            <div class="row">
                                <button class="btn btn-outline-warning p-0 m-0" type="button" onclick="decrement()"
                                        style="width: 30px; height: 30px; font-size: 20px; font-weight: bold; border-radius: 15px;"
                                        th:text="'-'"></button>
                                <h4>
                                    <input type="text" id="count" name="count" th:value="1" readonly
                                           style="text-align: center; font-size: 1.2rem; font-weight: bold; width: 60px; padding-top: 3px;"
                                           class="border-0">
                                    <span th:text="''" style="font-size: 15px; font-weight: bold"></span>
                                </h4>
                                <button class="btn btn-outline-warning p-0 m-0" type="button" onclick="increment()"
                                        style="width: 30px; height: 30px; font-size: 20px; font-weight: bold; border-radius: 15px;"
                                        th:text="'+'"></button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ml-3 mt-3 mb-3 d-flex justify-content-between mr-4">
                            <h3 class="font-weight-bold">합계</h3>
                            <div>
                                <span class="font-weight-bold" th:id="totalPrice" th:text="${#numbers.formatInteger(menu.price,0,'COMMA')}+'원'"
                                      style="font-size: 25px; color: orange"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0" th:if="${store.storeStatus == '영업중'}">
                        <button class="btn btn-warning" type="submit"
                                style="font-size: 20px;
                                font-weight: bold;
                                color: white;
                                border-top-left-radius: 0px;
                                border-top-right-radius: 0px;">
                            메뉴 담기
                        </button>
                    </div>
                    <div class="card border-0" th:if="${store.storeStatus != '영업중'}">
                        <button class="btn btn-warning" type="submit" disabled
                                style="font-size: 20px;
                                font-weight: bold;
                                color: white;
                                border-top-left-radius: 0px;
                                border-top-right-radius: 0px;">
                            매장이 영업중이 아닙니다
                        </button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>

<script>

    const addCart = document.getElementById('addCart');
    addCart.addEventListener("submit", function (e) {

        e.preventDefault();
        const cartStoreId = [[${cartStoreId}]];
        const storeId = [[${storeId}]];

        if (cartStoreId !== null && cartStoreId !== storeId) {
            alert("매장이 달라서 장바구니에 담을 수 없습니다.");
            return;
        }

        const checkBoxButtons = document.querySelectorAll("input[type='checkbox']:checked");

        for (let j = 0 ; j < checkBoxButtons.length; j++) {
            const optionId = checkBoxButtons[j].id.split('-')[1];
            const optionName = document.getElementById('optionName' + optionId).value;
            const optionPrice = document.getElementById('optionsPrice' + optionId).value;

            console.log("ID:" + optionId);
            console.log("NAME:" + optionName);
            console.log("PRICE:" + optionPrice);

            const optionIdHiddenInput = document.createElement("input");
            optionIdHiddenInput.type = "hidden";
            optionIdHiddenInput.name = "options[" + j + "].optionId"; // 수정: JavaScript 코드로 변경
            optionIdHiddenInput.value = optionId;

            const optionNameHiddenInput = document.createElement("input");
            optionNameHiddenInput.type = "hidden";
            optionNameHiddenInput.name = "options[" + j + "].optionName"; // 수정: JavaScript 코드로 변경
            optionNameHiddenInput.value = optionName;

            const optionPriceHiddenInput = document.createElement("input");
            optionPriceHiddenInput.type = "hidden";
            optionPriceHiddenInput.name = "options[" + j + "].optionPrice"; // 수정: JavaScript 코드로 변경
            optionPriceHiddenInput.value = optionPrice;

            console.log("ID:" + optionIdHiddenInput.name);
            console.log("NAME:" + optionNameHiddenInput.name);
            console.log("PRICE:" + optionPriceHiddenInput.name);

            addCart.appendChild(optionIdHiddenInput);
            addCart.appendChild(optionNameHiddenInput);
            addCart.appendChild(optionPriceHiddenInput);
        }

        addCart.submit();
    })

</script>
<script>
    document.addEventListener(
        "DOMContentLoaded", () => {
            document.getElementById("menuPrice").textContent = document.getElementById("menuPrice").textContent.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

            let checkboxes = document.getElementsByClassName('optionsCheckbox');
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener('click', function() {
                    handleOptionCheckboxClick(this);
                });
            }
        }
    )
    function getSelectedOptionCheckbox(boxId) {
        let categoryCheckboxes = document.getElementsByName('optionsCheckbox-'+boxId);
        let selectedOptions = [];

        for (let i = 0; i < categoryCheckboxes.length; i++) {
            if (categoryCheckboxes[i].checked) {
                console.log(categoryCheckboxes[i]);
                selectedOptions.push(categoryCheckboxes[i]);
            }
        }
        console.log('length: '+selectedOptions.length);

        return selectedOptions;
    }
    function handleOptionCheckboxClick(checkbox) {
        let optionGroupId = checkbox.name.split("-")[1]
        let min = document.getElementById('optionGroupMin'+optionGroupId).value;
        let max = document.getElementById('optionGroupMax'+optionGroupId).value;
        console.log('min :' + min);
        console.log('max :' + max);
        var selectedStoreCategories = getSelectedOptionCheckbox(optionGroupId);

        if (selectedStoreCategories.length>max) {
            checkbox.checked = false;
            alert(`옵션은 ${max}개 이하만 선택할 수 있습니다.`);
        }
    }
    let menuPrice = document.getElementsByName("menuPrice");
    let menuPriceValue = parseInt(menuPrice[0].textContent);
    let checkboxes = document.querySelectorAll('input[type="checkbox"]');
    let counts = document.querySelector('input[id="count"]');

    for (let j = 0; j < checkboxes.length; j++) {
        checkboxes[j].onclick = updateTotal;
    }
    counts.oninput = updateTotal;

    function updateTotal() {
        let total = 0;
        for (let j = 0; j < checkboxes.length; j++) {
            if (checkboxes[j].checked) {
                let price = document.getElementById('optionsPrice' + checkboxes[j].value);
                total += parseInt(price.value);
            }
        }
        let countValue = parseInt(counts.value);
        if (!isNaN(countValue) && countValue > 0) {
            total = (total + menuPriceValue) * countValue;
        }
        document.getElementById('totalPrice').textContent = total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+'원';
    }

    function decrement() {
        let countElement = document.getElementById('count');
        let count = countElement.value;
        if (count > 1) {
            count--;
            countElement.value = count;
        }
        updateTotal();
    }

    function increment() {
        let countElement = document.getElementById('count');
        let count = countElement.value
        count++;
        countElement.value = count;
        updateTotal();
    }
</script>
</body>
</html>
