<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/config}">
<head>
    <title>Untitled</title>
</head>
<body layout:fragment="content">
<header th:replace="fragments :: user-site-header"></header>
<div class="container-fluid page-body-wrapper">
    <div class="landing-panel">
        <div class="content-wrapper">
            <form id="addCart" th:action="@{/index/store/menu/cart}" method="POST">

                <input type="hidden" name="accountId"  th:value="${accountId}">
                <input type="hidden" name="storeId" th:value="${storeId}">
                <input type="hidden" name="storeName" th:value="${storeName}">
                <input type="hidden" name="menu.menuId" th:value="${menuInfo.id}">
                <input type="hidden" name="menu.menuName" th:value="${menuInfo.name}">
                <input type="hidden" name="menu.menuImage" th:value="${menuInfo.savedName}">
                <input type="hidden" name="menu.menuPrice" th:value="${menuInfo.price}">
                <section class="container">
                    <div class="card">
                        <div class="card-body" style="height: 300px">
                            <div class="bg-box" style="background-color: #28282b; text-align: center;">
                                <img th:src="|/images/${menuInfo.getSavedName()}|" onerror="this.onerror=null; this.src='/assets/images/nodata.png';" style="width: 350px;">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h1 class="card-header font-weight-bold border-0 bg-white" th:text="${menuInfo.name}"></h1>
                    </div>
                    <div class="card">
                        <div class="ml-3 mt-3 mb-3 d-flex justify-content-between mr-4">
                            <h3 class="font-weight-bold">가격 : <span style="font-size: 20px;" th:text="${menuInfo.price}"></span> 원</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ml-3 mt-3">
                            <h3 class="font-weight-bold">옵션 선택<span class="pl-2" style="font-size: 0.8rem; color: red">(필수 선택)</span></h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-check d-flex justify-content-between pr-3" th:each="option, i:${optionsInfo}">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="'optionsRadios'+${option.id}" th:id="'optionsRadio-'+${option.id}" th:value="${option.id}" th:text="${option.name}">
                                            </label>
                                            <input type="hidden" th:id="'optionName'+${option.id}" name="optionName" th:value="${option.name}">
                                            <input type="hidden" th:id="'optionsPrice'+${option.id}" name="optionPrice" th:value="${option.price}">
                                            <span th:text="${option.price}+'원'"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ml-3 mt-3 mb-3 d-flex justify-content-between mr-4">
                            <h3 class="font-weight-bold">수량입력</h3>
                            <div>
                                <h4>입력: <input type="text" id="count" name="count" th:value="1" style="text-align: center; font-size: 1.2rem; font-weight: bold; width: 100px;" class="border-0"></h4>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ml-3 mt-3 mb-3 d-flex justify-content-between mr-4">
                            <h3 class="font-weight-bold">가격</h3>
                            <div>
                                <h2 class="font-weight-bold">가격 : <span style="font-size: 25px; color: orange;"> 14000</span> 원</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ml-3 mt-3 mb-3 d-flex justify-content-end mr-4">
                            <button class="btn btn-info mr-2" type="submit">메뉴 담기</button>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>
<script>

    const addCart = document.getElementById('addCart');

    addCart.addEventListener("submit", function () {

        const radioButtons = document.querySelectorAll("input[type='radio']:checked");
        console.log("RadioButtons:" + radioButtons.item(0));

        for (let i = 0; i < radioButtons.length; i++) {
            const optionId = radioButtons[i].id.split('-')[1];
            const optionName = document.getElementById('optionName' + optionId).value;
            const optionPrice = document.getElementById('optionsPrice' + optionId).value;

            console.log("ID:" + optionId);
            console.log("NAME:" + optionName);
            console.log("PRICE:" + optionPrice);


            const optionIdHiddenInput = document.createElement("input");
            optionIdHiddenInput.type = "hidden";
            optionIdHiddenInput.name = "options[" + i + "].optionId"; // 수정: JavaScript 코드로 변경
            optionIdHiddenInput.value = optionId;

            const optionNameHiddenInput = document.createElement("input");
            optionNameHiddenInput.type = "hidden";
            optionNameHiddenInput.name = "options[" + i + "].optionName"; // 수정: JavaScript 코드로 변경
            optionNameHiddenInput.value = optionName;

            const optionPriceHiddenInput = document.createElement("input");
            optionPriceHiddenInput.type = "hidden";
            optionPriceHiddenInput.name = "options[" + i + "].optionPrice"; // 수정: JavaScript 코드로 변경
            optionPriceHiddenInput.value = optionPrice;

            console.log("ID:" + optionIdHiddenInput.name);
            console.log("NAME:" + optionNameHiddenInput.name);
            console.log("PRICE:" + optionPriceHiddenInput.name);

            addCart.appendChild(optionIdHiddenInput);
            addCart.appendChild(optionNameHiddenInput);
            addCart.appendChild(optionPriceHiddenInput);
        }

        const checkBoxButtons = document.querySelectorAll("input[type='checkbox']:checked");
        console.log("RadioButtons:" + checkBoxButtons.item(0));

        for (let i = 0; i < checkBoxButtons.length; i++) {
            const optionId = checkBoxButtons[i].id.split('-')[1];
            const optionName = document.getElementById('optionName' + optionId).value;
            const optionPrice = document.getElementById('optionsPrice' + optionId).value;

            console.log("ID:" + optionId);
            console.log("NAME:" + optionName);
            console.log("PRICE:" + optionPrice);


            const optionIdHiddenInput = document.createElement("input");
            optionIdHiddenInput.type = "hidden";
            optionIdHiddenInput.name = "options[" + i + "].optionId"; // 수정: JavaScript 코드로 변경
            optionIdHiddenInput.value = optionId;

            const optionNameHiddenInput = document.createElement("input");
            optionNameHiddenInput.type = "hidden";
            optionNameHiddenInput.name = "options[" + i + "].optionName"; // 수정: JavaScript 코드로 변경
            optionNameHiddenInput.value = optionName;

            const optionPriceHiddenInput = document.createElement("input");
            optionPriceHiddenInput.type = "hidden";
            optionPriceHiddenInput.name = "options[" + i + "].optionPrice"; // 수정: JavaScript 코드로 변경
            optionPriceHiddenInput.value = optionPrice;

            console.log("ID:" + optionIdHiddenInput.name);
            console.log("NAME:" + optionNameHiddenInput.name);
            console.log("PRICE:" + optionPriceHiddenInput.name);

            addCart.appendChild(optionIdHiddenInput);
            addCart.appendChild(optionNameHiddenInput);
            addCart.appendChild(optionPriceHiddenInput);
        }
    })
</script>
</body>
</html>
