<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <title>Untitled</title>
</head>
<body layout:fragment="content">
<header th:replace="fragments :: user-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div class="container-fluid page-body-wrapper">
    <div class="landing-panel">
        <div class="content-wrapper">
            <form id="addCart" th:action="@{/index/store/menu/cart}" method="POST">

                <input type="hidden" name="accountId" th:value="${accountId}">
                <input type="hidden" name="storeId" th:value="${storeId}">
                <input type="hidden" name="storeName" th:value="${storeName}">
                <input type="hidden" name="menu.menuId" th:value="${menu.id}">
                <input type="hidden" name="menu.menuName" th:value="${menu.name}">
                <input type="hidden" name="menu.menuImage" th:value="${menu.savedName}">
                <input type="hidden" name="menu.menuPrice" th:value="${menu.price}">

                <section class="container">
                    <div class="card border-bottom-0">
                        <div class="card-body" style="height: 300px">
                            <div class="bg-box p-3" style="background-color: #ffffff; text-align: center;">
                                <img th:src="${menu.getSavedName()}" onerror="this.onerror=null;
                            this.src='/assets/images/nodata.png';" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="card border-top-0 border-bottom-0">
                        <h1 class="card-header font-weight-bold border-0 bg-white" style="font-size: 35px;"
                            th:text="${menu.name}"></h1>
                        <div class="m-3 d-flex justify-content-between">
                            <h2 class="font-weight-bold ml-2" style="font-size: 20px;">
                                <span class="m-0 p-0 border-0"
                                      style="font-size: 30px;"
                                      th:name="menuPrice"
                                      th:text="${menu.price}">
                                </span>
                                <span class="m-0 p-0 border-0"
                                      style="font-size: 20px;"
                                      th:text="' 원'">
                                </span>
                            </h2>
                        </div>
                        <div class="ml-3 mr-3 d-flex justify-content-between">
                            <h4 class="font-weight-bold ml-2" style="color: dimgrey"
                                th:utext="${menu.description}"></h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ml-3 mt-3">
                            <div class="row" th:each="optionGroup, i:${optionGroups}">
                                <h3 class="font-weight-bold" th:text="${optionGroup.name}"></h3>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-check d-flex justify-content-between pr-3" th:each="option, i:${options}" th:if="${option.optionGroupId==optionGroup.id}">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" th:name="'optionsRadios'+${optionGroup.id}" th:id="'optionsRadio-'+${option.id}" th:value="${option.id}" th:text="${option.name}">
                                            </label>
                                            <input type="hidden" th:id="'optionName'+${option.id}" name="optionName" th:value="${option.name}">
                                            <input type="hidden" th:id="'optionsPrice'+${option.id}" name="optionPrice" th:value="${option.price}">
                                            <span th:text="${option.price}+'원'"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ml-3 mt-3 mb-3 d-flex justify-content-between mr-4">
                            <h3 class="font-weight-bold">수량</h3>
                            <div>
                                <h4>
                                    <input type="text" id="count" name="count" th:value="1"
                                           style="text-align: end; font-size: 1.2rem; font-weight: bold; width: 40px;"
                                           class="border-0">
                                    <span th:text="' 개'" style="font-size: 15px; font-weight: bold"></span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ml-3 mt-3 mb-3 d-flex justify-content-between mr-4">
                            <h3 class="font-weight-bold">합계</h3>
                            <div>
                                <span class="font-weight-bold" th:id="totalPrice" th:text="${menu.price}" style="font-size: 25px; color: orange"></span>
                                <span th:text="' 원'" style="font-size: 15px; font-weight: bold"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0">
                        <button class="btn btn-warning" type="submit"
                                style="font-size: 20px;
                                font-weight: bold;
                                color: white;
                                border-top-left-radius: 0px;
                                border-top-right-radius: 0px;">
                            메뉴 담기
                        </button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>


<script>

    const addCart = document.getElementById('addCart');

    addCart.addEventListener("submit", function (e) {

        e.preventDefault();
        const cartStoreId = [[${cartStoreId}]];
        const storeId = [[${storeId}]];

        if (cartStoreId !== null && cartStoreId !== storeId) {
            alert("매장이 달라서 장바구니에 담을 수 없습니다.");
            return;
        }

        const radioButtons = document.querySelectorAll("input[type='radio']:checked");
        console.log("RadioButtons:" + radioButtons.item(0));

        for (let i = 0; i < radioButtons.length; i++) {
            const optionId = radioButtons[i].id.split('-')[1];
            const optionName = document.getElementById('optionName' + optionId).value;
            const optionPrice = document.getElementById('optionsPrice' + optionId).value;

            console.log("ID:" + optionId);
            console.log("NAME:" + optionName);
            console.log("PRICE:" + optionPrice);


            const optionIdHiddenInput = document.createElement("input");
            optionIdHiddenInput.type = "hidden";
            optionIdHiddenInput.name = "options[" + i + "].optionId"; // 수정: JavaScript 코드로 변경
            optionIdHiddenInput.value = optionId;

            const optionNameHiddenInput = document.createElement("input");
            optionNameHiddenInput.type = "hidden";
            optionNameHiddenInput.name = "options[" + i + "].optionName"; // 수정: JavaScript 코드로 변경
            optionNameHiddenInput.value = optionName;

            const optionPriceHiddenInput = document.createElement("input");
            optionPriceHiddenInput.type = "hidden";
            optionPriceHiddenInput.name = "options[" + i + "].optionPrice"; // 수정: JavaScript 코드로 변경
            optionPriceHiddenInput.value = optionPrice;

            console.log("ID:" + optionIdHiddenInput.name);
            console.log("NAME:" + optionNameHiddenInput.name);
            console.log("PRICE:" + optionPriceHiddenInput.name);

            addCart.appendChild(optionIdHiddenInput);
            addCart.appendChild(optionNameHiddenInput);
            addCart.appendChild(optionPriceHiddenInput);
        }

        const checkBoxButtons = document.querySelectorAll("input[type='checkbox']:checked");
        console.log("RadioButtons:" + checkBoxButtons.item(0));

        for (let i = 0; i < checkBoxButtons.length; i++) {
            const optionId = checkBoxButtons[i].id.split('-')[1];
            const optionName = document.getElementById('optionName' + optionId).value;
            const optionPrice = document.getElementById('optionsPrice' + optionId).value;

            console.log("ID:" + optionId);
            console.log("NAME:" + optionName);
            console.log("PRICE:" + optionPrice);


            const optionIdHiddenInput = document.createElement("input");
            optionIdHiddenInput.type = "hidden";
            optionIdHiddenInput.name = "options[" + i + "].optionId"; // 수정: JavaScript 코드로 변경
            optionIdHiddenInput.value = optionId;

            const optionNameHiddenInput = document.createElement("input");
            optionNameHiddenInput.type = "hidden";
            optionNameHiddenInput.name = "options[" + i + "].optionName"; // 수정: JavaScript 코드로 변경
            optionNameHiddenInput.value = optionName;

            const optionPriceHiddenInput = document.createElement("input");
            optionPriceHiddenInput.type = "hidden";
            optionPriceHiddenInput.name = "options[" + i + "].optionPrice"; // 수정: JavaScript 코드로 변경
            optionPriceHiddenInput.value = optionPrice;

            console.log("ID:" + optionIdHiddenInput.name);
            console.log("NAME:" + optionNameHiddenInput.name);
            console.log("PRICE:" + optionPriceHiddenInput.name);

            addCart.appendChild(optionIdHiddenInput);
            addCart.appendChild(optionNameHiddenInput);
            addCart.appendChild(optionPriceHiddenInput);
        }
        addCart.submit();
    })
</script>


<script>
    let menuPrice = document.getElementsByName("menuPrice"),
        menuPriceValue = parseInt(menuPrice[0].textContent);
    let radios = document.querySelectorAll('input[type="radio"]');
    let counts = document.querySelector('input[id="count"]');

    // 라디오 버튼 클릭 이벤트와 count 값 변경 이벤트에 대한 함수를 바인딩합니다.
    for (let i = 0; i < radios.length; i++) {
        radios[i].onclick = updateTotal;
    }
    counts.oninput = updateTotal;

    function updateTotal() {
        let total = 0;
        for (let i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                let price = document.getElementById('optionsPrice' + radios[i].value);
                total += parseInt(price.value);
            }
        }
        let countValue = parseInt(counts.value);
        if (!isNaN(countValue) && countValue > 0) {
            total = (total + menuPriceValue) * countValue;
        }
        document.getElementById('totalPrice').textContent = total  + '';
    }

</script>


</body>
</html>
