<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/assets/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/responsive.css">
    <link rel="shortcut icon" href="/assets/images/favicon.png"/>
</head>

<body>
<div class="hero_area" >
    <header class="header_section" >
        <div class="row">
            <div class="col-4 justify-content-end align-items-center">
                <a href="/">
                    <img src="/assets/images/shoong.png" alt="" style="height: 55px">
                </a>
            </div>
            <div class="col-4 justify-content-center align-items-center navbar navbar-expand-lg custom_nav-container">
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a href="" style="color: white" class="mr-2">
                    회원가입
                </a>
                <a th:href="@{/login}" style="color: white">
                    로그인
                </a>
            </div>
        </div>
        <div class="container-fluid" >
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/store-register">Admin</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</div>

<div class="container-fluid page-body-wrapper">
    <div class="landing-panel">
        <div class="content-wrapper">
            <section class="container">
                <div class="row">
                    <div class="col-12 col-sm-8 p-1">
                        <div class="card">
                            <h1 class="card-header font-weight-bold border-0 bg-white">결제하기</h1>
                        </div>
                        <div class="card">
                            <h1 class="card-header font-weight-bold border-0 bg-white">주문 목록 영역</h1>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 p-1">
                        <div class="card">
                            <h1 class="card-header font-weight-bold border-0 bg-white">주문 가격 / 결제 영역</h1>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        About US
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="mdi mdi-github-circle icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">COOKSHOONG</span>
                        </a>
                        <a href="">
                            <i class="mdi mdi-database icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">ERD-CLOUD</span>
                        </a>
                        <a href="">
                            <i class="mdi mdi-book-open icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">Api Docs</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        CookShoong
                    </h4>
                    <p>
                        쿡슝 프로젝트는 NHN Academy Project 로 제작된 배달 어플리케이션입니다.
                    </p>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Laboratory
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="mdi mdi-information icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">Information</span>
                        </a>
                        <a href="">
                            <i class="mdi mdi-test-tube icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">Test</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; 2023</span> All Rights Reserved By
                <a href="https://nhnacademy.github.io/">NHN Academy</a><br>
                &copy; 2023</span> Distributed By
                <a href="https://nhnacademy.github.io/">Cookshoong</a>
            </p>
        </div>
    </div>
</footer>

<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/todolist.js"></script>
<script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<script src="/assets/vendors/select2/select2.min.js"></script>
<script src="/assets/js/file-upload.js"></script>
<script src="/assets/js/typeahead.js"></script>
<script src="/assets/js/select2.js"></script>
</body>

</html>
