<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <title>Untitled</title>
</head>
<body layout:fragment="content">
<header th:replace="fragments :: user-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div class="container-fluid page-body-wrapper">
    <div class="landing-panel">
        <div class="content-wrapper">
            <section class="container">
                <div class="card">
                    <div class="card-body" style="height: 300px">
                        <div class="bg-box" style="background-color: #28282b; text-align: center;">
                            <img th:src="${store.getSavedName()}"
                                 onerror="this.onerror=null; this.src='/assets/images/nodata.png';"
                                 style="width: 100%">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h1 class="card-header font-weight-bold border-0 bg-white" th:text="${store.storeName}"></h1>
                    <p style="padding-left: 1.25rem; padding-right: 1.25rem;"><strong>배달 시간 : </strong>60분</p>
                    <p style="padding-left: 1.25rem; padding-right: 1.25rem;"><strong>배달 비용 : </strong>4000원</p>
                    <p style="padding-left: 1.25rem; padding-right: 1.25rem;"><strong>최소 주문 : </strong>15000원</p>
                    <p style="padding-left: 1.25rem; padding-right: 1.25rem;"><strong>가게 위치 : </strong>400m</p>
                    <span class="m-3 pt-1 pb-1"
                          style="height: 60px; padding-left: 1.25rem; padding-right: 1.25rem; border-radius: 1rem; background-color: whitesmoke"
                          th:utext="${store.description}">
                        </span>
                    <div id="notificationArea"></div>
                    <div class="row">
                        <div th:each="policy : ${store.provableCouponPolicies}" class="col-3">
                            <form th:action="@{/coupon/provide}" th:method="post">
                                <input type="hidden" name="couponPolicyId" th:value="${policy.couponPolicyId}">
                                <button class="btn btn-warning mr-2 provide-button"
                                        th:data-policy-id="${policy.couponPolicyId}" type="submit">
                                    <div class="notification-container">
                                        <div class="col-sm-12"
                                             th:switch="${policy.couponTypeResponse.getClass().getSimpleName()}">
                                            <div th:case="CouponTypeCashVo">
                                                <h3 class="font-weight-bold pt-2"
                                                    th:text="${policy.couponTypeResponse.discountAmount} + '원 할인 쿠폰'"></h3>
                                                <p th:text="'최소주문금액 ' + ${policy.couponTypeResponse.minimumOrderPrice} + '원'"></p>
                                            </div>
                                            <div th:case="CouponTypePercentVo">
                                                <h3 class="font-weight-bold pt-2"
                                                    th:text="${policy.couponTypeResponse.rate} + '% 할인 쿠폰'"></h3>
                                                <p th:text="'최소주문금액 ' + ${policy.couponTypeResponse.minimumOrderPrice} + '원'"></p>
                                                <p th:text="'최대 ' + ${policy.couponTypeResponse.maximumDiscountAmount} + '원까지'"></p>
                                            </div>
                                            <p th:text="'발급 후 사용 가능 기간: ' + ${policy.usagePeriod} + '일'"></p>
                                        </div>
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <button class="flex-grow-1 border-bottom border-left border-right border-top bg-white m-2"
                                style="height: 40px; border-radius: 1rem">
                            리뷰 보기
                        </button>
                        <button class="flex-grow-1 border-bottom border-left border-right border-top bg-white m-2"
                                style="height: 40px; border-radius: 1rem">
                            가게 정보
                        </button>
                    </div>
                </div>
                <div class="card border-bottom-0">
                    <ul class="nav nav-tabs col-12 m-0 p-0">
                        <li class="nav-item flex-grow-1" style="text-align: center">
                            <a class="nav-link active" href="#all" data-toggle="tab">모두 보기</a>
                        </li>
                        <li class="nav-item flex-grow-1" style="text-align: center"
                            th:each="menuGroup, i:${menuGroups}">
                            <a class="nav-link" th:href="'#group'+${menuGroup.id}" data-toggle="tab"
                               th:text="${menuGroup.name}"></a>
                        </li>
                    </ul>
                </div>
                <div class="card border-top-0">
                    <div class="tab-content p-0 m-0">
                        <div class="tab-pane fade show active col-12 stretch-card" id="all">
                            <div class="card border-0">
                                <div class="card-body pl-0 pr-0">
                                    <h3 class="font-weight-bold mb-3">모두 보기</h3>
                                    <div class="col-12 pr-0" th:each="menu, i:${menus}">
                                        <button class="row border-top border-bottom border-left border-right pt-2 mt-1 mb-1 w-100 bg-white"
                                                style="border-radius: 5px;"
                                                th:onclick="'window.location.href=\'/index/store/' + ${menu.storeId} + '/menu/' + ${menu.id}+'\''">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="align-content-end border-info pr-3 pb-2"
                                                         style="max-width: 200px">
                                                        <img th:src="${menu.getSavedName()}"
                                                             onerror="this.onerror=null; this.src='/assets/images/nodata.png';"
                                                             style="object-fit: cover; width: 150px; height: 150px;">
                                                    </div>
                                                    <div>
                                                        <p>
                                                        <h3 style="text-align: left" th:text="${menu.name}"></h3>
                                                        </p>
                                                        <p style="text-align: left">
                                                            <i class="mdi mdi mdi-file-powerpoint-box"
                                                               style="color: orange; font-size: 1.1rem"></i>
                                                            <span class="pr-2" style="font-size: 1.2rem"
                                                                  th:text="${menu.earningRate} + '%'"></span>
                                                            <i class="mdi mdi mdi-timer icon-sm"
                                                               style="color: grey"></i>
                                                            <span class="pr-2" style="font-size: 1.2rem"
                                                                  th:text="${menu.cookingTime} + '분'"></span>
                                                        </p>
                                                        <div class="pt-2 text-left">
                                                            <p class="font-weight-bold" style="font-size: 1.3rem"
                                                               th:text="${menu.price} + ' 원'"></p>
                                                        </div>
                                                        <div class="pt-1 text-left">
                                                            <span th:utext="${menu.description}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade col-12 stretch-card" th:each="menuGroup, i:${menuGroups}"
                             th:id="${'group'+menuGroup.id}">
                            <div class="card border-0">
                                <div class="card-body pl-0 pr-0">
                                    <h3 class="font-weight-bold mb-3" th:text="${menuGroup.name}"></h3>
                                    <div class="col-12 pr-0" th:each="menu, i:${menus}"
                                         th:if="${menu.menuGroups.contains(menuGroup.id)}">
                                        <button class="row border-top border-bottom border-left border-right pt-2 mt-1 mb-1 w-100 bg-white"
                                                style="border-radius: 5px;"
                                                th:onclick="'window.location.href=\'/index/store/' + ${menu.storeId} + '/menu/' + ${menu.id}+'\''">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="align-content-end border-info pr-3 pb-2"
                                                         style="max-width: 200px">
                                                        <img th:src="${menu.getSavedName()}"
                                                             onerror="this.onerror=null; this.src='/assets/images/nodata.png';"
                                                             style="object-fit: cover; width: 150px; height: 150px;">
                                                    </div>
                                                    <div>
                                                        <p>
                                                        <h3 style="text-align: left" th:text="${menu.name}"></h3>
                                                        </p>
                                                        <p style="text-align: left">
                                                            <i class="mdi mdi mdi-file-powerpoint-box"
                                                               style="color: orange; font-size: 1.1rem"></i>
                                                            <span class="pr-2" style="font-size: 1.2rem"
                                                                  th:text="${menu.earningRate} + '%'"></span>
                                                            <i class="mdi mdi mdi-timer icon-sm"
                                                               style="color: grey"></i>
                                                            <span class="pr-2" style="font-size: 1.2rem"
                                                                  th:text="${menu.cookingTime} + '분'"></span>
                                                        </p>
                                                        <div class="pt-2 text-left">
                                                            <p class="font-weight-bold" style="font-size: 1.3rem"
                                                               th:text="${menu.price} + ' 원'"></p>
                                                        </div>
                                                        <div class="pt-1 text-left">
                                                            <span th:utext="${menu.description}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>
<script>
    window.onload = function () {
        window.scrollTo(0, 0);
    }

    $('.provide-button').click(function (event) {
        event.preventDefault();
        const button = $(this);
        const form = button.closest('form');

        button.prop('disabled', true);

        $.post(form.attr('action'), form.serialize(), function (response) {
            if (response === "ok") {
                showNotification(button, "쿠폰이 발급되었습니다!");
            } else {
                showNotification(button, response);
            }
        });
    });

    function showNotification(button, message) {
        button.find('.notification-container').text(message);
    }
</script>
</body>
</html>
