<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/config}">
<head>
    <title>Untitled</title>
</head>
<body layout:fragment="content">
<header th:replace="fragments :: user-site-header"></header>
<div class="container-fluid page-body-wrapper">
    <div class="landing-panel">
        <div class="content-wrapper">
            <section class="container">
                <div class="card">
                    <div class="card-body" style="height: 300px">
                        <div class="bg-box" style="background-color: #28282b; text-align: center;">
                            <img th:src="|/images/${store.getSavedName()}|"
                                 onerror="this.onerror=null; this.src='/assets/images/nodata.png';"
                                 style="width: 350px">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h1 class="card-header font-weight-bold border-0 bg-white" th:text="${store.storeName}"></h1>
                    <p style="padding-left: 1.25rem; padding-right: 1.25rem;"><strong>배달 시간 : </strong>60분</p>
                    <p style="padding-left: 1.25rem; padding-right: 1.25rem;"><strong>배달 비용 : </strong>4000원</p>
                    <p style="padding-left: 1.25rem; padding-right: 1.25rem;"><strong>최소 주문 : </strong>15000원</p>
                    <p style="padding-left: 1.25rem; padding-right: 1.25rem;"><strong>가게 위치 : </strong>400m</p>
                    <p style="padding-left: 1.25rem; padding-right: 1.25rem;"><strong>매장 설명</strong></p>
                    <p class="ml-3 mr-3 pt-1 pb-1"
                       style="height: 60px; padding-left: 1.25rem; padding-right: 1.25rem; border-radius: 1rem; background-color: whitesmoke"
                       th:text="${store.description}">
                    </p>
                    <div id="notificationArea"></div>
                    <div class="row">
                        <div th:each="policy : ${store.provableCouponPolicies}" class="col-3">
                            <form th:action="@{/coupon/issue/provide}" th:method="post">
                                <input type="hidden" name="couponPolicyId" th:value="${policy.couponPolicyId}">
                                <button class="btn btn-warning mr-2 provide-button"
                                        th:data-policy-id="${policy.couponPolicyId}" type="submit">
                                    <div class="notification-container">
                                        <div class="col-sm-12"
                                             th:switch="${policy.couponTypeResponse.getClass().getSimpleName()}">
                                            <div th:case="CouponTypeCashVo">
                                                <h3 class="font-weight-bold pt-2"
                                                    th:text="${policy.couponTypeResponse.discountAmount} + '원 할인 쿠폰'"></h3>
                                                <p th:text="'최소주문금액 ' + ${policy.couponTypeResponse.minimumOrderPrice} + '원'"></p>
                                            </div>
                                            <div th:case="CouponTypePercentVo">
                                                <h3 class="font-weight-bold pt-2"
                                                    th:text="${policy.couponTypeResponse.rate} + '% 할인 쿠폰'"></h3>
                                                <p th:text="'최소주문금액 ' + ${policy.couponTypeResponse.minimumOrderPrice} + '원'"></p>
                                                <p th:text="'최대 ' + ${policy.couponTypeResponse.maximumDiscountAmount} + '원까지'"></p>
                                            </div>
                                            <p th:text="'발급 후 사용 가능 기간: ' + ${policy.usagePeriod} + '일'"></p>
                                        </div>
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <button class="flex-grow-1 border-bottom border-left border-right border-top bg-white m-2"
                                style="height: 40px; border-radius: 1rem">
                            리뷰 보기
                        </button>
                        <button class="flex-grow-1 border-bottom border-left border-right border-top bg-white m-2"
                                style="height: 40px; border-radius: 1rem">
                            가게 정보
                        </button>
                    </div>
                </div>
                <div class="card border-bottom-0">
                    <ul class="nav nav-tabs col-12 m-0 p-0">
                        <li class="nav-item flex-grow-1" style="text-align: center">
                            <a class="nav-link active" href="#all" data-toggle="tab">모두 보기</a>
                        </li>
                        <li class="nav-item flex-grow-1" style="text-align: center">
                            <a class="nav-link" href="#group1" data-toggle="tab">인기 메뉴</a>
                        </li>
                        <li class="nav-item flex-grow-1" style="text-align: center">
                            <a class="nav-link" href="#group2" data-toggle="tab">메뉴 분류</a>
                        </li>
                        <li class="nav-item flex-grow-1" style="text-align: center">
                            <a class="nav-link" href="#group3" data-toggle="tab">메뉴 분류</a>
                        </li>
                    </ul>
                </div>
                <div class="card border-top-0">
                    <div class="tab-content p-0 m-0">
                        <div class="tab-pane fade show active col-12 stretch-card" id="all">
                            <div class="card border-0">
                                <div class="card-body pl-0 pr-0">
                                    <h3 class="font-weight-bold mb-3">모두 보기</h3>
                                    <div class="col-12 pr-0" th:each="menu, i:${menus}">
                                        <button class="row border-top border-bottom border-left border-right pt-2 mt-1 mb-1 w-100 bg-white"
                                                style="border-radius: 5px;"
                                                th:onclick="'window.location.href=\'/index/store/' + ${menu.storeId} + '/menu/' + ${menu.id}+'\''">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="align-content-end border-info pr-3 pb-2"
                                                         style="max-width: 200px">
                                                        <img th:src="|/images/${menu.getSavedName()}|"
                                                             onerror="this.onerror=null; this.src='/assets/images/nodata.png';">
                                                    </div>
                                                    <div>
                                                        <p>
                                                        <h3 style="text-align: left" th:text="${menu.name}"></h3>
                                                        </p>
                                                        <p style="text-align: left">
                                                            <i class="mdi mdi-message icon-sm" style="color: black">
                                                            </i>
                                                            <span class="pr-2 pt-0" style="font-size: 0.9rem">400</span>

                                                            <i class="mdi mdi mdi-timer icon-sm" style="color: grey">
                                                            </i>
                                                            <span class="pr-2 pt-0" style="font-size: 0.9rem">55분</span>
                                                        </p>
                                                        <p style="text-align: left">
                                                        <h4 style="text-align: left"
                                                            th:text="${menu.price}+'원'"></h4></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade col-12 stretch-card" id="group1">
                            <div class="card border-0">
                                <div class="card-body pl-0 pr-0">
                                    <h2 class="font-weight-bold mb-3">인기 메뉴</h2>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade col-12 stretch-card" id="group2">
                            <div class="card border-0">
                                <div class="card-body pl-0 pr-0">
                                    <h2 class="font-weight-bold mb-3">메뉴 분류</h2>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade col-12 stretch-card" id="group3">
                            <div class="card border-0">
                                <div class="card-body pl-0 pr-0">
                                    <h2 class="font-weight-bold mb-3">메뉴 분류</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>
<script>
    window.onload = function () {
        window.scrollTo(0, 0);
    }

    $('.provide-button').click(function (event) {
        event.preventDefault();
        const button = $(this);
        const form = button.closest('form');

        button.prop('disabled', true);

        $.post(form.attr('action'), form.serialize(), function (response) {
            if (response === "ok") {
                showNotification(button, "쿠폰이 발급되었습니다!");
            } else {
                showNotification(button, response);
            }
        });
    });

    function showNotification(button, message) {
        button.find('.notification-container').text(message);
    }
</script>
</body>
</html>
