.pagination-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 15px;
}

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    margin-right: 5px;
}

.pagination li a {
    color: #333;
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pagination li.active a {
    background-color: #001737;
    color: #fff;
}

.pagination li.disabled a {
    pointer-events: none;
    background-color: #eee;
    color: #999;
    border-color: #ccc;
}


/* 선택된 라디오 버튼의 라벨 색 변경 */
.form-check-input[type="radio"]:checked+label {
    color: #007bff;
}

/* 수평 배치를 위한 flexbox 설정 */
.form-check-inline {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}


.custom-checkbox {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Optional: Adjust the font-size and margin if needed */
.custom-checkbox span {
    font-size: 14px;
    margin-left: 10px;
}

.flex-container {
    display: flex;
}

.flex-1 {
    flex: 1;
    margin-right: 10px;
}

.sign-in-btn {
    color: #ffffff;
}

.sign-up-btn {
    color: #ffffff;
}

.btn-outline-warning:disabled {
    color: #9b9b9b;
    background: white;
    border-color: #888888;
    opacity: 0.7;
}


.btn-outline-payco {
    color: #fa2828;
    border-color: #ff0000;
}

.btn-outline-payco:hover {
    color: #fff;
    background-color: #fa2828;
    border-color: #fa2828;
}

.cart button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ffa636;
    color: #504c4c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.address input {
    margin: 5px;
    padding: 10px 20px;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.address button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.odd-cart-item {
    background-color: #e8eff9; /* Replace with your desired color */
}

.cart-item {
    margin-bottom: 10px; /* 원하는 크기로 조정하세요 */
}

.first-address {
    background-color: #ffd4a5; /* 원하는 색상으로 변경 */
}
