.store-page-header {
    border-color: white;
}

.store-card-header {
    background-color: #f3f3f3;
    padding: 10px 10px;
    border-bottom: 1px solid #e7eaed;
}

.store-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 5px;
    margin: 0;
    color: #000000;
    height: 45px;
}
/* Details Styles */
.details {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;

}

.detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.detail-label, .store-detail-label {
    width: 115px;
    margin-left: 10px;
    font-weight: bold;
    color: #555;
}

.detail-value, .store-detail-value {
    align-content: center;
    width: 60px;
    flex: 1;
    color: #333;
}
.store-image{
    max-width: 300px;
    min-width: 100px;
    margin-right: 10px;
    padding-top: 10px;
}
.detail-image-value{
    display: flex;
    width: 60px;
    flex: 1;
}
.store-card-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

