<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">

<body layout:fragment="content">
<header th:replace="fragments :: mypage-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div th:replace="fragments :: all-address-list"></div>

<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: mypage-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body row">
                            <h1 class="font-weight-bold mb-2 w-75">장바구니 확인</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="store-card-header">
                            <h2 class="store-title">장바구니</h2>
                        </div>
                        <div class="card-body">
                                <p class="card-description" >
                                    매장
                                    <button class="btn" style="margin-bottom: 1px; padding: 0.3rem"
                                            th:onclick="'window.location.href=\'/index/store/' + ${storeId} + '\''"
                                            th:if="${storeName}"><code th:text="${storeName}"></code></button>
                                </p>
                            <hr style="border-top: 1px solid #ccc; margin: 20px 0;">
                            <div class="table-responsive">
                                <div class="cart-item" th:each="item, i:${cartItems}" th:unless="${item == null}">
                                    <div class="modal fade" th:id="'cartMenu' + ${item.hashKey}" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" th:text="옵션수정"></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card">
                                                        <div class="ml-3 mt-3">
                                                            <div class="row" th:each="optionGroup, i:${optionGroups}" th:if="${#lists.contains(item.optionGroups, optionGroup.id)}">
                                                                <input hidden="hidden" th:value="${optionGroup.getMinSelectCount()}" th:id="optionGroupMin + ${optionGroup.id}">
                                                                <input hidden="hidden" th:value="${optionGroup.getMaxSelectCount()}" th:id="optionGroupMax + ${optionGroup.id}">
                                                                <h3 class="font-weight-bold" th:text="${optionGroup.name}"></h3>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <div class="form-check d-flex justify-content-between pr-3"
                                                                             th:each="option, i:${options}"
                                                                             th:if="${option.optionGroupId==optionGroup.id}">
                                                                            <label class="form-check-label">
                                                                                <input type="checkbox" class="form-check-input optionsCheckbox"
                                                                                       th:name="'optionsCheckbox-'+${optionGroup.id}"
                                                                                       th:id="'optionsCheckbox-'+${option.id}" th:value="${option.id}"
                                                                                       th:text="${option.name}"
                                                                                       onclick="handleOptionCheckboxClick(this)">
                                                                            </label>
                                                                            <input type="hidden" th:id="'optionName'+${option.id}" name="optionName"
                                                                                   th:value="${option.name}">
                                                                            <input type="hidden" th:id="'optionsPrice'+${option.id}" name="optionPrice"
                                                                                   th:value="${option.price}">
                                                                            <span th:text="${#numbers.formatInteger(option.price,0,'COMMA')}+'원'"></span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button class="btn mr-2" style="background: #ffa636; padding: 10px 20px" th:customHashKey="${item.hashKey}" th:onclick="saveSelectedOption(this.getAttribute('customHashKey'))">변경</button>
                                                            <button class="btn btn-light mr-2" style="text-align: center; padding: 10px 20px" data-dismiss="modal">취소</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row rounded border-left border-right border-top border-bottom" style="flex-wrap: nowrap">
                                        <div class="row flex-fill">

                                            <div class="row col-md-5" style="flex-wrap: nowrap">
                                                <div class="m-1 align-items-center d-flex" style="min-width: 110px"
                                                     th:onclick="'window.location.href=\'/index/store/' + ${item.storeId} + '\''">
                                                    <img style="border-radius: 3px; object-fit: cover; width: 90px; height: 90px;" th:src="${item.menu.menuImage}"
                                                         onerror="this.onerror=null; this.src='/assets/images/nodata.png';">
                                                </div>

                                                <div class="m-1 align-items-center text-left d-flex">
                                                    <span class="font-weight-bold" th:utext="${item.menuOptName}" style="font-size: 1rem; word-wrap: break-word;"></span>
                                                </div>
                                            </div>

                                            <div class="row col-md-5" style="flex-wrap: nowrap;">
                                                <div class="m-1 align-items-center d-flex justify-content-center flex-grow-1">
                                                    <form th:action="@{/carts/menu-count-down/{menuKey}(menuKey=${item.hashKey})}" th:method="PUT" class="d-inline">
                                                        <button class="btn m-0 p-2" style="color: #ffa636" type="submit">
                                                            <i class="mdi mdi-magnify-minus"></i> <!-- 마이너스 아이콘 -->
                                                        </button>
                                                    </form>
                                                    <span class="menu-count" th:text="${item.count}"></span>
                                                    <form th:action="@{/carts/menu-count-up/{menuKey}(menuKey=${item.hashKey})}" th:method="PUT" class="d-inline">
                                                        <button class="btn m-0 p-2" style="color: #ffa636" type="submit">
                                                            <i class="mdi mdi-magnify-plus"></i> <!-- 플러스 아이콘 -->
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="m-1 align-items-center d-flex justify-content-center flex-grow-1">
                                                    <span class="font-weight-bold" th:text="${#numbers.formatInteger(item.totalMenuPrice,3,'COMMA')}+'원'" style="font-size: 1.1rem;"></span>
                                                </div>
                                            </div>

                                            <div class="row col-md-2" style="flex-wrap: nowrap">
                                                <div class="m-1 align-items-center d-flex">
                                                    <button class="btn btn-inverse-warning mr-2" style="padding: 8px 13px;"
                                                            type="button" data-toggle="modal" th:data-target="'#cartMenu' + ${item.hashKey}">옵션수정
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <form th:action="@{/carts/menu-delete/{menuKey}(menuKey=${item.hashKey})}" th:method="DELETE">
                                            <button class="btn btn-sm btn-icon m-0" style="color: #ffa636" type="submit">
                                                <i class="mdi mdi-close"></i>
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>

                            <hr style="border-top: 1px solid #ccc;">

                            <div class="d-flex justify-content-center p-3">
                                <h4 style="font-size:1.0rem; font-weight: bold; margin-top: 2px; margin-right: 5px; margin-bottom: -1px" th:text="'총 결제금액: '"></h4>
                                <h4 style="font-size:1.3rem; font-weight: bold; margin-left: 5px; margin-bottom: -1px" th:text="(${totalPrice} != null ? ${#numbers.formatInteger(totalPrice, 3, 'COMMA')} : '0') + '원'"></h4>
                            </div>
                            <div class="d-flex justify-content-center cart">
                                <form th:action="@{/carts/menu-del-all}" th:method="DELETE">
                                    <button class="btn btn-inverse-warning mr-2" style="padding: 8px 13px;" type="submit">전체삭제</button>
                                </form>
                                <form th:action="@{/order}">
                                    <button class="btn btn-inverse-warning" style="padding: 8px 13px;" type="submit" th:disabled="${!orderPossible}">주문하기</button>
                                </form>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="text-danger" th:utext="${#strings.replace(explain, lineSeparator, '&lt;br /&gt;')}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: site-footer"></footer>

<script>
    function saveSelectedOption(menuKey) {
        console.log("menuKey = " + menuKey);

        const checkboxButtons = document.querySelectorAll("input[type='checkbox']:checked");
        console.log("CheckboxButtons:" + checkboxButtons.item(0));

        let selectedOption;
        const cartOptionDto = [];

        for (const checkboxButton of checkboxButtons) {
            if (checkboxButton.checked) {
                selectedOption = checkboxButton;
                const optionId = selectedOption.value;
                const optionName = document.getElementById('optionName' + optionId).value;
                const optionPrice = document.getElementById('optionsPrice' + optionId).value;
                console.log("ID:" + optionId);
                console.log("NAME:" + optionName);
                console.log("PRICE:" + optionPrice);
                cartOptionDto.push({ optionId: optionId, optionName: optionName, optionPrice:optionPrice })
            }
        }

        const csrfToken = `[[${_csrf.token}]]`;
        const csrfHeader = `[[${_csrf.headerName}]]`;
        const headers = {
            'Content-Type': 'application/json'
        };
        headers[csrfHeader] = csrfToken;
        fetch(`/carts/modify-menu/` + menuKey, {
            method: 'PUT',
            headers: headers,
            body: JSON.stringify(cartOptionDto),
        })
            .then(async response => {
                if (response.ok) {
                    window.location.href = '/carts';
                } else {
                    throw new Error('오류가 발생했습니다.');
                }
            })
            .catch(error => {
                // 오류를 처리합니다.
                console.error(error);
            });
    }
</script>
<script>
    document.addEventListener(
        "DOMContentLoaded", () => {
            let checkboxes = document.getElementsByClassName('optionsCheckbox');
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener('click', function() {
                    handleOptionCheckboxClick(this);
                });
            }
        }
    )
    function getSelectedOptionCheckbox(boxId) {
        let categoryCheckboxes = document.getElementsByName('optionsCheckbox-'+boxId);
        let selectedOptions = [];

        for (let i = 0; i < categoryCheckboxes.length; i++) {
            if (categoryCheckboxes[i].checked) {
                console.log(categoryCheckboxes[i]);
                selectedOptions.push(categoryCheckboxes[i]);
            }
        }
        console.log('length: '+selectedOptions.length);

        return selectedOptions;
    }
    function handleOptionCheckboxClick(checkbox) {
        let optionGroupId = checkbox.name.split("-")[1]
        let min = document.getElementById('optionGroupMin'+optionGroupId).value;
        let max = document.getElementById('optionGroupMax'+optionGroupId).value;
        console.log('min :' + min);
        console.log('max :' + max);
        const selectedStoreCategories = getSelectedOptionCheckbox(optionGroupId);

        if (selectedStoreCategories.length>max) {
            checkbox.checked = false;
            alert(`옵션은 ${max}개 이하만 선택할 수 있습니다.`);
        }
    }
</script>
</body>

</html>
