<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>500 Error Page</title>
  <link rel="stylesheet" href="/assets/css/error/style.css">

</head>
<body>
<div class="container">
      <img src="/assets/images/500-image.png" />
      <h1>
        <span>500</span> <br />
        Internal server error
      </h1>
      <p>잠시후 다시 확인해주세요.</p>
      <p class="info">
        문제를 해결하기 위해 열심히 노력하고 있습니다.
          잠시후 다시 확인 부탁드립니다.
        <a href="https://www.cookshoong.store" target="_blank">cookshoong.store</a>
      </p>
</div>
</body>
</html>
