<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <title>Untitled</title>
</head>
<body layout:fragment="content">
<header th:replace="fragments :: mypage-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div class="modal fade" id="addressAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="col-12 p-0" th:action="@{'/my-address'}"
                      th:object="${createAccountAddressRequestDto}"
                      method="post" enctype="multipart/form-data">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">신규 주소 등록</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">주소 정보</h4>

                                <div class="form-group">
                                    <label>별칭</label>
                                    <input class="form-control" type="text" id="alias" name="alias"
                                           placeholder="별칭" pattern="^[가-힇0-9\w\-\, ]+$" required>
                                </div>

                                <div class="form-group">
                                    <label>메인 주소</label>
                                    <input class="form-control" type="text" onclick="execDaumPostcode()" value="주소 검색">
                                </div>

                                <div class="form-group">
                                    <label>상세 주소</label>
                                    <input class="form-control" type="text" id="detailAddress" name="detailPlace"
                                           placeholder="상세 주소" pattern="^[가-힇0-9\w\-\, ]+$" required>
                                </div>

                                <input type="hidden" id="latitudeInput" name="latitude">
                                <input type="hidden" id="longitudeInput" name="longitude">

                            </div>
                        </div>
                    </div>

                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <button class="btn btn-info m-1" type="submit" onclick="return validateAddress()">주소 추가</button>
                                <button class="btn btn-light m-1" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: mypage-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">내 주소 관리</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">내 주소 목록</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="pl-0 pr-0">별칭</th>
                                        <th class="pl-0 pr-0">메인주소</th>
                                        <th class="pl-0 pr-0">상세주소</th>
                                        <th class="pl-0 pr-0">주소선택</th>
                                        <th class="pl-0 pr-0">주소삭제</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="address, i:${accountAddresses}">
                                        <td class="pl-0 pr-0">
                                            <span th:text="${address.getAlias()}"></span>
                                        </td>
                                        <td class="pl-0 pr-0">
                                            <span th:text="${address.getMainPlace()}"></span>
                                        </td>
                                        <td class="pl-0 pr-0">
                                            <span></span>
                                        </td>
                                        <td class="pl-0 pr-0" style="width: 100px;">
                                            <form th:action="@{'/my-address/' + ${address.id} }"
                                                  th:method="PATCH">
                                                <button class="btn btn-info mr-2" type="submit">선택</button>
                                            </form>
                                        </td>
                                        <td class="pl-0 pr-0" style="width: 100px;">
                                            <form th:action="@{'/my-address/'+ ${address.id} }"
                                                  th:method="DELETE">
                                                <button class="btn btn-info mr-2" type="submit">삭제</button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-info w-100 mt-2" type="button"
                                        data-toggle="modal"
                                        data-target="#addressAdd">주소 추가
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>
</body>
</html>
