<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=55b38bb80852c12b35f14456e76868a9&libraries=services"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/address/address.js" defer></script>
</head>
<body layout:fragment="content">
<input type="hidden" id="latitudeJS" th:value="${latitude}"/>
<input type="hidden" id="longitudeJS" th:value="${longitude}"/>
<header th:replace="fragments :: mypage-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div th:replace="fragments :: all-address-list"></div>

<div class="modal fade" id="addressAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form class="col-12 p-0" th:action="@{'/my-address'}"
                      th:object="${createAccountAddressRequestDto}"
                      method="post" id="addressForm">
                    <div class="col-12 stretch-card">
                        <div class="card rounded">
                            <div class="card-body">
                                <h4 class="card-title address"><span>신규 주소 등록</span><button
                                        class="btn btn-inverse-info" style="margin-left: 13rem; font-size: 0.9rem"
                                        type="button" onclick="execDaumPostcode()">주소검색</button></h4>

                                <div class="form-group">
                                    <label>별칭</label>
                                    <input class="form-control" type="text" id="alias" name="alias"
                                           placeholder="별칭" pattern="^[가-힇\w]+$\, " maxlength="10" required>
                                </div>
                                <div class="form-group">
                                    <label>메인 주소</label>
                                    <input type="text" class="form-control" id="addressInput"
                                           name="mainPlace"
                                           th:field="*{mainPlace}"
                                           th:value="*{mainPlace}" placeholder="메인 주소"
                                           readonly required>
                                </div>
                                <div class="form-group">
                                    <label>상세 주소</label>
                                    <input class="form-control" type="text" id="detailAddress" name="detailPlace"
                                           placeholder="상세 주소" pattern="^[가-힇0-9\w\-\,\(\), ]+$" required>
                                </div>
                                <input type="hidden" id="latitudeInput" name="latitude" th:value="*{latitude}" required>
                                <input type="hidden" id="longitudeInput" name="longitude" th:value="*{longitude}" required>
                            </div>
                            <div class="card-body text-center address">
                                <input id="address-add" class="btn btn-inverse-info" style="font-size: 1.0rem" type="submit"
                                       onclick="return validateAddress()" value="주소추가">
                                <button class="btn btn-inverse-info m-1" style="font-size: 1.0rem" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: mypage-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body row">
                            <h1 class="font-weight-bold mb-2 w-75">내 주소 관리</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="store-card-header">
                            <h2 class="store-title">주소 목록</h2>
                            <input class="btn btn-inverse-info float-right" style="font-size: 0.9rem" type="button"
                                   data-toggle="modal"
                                   data-target="#addressAdd" th:value="주소등록">
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <button id="currentLocationBtn" class="btn" style="position: absolute; left: 0; z-index: 2;">
                                    <i class="mdi mdi-home-map-marker" style="color: #d70206; font-size: 33px"></i>
                                </button>
                                <div class="input-group mb-3" id="map"
                                     style="border-radius: 4px;width: auto; height: 300px; margin-top: 10px;"></div>
                                <table class="table">
                                    <thead class="table-light">
                                    <tr>
                                        <th class="pl-0 pr-0" style="padding: 0.8rem">별칭</th>
                                        <th class="pl-0 pr-0" style="padding: 0.8rem">메인주소</th>
                                        <th class="pl-0 pr-0" style="padding: 0.8rem">상세주소</th>
                                        <th class="pl-0 pr-0" style="padding: 0.8rem">주소선택</th>
                                        <th class="pl-0 pr-0" style="padding: 0.8rem">주소삭제</th>
                                    </tr>
                                    </thead>
                                    <tbody id="addressTable">
                                        <tr th:each="address, i:${accountAddresses}"  th:unless="${accountAddresses == null}">
                                            <td class="pl-0 pr-0" style="width: 50px; padding: 0.8rem">
                                                <span th:text="${address.getAlias()}"></span>
                                            </td>
                                            <td class="pl-0 pr-0" style="width: 100px; padding: 0.8rem">
                                                <span th:text="${address.getMainPlace()}"></span>
                                            </td>
                                            <td class="pl-0 pr-0" style="width: 100px; padding: 0.8rem">
                                                <span th:text="${address.getDetailPlace()}"></span>
                                            </td>
                                            <td class="pl-0 pr-0 address" style="width: 50px; padding: 0.5rem">
                                                <form th:action="@{'/my-address/' + ${address.id}}"
                                                      th:method="PATCH">
                                                    <button class="btn m-0 p-2" type="submit" style="color: #77acf8;">
                                                        <i class="mdi mdi-check-circle-outline" style="font-size: 20px"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            <td class="pl-0 pr-0 address" style="width: 50px; padding: 0.8rem">
                                                <form id="deleteForm" th:action="@{'/my-address/'+ ${address.id}}"
                                                      th:method="DELETE">
                                                    <input class="btn m-0 p-2" style="font-size: 16px; color: #77acf8" type="submit" onclick="return deleteAddress()" value="X">
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: site-footer"></footer>
</body>
</html>
