<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <script src="/assets/js/common/fetcher.js"></script>
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/my-coupon-style.css">
</head>
<body layout:fragment="content">
<header th:replace="fragments :: mypage-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div th:replace="fragments :: all-address-list"></div>
<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: mypage-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">소유 쿠폰</h1>
                        </div>
                    </div>
                </div>

                <div class="justify-content-center flex-container" th:if="${coupons.content == null || coupons.content.isEmpty()}">
                    <h1>사용 가능한 쿠폰이 없습니다.</h1>
                </div>
                <div th:unless="${coupons.content == null || coupons.content.isEmpty()}" class="grid-margin w-25-l w-50-m w-100-ns p-1" th:each="coupon, i:${coupons.content}">
                    <div class="coupon-container">
                        <div class="rounded w-100 border-warning border p-1 row text-center" style="background-color: rgba(255, 131, 0, 0.75);">
                            <div class="col-8 bg-white rounded">
                                <h1 class="font-weight-bold pt-1 grad-text mt-3 text-warning" th:text="${coupon.name}"></h1>
                                <h4 class="pb-2 text-gray" th:text="${coupon.description}" style="font-weight: bold;"></h4>
                                <h3 class="mt-4" th:text="${coupon.couponUsageName}" style="font-weight: bold;"></h3>
                                <h5 class="pb-2" th:text="'만료일자: ' + ${coupon.expirationDate}"></h5>
                            </div>
                            <div class="notification-container col bg-white rounded-right border-warning pt-3" style="font-size: 20px; font-weight: bold; border-left: dotted;">
                                <div th:switch="${coupon.couponTypeResponse.getClass().getSimpleName()}">
                                    <div th:case="CouponTypeCashVo">
                                        <h1 class="font-weight-bold pt-2 grad-text text-warning" th:text="${#numbers.formatInteger(coupon.couponTypeResponse.discountAmount, 0, 'COMMA')} + '원 할인'"></h1>
                                        <div class="coupon-details">
                                            <p class="mt-3" th:text="${#numbers.formatInteger(coupon.couponTypeResponse.minimumOrderPrice, 0, 'COMMA')} + '원 이상 주문시'"></p>
                                        </div>
                                    </div>

                                    <div th:case="CouponTypePercentVo">
                                        <h1 class="font-weight-bold pt-2 grad-text text-warning"
                                            th:text="${coupon.couponTypeResponse.rate} + '% 할인'"></h1>
                                        <h4 class="pb-2 text-gray" th:text="'최대 ' + ${#numbers.formatInteger(coupon.couponTypeResponse.maximumDiscountAmount, 0, 'COMMA')} + '원 까지'" style="font-weight: bold;"></h4>
                                        <div class="coupon-details">
                                            <p class="mt-3" th:text="${#numbers.formatInteger(coupon.couponTypeResponse.minimumOrderPrice, 0, 'COMMA')} + '원 이상 주문시'"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card" th:if="${coupons.totalPages > 0}">
                    <nav aria-label="Page navigation" class="pagination-container">
                        <ul class="pagination"
                            th:with="start=${(coupons.pageable.pageNumber/5)*5 + 1},
                            last=(${start + (5 - 1) < coupons.totalPages ? start + (5 - 1) : coupons.totalPages})">
                            <li>
                                <a th:href="@{|/my-coupons|(page=1, size=${coupons.size})}" aria-label="First">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li th:class="${coupons.first} ? 'disabled'">
                                <a th:href="${coupons.first} ? '#' :@{|/my-coupons|(page=${coupons.number}, size=${coupons.size})}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == coupons.number + 1} ? 'active'">
                                <a th:text="${page}" th:href="@{|/my-coupons|(page=${page}, size=${coupons.size})}"></a>
                            </li>
                            <li th:class="${coupons.last} ? 'disabled'">
                                <a th:href="${coupons.last} ? '#' :@{|/my-coupons|(page=${coupons.number + 2}, size=${coupons.size})}">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{|/my-coupons|(page=${coupons.totalPages}, size=${coupons.size})}" aria-label="Last">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
</body>
</html>
