<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <script src="/assets/js/common/fetcher.js"></script>
</head>
<body layout:fragment="content">
<header th:replace="fragments :: mypage-site-header"></header>
<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: mypage-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">소유 쿠폰</h1>
                        </div>
                    </div>
                </div>
                <div class="justify-content-center flex-container" th:if="${coupons.content == null || coupons.content.isEmpty()}">
                    <h1>사용 가능한 쿠폰이 없습니다.</h1>
                </div>
                <div th:unless="${coupons.content == null || coupons.content.isEmpty()}" class="grid-margin w-50 p-1" th:each="coupon, i:${coupons.content}">
                    <div class="btn btn-outline-warning mr-2 provide-button w-100 pl-2 pr-2">
                        <div class="text-left notification-container"
                             style="font-size: 20px; font-weight: bold"
                             th:switch="${coupon.couponTypeResponse.getClass().getSimpleName()}">
                            <h2 class="pb-2" th:text="${coupon.couponUsageName}" style="font-weight: bold"></h2>
                            <div th:case="CouponTypeCashVo">
                                <span th:text="'고정 할인'" style="font-weight: bold"></span>
                                <h1 class="font-weight-bold pt-2 grad-text" style="font-size: 40px;"
                                    th:text="${#numbers.formatInteger(coupon.couponTypeResponse.discountAmount, 0, 'COMMA')} + '원 할인'"></h1>
                                <div style="height: 60px;">
                                    <p th:text="'만료일자: ' + ${coupon.expirationDate}"></p>
                                    <p th:text="'최소 주문 금액: ' + ${#numbers.formatInteger(coupon.couponTypeResponse.minimumOrderPrice, 0, 'COMMA')} + '원'"></p>
                                </div>
                            </div>

                            <div th:case="CouponTypePercentVo">
                                <span th:text="'퍼센트 할인'" style="font-weight: bold"></span>
                                <h1 class="font-weight-bold pt-2 grad-text" style="font-size: 40px;"
                                    th:text="${coupon.couponTypeResponse.rate} + '% 할인 (최대 ' + ${#numbers.formatInteger(coupon.couponTypeResponse.maximumDiscountAmount, 0, 'COMMA')} + '원 까지)'"></h1>

                                <div style="height: 60px;">
                                    <p th:text="'만료일자: ' + ${coupon.expirationDate}"></p>
                                    <p th:text="'최소 주문 금액: ' + ${#numbers.formatInteger(coupon.couponTypeResponse.minimumOrderPrice, 0, 'COMMA')} + '원'"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card" th:if="${coupons.totalPages > 0}">
                    <nav aria-label="Page navigation" class="pagination-container">
                        <ul class="pagination"
                            th:with="start=${(coupons.pageable.pageNumber/5)*5 + 1},
                            last=(${start + (5 - 1) < coupons.totalPages ? start + (5 - 1) : coupons.totalPages})">
                            <li>
                                <a th:href="@{|/my-coupons|(page=1, size=${coupons.size})}" aria-label="First">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li th:class="${coupons.first} ? 'disabled'">
                                <a th:href="${coupons.first} ? '#' :@{|/my-coupons|(page=${coupons.number}, size=${coupons.size})}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == coupons.number + 1} ? 'active'">
                                <a th:text="${page}" th:href="@{|/my-coupons|(page=${page}, size=${coupons.size})}"></a>
                            </li>
                            <li th:class="${coupons.last} ? 'disabled'">
                                <a th:href="${coupons.last} ? '#' :@{|/my-coupons|(page=${coupons.number + 2}, size=${coupons.size})}">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{|/my-coupons|(page=${coupons.totalPages}, size=${coupons.size})}" aria-label="Last">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments :: site-footer"></footer>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
</body>
</html>
