<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <title>Untitled</title>
</head>
<body layout:fragment="content">
<header th:replace="fragments :: mypage-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: mypage-site-nav"></nav>
</div>
<footer th:replace="fragments :: site-footer"></footer>
</body>
</html>
