<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <script src="/assets/js/common/fetcher.js"></script>
    <link rel="stylesheet" href="/assets/css/my-points-style.css">
</head>
<body layout:fragment="content">
<header th:replace="fragments :: mypage-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div th:replace="fragments :: all-address-list"></div>
<div class="container-fluid page-body-wrapper">
    <nav th:replace="fragments :: mypage-site-nav"></nav>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="font-weight-bold">포인트 내역 <span class="balance" th:text="|(잔액: ${balance})|"></span></h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="store-card-header">
                            <h2 class="store-title">적립&사용 내역</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" style="min-width: 600px; overflow-x: auto">
                                    <thead class="table-light">
                                    <tr>
                                        <th class="pl-0 pr-0" style="padding: 0.8rem">No.</th>
                                        <th class="pl-0 pr-0" style="padding: 0.8rem">사용일자</th>
                                        <th class="pl-0 pr-0" style="padding: 0.8rem">포인트</th>
                                        <th class="pl-0 pr-0" style="padding: 0.8rem">비고</th>
                                    </tr>
                                    </thead>
                                    <tbody id="addressTable">
                                    <tr th:each="pointLog, i:${pointLogs}">
                                        <td class="pl-0 pr-0" style="padding: 0.8rem">
                                            <span th:text="${(pointLogs.pageable.pageNumber * pointLogs.pageable.pageSize) + i.index +1}"></span>
                                        </td>
                                        <td class="pl-0 pr-0" style="padding: 0.8rem">
                                            <span th:text="${#temporals.format(pointLog.pointAt, 'yyyy년 MM월 dd일 HH시 mm분')}"></span>
                                        </td>
                                        <td class="pl-0 pr-0" style="padding: 0.8rem">
                                            <span th:class="${pointLog.pointMovement >= 0 ? 'acquire' : 'use'}"
                                                  th:text="${pointLog.pointMovement >= 0 ? '+' + pointLog.pointMovement + ' 적립' : pointLog.pointMovement + ' 사용' }"></span>
                                        </td>
                                        <td class="pl-0 pr-0" style="padding: 0.8rem">
                                            <span th:text="${pointLog.reason}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin stretch-card" th:if="${pointLogs.totalPages > 0}">
                    <nav aria-label="Page navigation" class="pagination-container">
                        <ul class="pagination"
                            th:with="start=${(pointLogs.pageable.pageNumber/buttonNumber) * buttonNumber + 1},
                            last=(${start + (buttonNumber - 1) < pointLogs.totalPages ? start + (buttonNumber - 1) : pointLogs.totalPages})">
                            <li>
                                <a th:href="@{/my-points(page=1, size=${pointLogs.size})}" aria-label="First">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li th:class="${pointLogs.first} ? 'disabled'">
                                <a th:href="${pointLogs.first} ? '#' : @{/my-points(page=${pointLogs.number}, size=${pointLogs.size})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == pointLogs.number + 1} ? 'active'">
                                <a th:text="${page}" th:href="@{/my-points(page=${page}, size=${pointLogs.size})}"></a>
                            </li>
                            <li th:class="${pointLogs.last} ? 'disabled'">
                                <a th:href="${pointLogs.last} ? '#': @{/my-points(page=${pointLogs.number + 2}, size=${pointLogs.size})}">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/my-points(page=${pointLogs.totalPages}, size=${pointLogs.size})}" aria-label="Last">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: site-footer"></footer>
</body>
</html>
