<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="/assets/js/common/fetcher.js"></script>
</head>

<body>
<header th:fragment="user-site-header" class="hero_area header_section">
    <div class="row justify-content-between" style="flex-wrap: nowrap">
        <div>
            <a href="/">
                <img src="/assets/images/shoong.png" alt="" style="height: 65px;">
            </a>
        </div>


        <div class="pt-1">
            <div class="navbar navbar-expand-lg" sec:authorize="!isAuthenticated()">
                <div class="navbar-toggler">
                    <a th:href="@{/sign-up}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-human-greeting">
                    </a>
                    <a th:href="@{/login-page}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-login">
                    </a>
                </div>
                <div class="navbar-toggler-ex">
                    <a th:href="@{/sign-up}" style="color: white; font-size: 0.85rem" class="mr-2">회원가입
                    </a>
                    <a th:href="@{/login-page}" style="color: white; font-size: 0.85rem" class="mr-2">로그인
                    </a>
                </div>
            </div>

            <div class="navbar navbar-expand-lg justify-content-end" sec:authorize="isAuthenticated() && hasRole('CUSTOMER')">
                <div class="navbar-toggler">
                    <a th:href="@{/my-address}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-library-books" type="button" data-toggle="modal" data-target="#addressList">
                    </a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/management/banks}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-laptop-windows">
                    </a>
                    <a sec:authorize="hasRole('BUSINESS')" th:href="@{/stores}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-store" data-toggle="modal" data-target="#storeList">
                    </a>
                    <a th:href="@{/carts}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-basket">
                    </a>
                    <a th:href="@{/my-page}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-human-greeting">
                    </a>
                    <a href="#" onclick="justSendCsrfToken('/logout', '/')" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-login">
                    </a>
                </div>
                <div class="navbar-toggler-ex">
                    <a th:href="@{/my-address}" style="color: white; font-size: 0.85rem" class="mr-2" type="button" data-toggle="modal" data-target="#addressList">주소설정
                    </a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/management/banks}" style="color: white; font-size: 0.85rem" class="mr-2">쿡슝관리
                    </a>
                    <a sec:authorize="hasRole('BUSINESS')" th:href="@{/stores}" style="color: white; font-size: 0.85rem" class="mr-2" data-toggle="modal" data-target="#storeList">매장보기
                    </a>
                    <a th:href="@{/carts}" style="color: white; font-size: 0.85rem" class="mr-2">장바구니
                    </a>
                    <a th:href="@{/my-page}" style="color: white; font-size: 0.85rem" class="mr-2">내 정보
                    </a>
                    <a href="#" onclick="justSendCsrfToken('/logout', '/')" style="color: white; font-size: 0.85rem" class="mr-2">로그아웃
                    </a>
                </div>
            </div>
            <div class="navbar navbar-expand-lg justify-content-end">
                <div class="navbar-toggler-ex">
                    <p style="color: white; font-size: 25px; padding-right: 5px;" class="m-0 font-weight-bold" th:text="''"></p>
                </div>
            </div>
        </div>
    </div>
</header>

<div th:fragment="all-address-list" class="modal fade" id="addressList">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-lg-12 grid-margin stretch-card p-0">
                    <div class="card rounded">
                        <div class="row p-1 justify-content-between">
                            <div class="p-3">
                                <span class="card-title" style="font-size: 1.8rem">주소 설정</span>
                            </div>
                            <div class="d-flex justify-content-end align-items-center text-right pr-3">
                                <div class="btn-box">
                                    <a href="/my-address" class="btn btn-outline-warning p-2">
                                        주소등록
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-1" th:each="address, i:${accountAddresses}"  th:unless="${accountAddresses == null}">
                            <form th:action="@{'/my-address/' + ${address.id} + '/index'}" th:method="PATCH" th:with="one=${i.index==0? 'first-address' : ''}">
                                <button th:class="'row border-top border-bottom border-left border-right w-100 mt-1 mb-1 ' + ${one}"
                                        style="border-radius: 1rem">
                                    <div class="col-12 p-1 m-1 text-left">
                                        <h4 class="font-weight-bold" th:text="${address.getAlias()}" style="font-size: 1.2rem"></h4>
                                        <span th:text="${address.getMainPlace()}"></span>
                                        <span th:text="${address.getDetailPlace()}"></span>
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="business-store-list" class="modal fade" id="storeList">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-lg-12 grid-margin stretch-card p-0">
                    <div class="card">
                        <div class="row p-1 justify-content-between">
                            <div class="p-3">
                                <span class="card-title" style="font-size: 1.8rem">보유 매장 조회</span>
                            </div>
                            <div class="d-flex justify-content-end align-items-center text-right pr-3">
                                <div class="btn-box">
                                    <a href="/store-register" class="btn btn-outline-warning p-2">
                                        신규 매장 등록
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-1">
                            <div class="col-12 row w-100 p-3 mb-3 border-left border-right border-top border-bottom" th:each="businessStore, i:${businessStoreList}">
                                <button class="row border-0 flex-fill bg-white mt-1 mb-1"
                                        th:onclick="'window.location.href=\'/stores/' + ${businessStore.storeId} + '/store-info-manager' + '\''"
                                        style="border-radius: 1rem">
                                    <div class="col-11 p-1 m-1 text-left">
                                        <h6 th:if="${businessStore.storeStatus == 'CLOSE'}" style="color: orangered;">매장 오픈시 중단해제를 눌러주세요.</h6>
                                        <h4 class="font-weight-bold" th:text="${businessStore.storeName}" style="font-size: 1.2rem"></h4>
                                        <span th:text="${businessStore.storeMainAddress}"></span>
                                        <span th:text="${businessStore.storeDetailAddress}"></span>
                                    </div>
                                </button>
                                <div class="col-4 p-1 m-1 text-right">
                                    <button th:if="${businessStore.storeStatus == 'OPEN'}"
                                            th:onclick="'javascript:storeStatusChange('+${businessStore.storeId}+', \'CLOSE\')'"
                                            class="btn btn-outline-reddit">
                                        강제휴식
                                    </button>
                                    <button th:if="${businessStore.storeStatus == 'CLOSE'}"
                                            th:onclick="'javascript:storeStatusChange('+${businessStore.storeId}+', \'OPEN\')'"
                                            class="btn btn-inverse-warning">
                                        중단해제
                                    </button>
                                    <button th:if="${businessStore.storeStatus == 'BREAK_TIME'}"
                                            class="btn btn-light">
                                        브레이크
                                    </button>
                                    <button th:if="${businessStore.storeStatus == 'OUTED'}"
                                            class="btn btn-dark">
                                        선택불가
                                    </button>
                                    <script>
                                        function storeStatusChange(storeId, optionName) {
                                            const url = `/stores/` + storeId + `/status?option=`+optionName;
                                            const data = null;
                                            const method = "PATCH";

                                            if (optionName === 'CLOSE'){
                                                if (confirm("강제휴식에 들어갑니다. 수동으로 해제하지 않으시면 자동으로 매장이 열리지 않습니다.")){
                                                    sendDataWithCsrfToken(url, "/", data, method);
                                                }
                                                else{
                                                    return;
                                                }
                                            }
                                            sendDataWithCsrfToken(url, "/", data, method);
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<header th:fragment="admin-site-header" class="hero_area header_section" style="background: #000000">
    <div class="row justify-content-between">

        <div>
            <a href="/">
                <img src="/assets/images/shoong.png" alt="" style="height: 65px">
            </a>
        </div>

        <div class="navbar navbar-expand-lg custom_nav-container">
            <button class="navbar-toggler" type="button"
                    data-toggle="offcanvas">
                <span class="typcn typcn-th-menu"></span>
            </button>
        </div>

    </div>
</header>

<header th:fragment="business-site-header" class="hero_area header_section" style="background: #161d3d">
    <div class="row justify-content-between" style="flex-wrap: nowrap">

        <div>
            <a href="/">
                <img src="/assets/images/shoong.png" alt="" style="height: 65px">
            </a>
        </div>

        <div class="navbar navbar-expand-lg custom_nav-container">
            <button class="navbar-toggler" type="button"
                    data-toggle="offcanvas">
                <span class="typcn typcn-th-menu"></span>
            </button>
        </div>

        <div class="pt-1">
            <div class="navbar navbar-expand-lg" sec:authorize="!isAuthenticated()">
                <div class="navbar-toggler">
                    <a th:href="@{/sign-up}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-human-greeting">
                    </a>
                    <a th:href="@{/login-page}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-login">
                    </a>
                </div>
                <div class="navbar-toggler-ex">
                    <a th:href="@{/sign-up}" style="color: white; font-size: 0.85rem" class="mr-2">회원가입
                    </a>
                    <a th:href="@{/login-page}" style="color: white; font-size: 0.85rem" class="mr-2">로그인
                    </a>
                </div>
            </div>

            <div class="navbar navbar-expand-lg justify-content-end" sec:authorize="isAuthenticated() && hasRole('CUSTOMER')">
                <div class="navbar-toggler">
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/management/banks}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-laptop-windows">
                    </a>
                    <a sec:authorize="hasRole('BUSINESS')" th:href="@{/stores}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-store" data-toggle="modal" data-target="#storeList">
                    </a>
                    <a th:href="@{/carts}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-basket">
                    </a>
                    <a th:href="@{/my-page}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-human-greeting">
                    </a>
                    <a href="#" onclick="justSendCsrfToken('/logout', '/')" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-login">
                    </a>
                </div>
                <div class="navbar-toggler-ex">
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/management/banks}" style="color: white; font-size: 0.85rem" class="mr-2">쿡슝관리
                    </a>
                    <a sec:authorize="hasRole('BUSINESS')" th:href="@{/stores}" style="color: white; font-size: 0.85rem" class="mr-2" data-toggle="modal" data-target="#storeList">매장보기
                    </a>
                    <a th:href="@{/carts}" style="color: white; font-size: 0.85rem" class="mr-2">장바구니
                    </a>
                    <a th:href="@{/my-page}" style="color: white; font-size: 0.85rem" class="mr-2">내 정보
                    </a>
                    <a href="#" onclick="justSendCsrfToken('/logout', '/')" style="color: white; font-size: 0.85rem" class="mr-2">로그아웃
                    </a>
                </div>
            </div>
            <div class="navbar navbar-expand-lg" sec:authorize="!isAuthenticated()">
                <div class="navbar-toggler">
                    <a th:href="@{/sign-up}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-human-greeting">
                    </a>
                    <a th:href="@{/login-page}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-login">
                    </a>
                </div>
                <div class="navbar-toggler-ex">
                    <a th:href="@{/sign-up}" style="color: white; font-size: 0.85rem" class="mr-2">회원가입
                    </a>
                    <a th:href="@{/login-page}" style="color: white; font-size: 0.85rem" class="mr-2">로그인
                    </a>
                </div>
            </div>

            <div class="navbar navbar-expand-lg justify-content-end">
                <div class="navbar-toggler-ex">
                    <p style="color: white; font-size: 25px; padding-right: 5px;" class="m-0 font-weight-bold" th:text="${storeName}"></p>
                </div>
            </div>
        </div>
    </div>
</header>

<header th:fragment="business-register-header" class="hero_area header_section" style="background: #161d3d">
    <div class="row justify-content-between" style="flex-wrap: nowrap">

        <div>
            <a href="/">
                <img src="/assets/images/shoong.png" alt="" style="height: 65px">
            </a>
        </div>

        <div class="pt-1">
            <div class="navbar navbar-expand-lg" sec:authorize="!isAuthenticated()">
                <div class="navbar-toggler">
                    <a th:href="@{/sign-up}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-human-greeting">
                    </a>
                    <a th:href="@{/login-page}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-login">
                    </a>
                </div>
                <div class="navbar-toggler-ex">
                    <a th:href="@{/sign-up}" style="color: white; font-size: 0.85rem" class="mr-2">회원가입
                    </a>
                    <a th:href="@{/login-page}" style="color: white; font-size: 0.85rem" class="mr-2">로그인
                    </a>
                </div>
            </div>

            <div class="navbar navbar-expand-lg justify-content-end" sec:authorize="isAuthenticated() && hasRole('CUSTOMER')">
                <div class="navbar-toggler">
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/management/banks}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-laptop-windows">
                    </a>
                    <a sec:authorize="hasRole('BUSINESS')" th:href="@{/stores}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-store" data-toggle="modal" data-target="#storeList">
                    </a>
                    <a th:href="@{/carts}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-basket">
                    </a>
                    <a th:href="@{/my-page}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-human-greeting">
                    </a>
                    <a href="#" onclick="justSendCsrfToken('/logout', '/')" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-login">
                    </a>
                </div>
                <div class="navbar-toggler-ex">
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/management/banks}" style="color: white; font-size: 0.85rem" class="mr-2">쿡슝관리
                    </a>
                    <a sec:authorize="hasRole('BUSINESS')" th:href="@{/stores}" style="color: white; font-size: 0.85rem" class="mr-2" data-toggle="modal" data-target="#storeList">매장보기
                    </a>
                    <a th:href="@{/carts}" style="color: white; font-size: 0.85rem" class="mr-2">장바구니
                    </a>
                    <a th:href="@{/my-page}" style="color: white; font-size: 0.85rem" class="mr-2">내 정보
                    </a>
                    <a href="#" onclick="justSendCsrfToken('/logout', '/')" style="color: white; font-size: 0.85rem" class="mr-2">로그아웃
                    </a>
                </div>
            </div>

            <div class="navbar navbar-expand-lg justify-content-end" sec:authorize="isAuthenticated() && hasRole('CUSTOMER')">
                <div class="navbar-toggler-ex">
                    <p style="color: white; font-size: 25px; padding-right: 5px;" class="m-0 font-weight-bold" th:text="'매장 등록'"></p>
                </div>
            </div>
        </div>
    </div>
</header>

<nav th:fragment="business-site-nav" class="sidebar sidebar-offcanvas">
    <ul class="nav">
        <li class="nav-item">
            <p class="sidebar-menu-title">쿡슝 사장님 메뉴</p>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#business-store" aria-expanded="false"
                                aria-controls="business-store"><i class="typcn typcn-chart-bar-outline menu-icon"></i><span
                class="menu-title">매장 관리</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="business-store">
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="store-info-manager">매장정보 관리</a></li>
                    <li><a class="nav-link nav-link-item" href="store-time-manager">영업시간 관리</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#business-menu" aria-expanded="false"
                                aria-controls="business-menu"><i class="typcn typcn-clipboard menu-icon"></i><span
                class="menu-title">메뉴 관리</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="business-menu">
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="store-menu-manager">메뉴 관리</a></li>
                    <li><a class="nav-link nav-link-item" href="store-option-manager">옵션 관리</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#business-order" aria-expanded="false"
                                aria-controls="business-order"><i class="typcn typcn-phone-outline menu-icon"></i><span
                class="menu-title">주문 관리</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="business-order">
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="store-order-manager">주문 관리</a></li>
                    <li><a class="nav-link nav-link-item" href="store-delivery-manager">배송 관리</a></li>
                    <li><a class="nav-link nav-link-item" href="store-payment-manager">결제 관리</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#business-coupon" aria-expanded="false"
                                aria-controls="business-coupon"><i class="typcn typcn-group-outline menu-icon"></i><span
                class="menu-title">할인 관리</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="business-coupon">
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="store-coupon-manager">쿠폰 관리</a></li>
                    <li><a class="nav-link nav-link-item" href="store-point-manager">포인트 관리</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#business-review" aria-expanded="false"
                                aria-controls="business-review"><i class="typcn typcn-message menu-icon"></i><span
                class="menu-title">리뷰 관리</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="business-review">
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="store-review-manager">리뷰 관리</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <script type="text/javascript">
        const storeId = window.document.location.pathname.split("/")[2];

        const navLinks = document.getElementsByClassName("nav-link-item");
        for (const navLink of navLinks) {
            navLink.setAttribute("href", `/stores/${storeId}/${navLink.getAttribute("href")}`)
        }
    </script>
</nav>

<header th:fragment="mypage-site-header" class="hero_area header_section">
    <div class="row justify-content-between" style="flex-wrap: nowrap">
        <div>
            <a href="/">
                <img src="/assets/images/shoong.png" alt="" style="height: 65px">
            </a>
        </div>
        <div class="navbar navbar-expand-lg custom_nav-container">
            <button class="navbar-toggler" type="button" data-toggle="offcanvas">
                <span class="typcn typcn-th-menu"></span>
            </button>
        </div>
        <div class="pt-1">
            <div class="navbar navbar-expand-lg" sec:authorize="!isAuthenticated()">
                <div class="navbar-toggler">
                    <a th:href="@{/sign-up}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-human-greeting">
                    </a>
                    <a th:href="@{/login-page}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-login">
                    </a>
                </div>
                <div class="navbar-toggler-ex">
                    <a th:href="@{/sign-up}" style="color: white; font-size: 0.85rem" class="mr-2">회원가입
                    </a>
                    <a th:href="@{/login-page}" style="color: white; font-size: 0.85rem" class="mr-2">로그인
                    </a>
                </div>
            </div>

            <div class="navbar navbar-expand-lg justify-content-end" sec:authorize="isAuthenticated() && hasRole('CUSTOMER')">
                <div class="navbar-toggler">
                    <a th:href="@{/my-address}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-library-books" type="button" data-toggle="modal" data-target="#addressList">
                    </a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/management/banks}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-laptop-windows">
                    </a>
                    <a sec:authorize="hasRole('BUSINESS')" th:href="@{/stores}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-store" data-toggle="modal" data-target="#storeList">
                    </a>
                    <a th:href="@{/carts}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-basket">
                    </a>
                    <a th:href="@{/my-page}" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-human-greeting">
                    </a>
                    <a href="#" onclick="justSendCsrfToken('/logout', '/')" style="color: white; font-size: 1.2rem" class="mr-2 mdi mdi-login">
                    </a>
                </div>
                <div class="navbar-toggler-ex">
                    <a th:href="@{/my-address}" style="color: white; font-size: 0.85rem" class="mr-2" type="button" data-toggle="modal" data-target="#addressList">주소설정
                    </a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/management/banks}" style="color: white; font-size: 0.85rem" class="mr-2">쿡슝관리
                    </a>
                    <a sec:authorize="hasRole('BUSINESS')" th:href="@{/stores}" style="color: white; font-size: 0.85rem" class="mr-2" data-toggle="modal" data-target="#storeList">매장보기
                    </a>
                    <a th:href="@{/carts}" style="color: white; font-size: 0.85rem" class="mr-2">장바구니
                    </a>
                    <a th:href="@{/my-page}" style="color: white; font-size: 0.85rem" class="mr-2">내 정보
                    </a>
                    <a href="#" onclick="justSendCsrfToken('/logout', '/')" style="color: white; font-size: 0.85rem" class="mr-2">로그아웃
                    </a>
                </div>
            </div>

            <div class="navbar navbar-expand-lg justify-content-end">
                <div class="navbar-toggler-ex">
                    <p style="color: white; font-size: 25px; padding-right: 5px;" class="m-0 font-weight-bold" th:text="'마이페이지'"></p>
                </div>
            </div>
        </div>
    </div>
</header>

<nav th:fragment="mypage-site-nav" class="sidebar sidebar-offcanvas">
    <ul class="nav">
        <li class="nav-item">
            <p class="sidebar-menu-title">쿡슝 마이페이지 메뉴</p>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#mypage-info" aria-expanded="false"
                                aria-controls="mypage-info"><i class="typcn typcn-user-add-outline menu-icon"></i><span
                class="menu-title">내 정보</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="mypage-info">
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="/my-page">내 정보 관리</a></li>
                </ul>
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="/my-address">내 주소 관리</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#mypage-basket" aria-expanded="false"
                                aria-controls="mypage-basket"><i class="typcn typcn-shopping-cart menu-icon"></i><span
                class="menu-title">장바구니</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="mypage-basket">
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="/carts">장바구니 확인</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#mypage-history" aria-expanded="false"
                                aria-controls="mypage-history"><i class="typcn typcn-th-menu-outline menu-icon"></i><span
                class="menu-title">주문 및 리뷰 내역</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="mypage-history">
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="/my-orders">주문 내역</a></li>
                </ul>
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="/my-review">리뷰 내역</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#mypage-benefits" aria-expanded="false"
                                aria-controls="mypage-benefits"><i class="typcn typcn-th-menu-outline menu-icon"></i><span
                class="menu-title">혜택</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="mypage-benefits">
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="/my-coupons">소유 쿠폰</a></li>
                </ul>
                <ul class="flex-column nav sub-menu">
                    <li><a class="nav-link nav-link-item" href="/my-points">포인트 내역</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>

<footer th:fragment="site-footer" class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        About US
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="mdi mdi-github-circle icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">COOKSHOONG</span>
                        </a>
                        <a href="">
                            <i class="mdi mdi-database icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">ERD-CLOUD</span>
                        </a>
                        <a href="">
                            <i class="mdi mdi-book-open icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">Api Docs</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        CookShoong
                    </h4>
                    <p>
                        쿡슝 프로젝트는 NHN Academy Project 로 제작된 <br> 배달 어플리케이션입니다.
                    </p>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Laboratory
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="mdi mdi-information icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">Information</span>
                        </a>
                        <a href="">
                            <i class="mdi mdi-test-tube icon-sm" aria-hidden="true"></i>
                            <span style="font-size: 0.85rem">Test</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; 2023</span> All Rights Reserved By
                <a href="https://nhnacademy.github.io/">NHN Academy</a><br>
                &copy; 2023</span> Distributed By
                <a href="https://nhnacademy.github.io/">Cookshoong</a>
            </p>
        </div>
    </div>
</footer>
<script>
    function toggleStoreStatus(storeId) {
        const toggleButton = document.querySelector(`input[data-storeid='${storeId}']`);
        const url = `/stores/${storeId}/status?option=${toggleButton.checked ? 'CLOSE' : 'ACTIVE'}`;
        const data = null;
        const method = "PATCH";

        sendDataWithCsrfToken(url, "/", data, method);
    }
</script>
</body>
</html>
