<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Roboto.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/typicons.css">
    <link rel="stylesheet" href="assets/css/vendor.bundle.base.css">
</head>

<body>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <p class="sidebar-menu-title">쿡슝 사장님 메뉴</p>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements"><i class="typcn typcn-th-small-outline menu-icon"></i><span class="menu-title">매장 관리</span><i class="menu-arrow"></i></a>
                    <div class="collapse" id="form-elements">
                        <ul class="flex-column nav sub-menu">
                            <li><a class="nav-link" href="store-register">매장 등록</a></li>
                            <li><a class="nav-link" href="store-info-manager">매장 관리</a></li>
                            <li><a class="nav-link" href="store-time-manager">영업시간 관리</a></li>
                            <li><a class="nav-link" href="store-merchant-manager">가맹점 관리</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts"><i class="typcn typcn-chart-pie-outline menu-icon"></i><span class="menu-title">메뉴 관리</span><i class="menu-arrow"></i></a>
                    <div class="collapse" id="charts">
                        <ul class="flex-column nav sub-menu">
                            <li><a class="nav-link" href="store-menu-manager">메뉴 관리</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables"><i class="typcn typcn-th-small-outline menu-icon"></i><span class="menu-title">주문 관리</span><i class="menu-arrow"></i></a>
                    <div class="collapse" id="tables">
                        <ul class="flex-column nav sub-menu">
                            <li><a class="nav-link" href="store-order-manager">주문 관리</a></li>
                            <li><a class="nav-link" href="store-delivery-manager">배송 관리</a></li>
                            <li><a class="nav-link" href="store-charge-manager">결제 관리</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth"><i class="typcn typcn-user-add-outline menu-icon"></i><span class="menu-title">할인 관리</span><i class="menu-arrow"></i></a>
                    <div class="collapse" id="auth">
                        <ul class="flex-column nav sub-menu">
                            <li><a class="nav-link" href="store-coupon-manager">쿠폰 관리</a></li>
                            <li><a class="nav-link" href="store-point-manager">포인트 관리</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error"><i class="typcn typcn-globe-outline menu-icon"></i><span class="menu-title">리뷰 관리</span><i class="menu-arrow"></i></a>
                    <div class="collapse" id="error">
                        <ul class="flex-column nav sub-menu">
                            <li><a class="nav-link" href="store-review-manager">리뷰 관리</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">영업점 매출 관리 페이지</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">영업점 정보</h4>
                                <form class="forms-sample">
                                    <div class="form-group"><label class="form-label" for="exampleInputName1">영업점 상호명</label><input class="form-control form-control" type="text" id="exampleInputName1" placeholder="Name"></div>
                                    <div class="form-group"><label class="form-label" for="exampleInputName2">영업점 전화번호</label><input class="form-control form-control" type="text" id="exampleInputName2" placeholder="Name"></div>
                                    <div class="form-group"><label class="form-label">영업점 주소</label><input type="file" name="img[]" class="file-upload-default">
                                        <div class="input-group col-xs-12"><input class="form-control form-control file-upload-info" type="text" disabled="" placeholder="메인 주소"><span class="input-group-text input-group-append"><button class="btn btn-primary file-upload-browse" type="button">주소 찾기</button></span></div><input class="form-control form-control" type="text" id="exampleInputName3" placeholder="서브 주소">
                                    </div>
                                    <div class="form-group"><label class="form-label">영업점 대표 이미지</label><input type="file" name="img[]" class="file-upload-default">
                                        <div class="input-group col-xs-12"><input class="form-control form-control file-upload-info" type="text" disabled="" placeholder="영업점 이미지"><span class="input-group-text input-group-append"><button class="btn btn-primary file-upload-browse" type="button">이미지 찾기</button></span></div>
                                    </div>
                                    <div class="form-group"><label class="form-label" for="exampleInputName4">영업점 소개</label><input class="form-control form-control" type="text" id="exampleInputName4" placeholder="이후 editor 적용"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">사업자 정보</h4>
                                <form class="forms-sample">
                                    <div class="form-group"><label class="form-label" for="exampleInputName5">사업자 등록 번호</label><input class="form-control form-control" type="text" id="exampleInputName5" placeholder="사업자 등록 번호"></div>
                                    <div class="form-group"><label class="form-label">사업자 등록증 사본</label><input type="file" name="img[]" class="file-upload-default">
                                        <div class="input-group col-xs-12"><input class="form-control form-control file-upload-info" type="text" disabled="" placeholder="사업자 등록증"><span class="input-group-text input-group-append"><button class="btn btn-primary file-upload-browse" type="button">이미지 찾기</button></span></div>
                                    </div>
                                    <div class="form-group"><label class="form-label">사업자 계좌 번호</label><input type="file" name="img[]" class="file-upload-default">
                                        <div class="input-group col-xs-12"><input class="form-control form-control file-upload-info" type="text" disabled="" placeholder="계좌 번호"><span class="input-group-text input-group-append"><button class="btn btn-primary file-upload-browse" type="button">은행 선택</button></span></div><input class="form-control form-control" type="text" id="exampleInputName6" placeholder="계좌 번호">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body"><button class="btn btn-primary mr-2" type="submit">Submit</button><button class="btn btn-light">Cancel</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/ace.js"></script>
    <script src="assets/js/alerts.js"></script>
    <script src="assets/js/avgrund.js"></script>
    <script src="assets/js/bootstrap-table.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bt-maxLength.js"></script>
    <script src="assets/js/c3.js"></script>
    <script src="assets/js/calendar.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/Chart.min.js"></script>
    <script src="assets/js/chartist.js"></script>
    <script src="assets/js/circle-progress.js"></script>
    <script src="assets/js/clipboard.js"></script>
    <script src="assets/js/codeEditor.js"></script>
    <script src="assets/js/codemirror.js"></script>
    <script src="assets/js/context-menu.js"></script>
    <script src="assets/js/dashboard.js"></script>
    <script src="assets/js/data-table.js"></script>
    <script src="assets/js/db.js"></script>
    <script src="assets/js/demo.js"></script>
    <script src="assets/js/desktop-notification.js"></script>
    <script src="assets/js/dragula.js"></script>
    <script src="assets/js/dropify.js"></script>
    <script src="assets/js/dropzone.js"></script>
    <script src="assets/js/editorDemo.js"></script>
    <script src="assets/js/file-upload.js"></script>
    <script src="assets/js/flot-chart.js"></script>
    <script src="assets/js/form-addons.js"></script>
    <script src="assets/js/form-repeater.js"></script>
    <script src="assets/js/form-validation.js"></script>
    <script src="assets/js/formpickers.js"></script>
    <script src="assets/js/google-charts.js"></script>
    <script src="assets/js/google-maps.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/inputmask.js"></script>
    <script src="assets/js/ion-range-slider.js"></script>
    <script src="assets/js/jq.tablesort.js"></script>
    <script src="assets/js/jquery-file-upload.js"></script>
    <script src="assets/js/js-grid.js"></script>
    <script src="assets/js/js-tree.js"></script>
    <script src="assets/js/just-gage.js"></script>
    <script src="assets/js/light-gallery.js"></script>
    <script src="assets/js/listify.js"></script>
    <script src="assets/js/mapael_example_1.js"></script>
    <script src="assets/js/mapael_example_2.js"></script>
    <script src="assets/js/mapael.js"></script>
    <script src="assets/js/maps.js"></script>
    <script src="assets/js/modal-demo.js"></script>
    <script src="assets/js/morris.js"></script>
    <script src="assets/js/multi-step-login.js"></script>
    <script src="assets/js/no-ui-slider.js"></script>
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/paginate.js"></script>
    <script src="assets/js/popover.js"></script>
    <script src="assets/js/profile-demo.js"></script>
    <script src="assets/js/progress-bar.js"></script>
    <script src="assets/js/progressbar.min.js"></script>
    <script src="assets/js/rickshaw.js"></script>
    <script src="assets/js/select2.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/sparkline.js"></script>
    <script src="assets/js/tablesorter.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/template.js"></script>
    <script src="assets/js/tight-grid.js"></script>
    <script src="assets/js/toastDemo.js"></script>
    <script src="assets/js/todolist.js"></script>
    <script src="assets/js/tooltips.js"></script>
    <script src="assets/js/typeahead.js"></script>
    <script src="assets/js/vendor.bundle.base.js"></script>
    <script src="assets/js/wizard.js"></script>
    <script src="assets/js/x-editable.js"></script>
</body>

</html>