<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{config}">
<head>
    <meta charset="UTF-8">
    <title>결제</title>
    <script src="https://js.tosspayments.com/v1/payment"></script>
    <link rel="stylesheet" href="/assets/css/vertical-layout-light/payment.css">
</head>

<body layout:fragment="content">
<header th:replace="fragments :: user-site-header"></header>
<div th:replace="fragments :: business-store-list"></div>
<div th:replace="fragments :: all-address-list"></div>


<div class="container-fluid page-body-wrapper">
    <div class="content-wrapper">
        <section class="payment-container">
            <div class="payment-header">
                <h1>결제</h1>
            </div>
            <div class="payment-card">
                <div class="payment-card-header">
                    <h2 class="payment-title">주문 정보</h2>
                </div>
                <div class="card-body">
                    <div class="details">
                        <div class="detail-row">
                            <h4 class="detail-label">주문상품</h4>
                            <h5 class="detail-value" th:text="${order.getOrderName()}"></h5>
                        </div>
                        <hr>
                        <div class="detail-row">
                            <h4 class="detail-label">배송지</h4>
                            <h5 class="detail-value" th:text="${order.mainPlace} + ' ' + ${order.detailPlace}">
                            </h5>
                        </div>
                        <hr>
                        <div class="detail-row">
                            <h4 class="detail-label">요청사항</h4>
                            <h5 class="detail-value" th:text="${order.memo}">
                            </h5>
                        </div>
                        <hr>
                        <div class="detail-row">
                            <h4 class="detail-label">가격</h4>
                            <h5 class="detail-value" th:text="${#numbers.formatInteger(order.amount,3,'COMMA')}+'원'">
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer payment-methods">
                    <button type="button"
                            th:onclick="paymentButton('CARD', [[${toss}]], [[${order}]])" id="card2">
                        <span class="text">카드결제</span>
                    </button>
                    <button type="button" disabled
                            th:onclick="paymentButton('EASY', [[${toss}]], [[${order}]])" id="easy">
                        <span class="text">간편결제</span>
                    </button>
                    <button type="button" disabled
                            th:onclick="paymentButton('PHONE', [[${toss}]], [[${order}]])" id="phone">
                        <span class="text">휴대폰결제</span>
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>

<footer th:replace="fragments :: site-footer"></footer>
<script>
    function paymentButton(method, toss, order) {
        const tossPayments = TossPayments(toss.clientId)
        tossPayments.requestPayment(method, {
            amount: order.amount,
            orderId: order.orderId,
            orderName: order.orderName,
            successUrl: toss.successUrl,
            failUrl: toss.failUrl
        })
    }
</script>
</body>
</html>
